[2022-02-05 17:55] szabgab opened #2037 "CI: second push gets green (without running) while first one is still running"
I pushed to main that triggered the CI. While it was running I pushed another change to main. The CI immediately indicated a green mark on this second one. Strange. See screenshot.

![second-ci-is-not-running](https://user-images.githubusercontent.com/48833/152653129-58024072-8c5a-4386-91d2-253fbdc91229.png)

[2022-02-06 09:52] kantord commented on #2037
I am not sure if we can do anything about this. The explanation is that there's a delay in how GitHub detects which tasks need to be run. It is "fixed" after some minutes of waiting.

I'm not sure if it's an issue on GitHub's architecture or Semaphore itself. Maybe both at the same time. I have observed this behavior with GitHub actions and other stuff installed from the GitHub marketplace. Basica

[2022-02-06 09:52] #2037 closed

[2022-02-06 09:53] kantord commented on #2037
the only idea I have is maybe somehow adding something that shows the pipeline to be in progress for a couple minutes

[2022-02-06 09:55] #2012 closed

[2022-02-06 09:55] #1979 closed

[2022-02-06 10:00] kantord commented on #2032
great idea!

do you have a suggestion how it should look visually?

[2022-02-06 10:01] kantord commented on #2035
I support this and one of the main reasons is that shell scripts are difficult to test

[2022-02-06 10:17] szabgab commented on #2037
It is ok, I just wanted to document this behavior as I was surprised. Thanks for the explanation.

[2022-02-15 08:34] kantord opened #2046 "Unuseful error message when mini dictionary has missing language"
In the Houma course, the following error message was produced on the CI: https://github.com/LibreLingo/LibreLingo-Houma-from-EN/runs/5193833437?check_suite_focus=true

it's unuseful as it does not exactly tell what the issue is, and it also does not show which file is at fault. It makes it hard to debug this issue.

[2022-02-15 23:36] mellishim opened #2048 "Mini dictionary doesn't recognize definitions with multiple words?"
Since Houma is a reasonably polysynthetic language, individual Houma words may translate to many words or a sentence in English. In the 01-greetings-1.yaml file, the word "tcematcúkumahũ" in the mini-dictionary has the translation "are you doing well", but the verification run fails, saying I need "doing" in the dictionary (0475b71).

Linguistically, it doesn't really make sense to add "doing," si

[2022-02-16 11:37] cutthroat78 commented on #2048
In the YAML, you can use curly braces "{ }"  to group words together into one definition for the mini-dictionary. In YAML, if you use curly braces you must surround the entire phrase/words in double quotes "

The docs mentioned this below

[Link to page with above excerpt](https://github.com/LibreLingo/LibreLingo/blob/main/docs/courses/skill.md)

Example:
[code]

Hopefully, this answer has helped

[2022-02-17 17:51] cutthroat78 opened #2051 "Idea: Github Course Template Repo"
My idea is to have a repo with an example course that uses the github template feature. People can make their own repos using this repo as a template and just fill in the info needed (for course.yaml) and then start working on the course. The repo can also have courses-ci already in it, so people won't have problems setting that up if they are unexperienced with github actions.

I have made an exa

[2022-02-17 21:47] kantord commented on #2051
Very good idea!

[2022-02-19 23:46] mellishim opened #2055 "Error 500: "Cannot read property 'map' of null""
From https://librelingo.app/course/houma-from-english/, clicking a course will open a blank page, and then upon refreshing, a 500 error with the message shown. However, the "Animals 2" course will sometimes load and work totally fine, other times blank page.

Looks like this was discussed in https://github.com/LibreLingo/LibreLingo/issues/1315 and sounds like it's an image display issue, but there

[2022-02-20 17:02] cutthroat78 commented on #2055
I have been experiencing this too when making and testing some modules of my [toki pona course](https://github.com/cutthroat78/LibreLingo-toki-pona-From-English/blob/8115e842ef2a11373724500fa61cbf9129c73869/course/pu/skills/Place-Names-Oceania.yaml). I have no images in my course though. I believe my issue (and maybe yours) has something to do with the amount of phrases but I am not completely sur

[2022-02-20 20:26] mellishim commented on #2055
@RGBradley have you encountered this with Basque?

[2022-02-20 23:19] RGBradley commented on #2055
i replied by email, but don't know if you got it. You have to have something for images, so if I don't have an image I write nothing.
otherwise the system is looking for a null.jpg file
  - Word: diru
    Translation: money
    Images:
      - nothing
      - nothing
      - nothing

[2022-02-21 07:25] kantord commented on #2055
ok, so it seems like this is something that should be detected when building a course and a user friendly error message should be shown!

[2022-02-22 08:35] kantord commented on #2048
is there a way this could be somehow made more obvious? so that anyone will realize this automatically without even looking at the documentation?

[2022-02-22 15:41] cutthroat78 commented on #2048
Do you mean in the documentation?
Maybe, in the docs you add an examle of curly brace usage into the (skill_name).yaml example and have an example of curly brace usage in the curly brace section

[2022-02-22 18:03] kantord commented on #2048
I mean, for example updating the course format in a way that it makes  it obvious even without updating the documentation. As, of course, the more documentation we write the less chance that people will read and remember everything, so it's best to first think of creative ways to make it so easy that documentation is not needed.

[2022-02-22 19:47] cutthroat78 commented on #2048
Perhaps replace curly braces with some kind of quotes or other character that goes around other characters?
I am not sure how LibreLingo works fully, so I don't know if that is possible

[2022-02-22 20:39] kantord commented on #2048
that is entirely doable, but

- there's a chance that you might want quotes or parentheses in your text, which means it would need to be [escaped](https://en.wikipedia.org/wiki/Escape_character) to differentiate between "quote, the character" vs "quote, the control mechanism to group words"
- the major problem is that you won't know how to use this feature before you see examples of it. It actuall

[2022-02-22 21:10] cutthroat78 commented on #2048
#2051 Perhaps, we could have a curly brace example in an official (and better done) Github Course Template Repo with a comment that has short explanation on curly braces.
We could make an official Github Course Template Repo and merge it with the documentation for creating course.
Other than that I can't think of anything right now but will put it here if I do think of anything

[2022-03-01 12:42] kantord opened #2060 "Disable auto translation in the web app"
https://stackoverflow.com/questions/12238396/how-to-disable-google-translate-from-html-in-chrome

[2022-03-03 14:31] kantord opened #2061 "Document development on Windows"
Add some details to the documentation about how to develop LibreLingo on Windows machines. Document at least these 2 options:

- development using Docker
- development using WSL

[2022-03-11 21:37] szabgab opened #2068 "guidelines for words and expressions to be included and excluded"
While we can assume that all the course authors and contributors are reasonable people we should also recognize that different people have different ideas of what words and expression are acceptable in a conversation and on a application such as LibreLingo.

Some people might get offended by swear words or by the mentioning of certain body parts.

Do we have some guidelines what should be excluded

[2022-03-13 10:48] kantord commented on #2068
We don't have such guidelines right now. So indeed we have to start a discussion.

That's a good point.

Do you think there should also be some kind of automated verification of things that are disallowed? It might be relatively challenging because of course, things might be in various different languages.

So we would need to create a language-aware list of words that are not allowed in any cours

[2022-03-13 16:06] kantord opened #2069 "Remove prettier and install it as an eslint plugin"
This will provide a single linter for TypeScript and JavaScript files instead of having to run 2 different ones. It will also simplify our linting scripts and later allow us to run eslint from jest, only for modified files for added performance

[2022-03-15 06:54] kantord commented on #2069
it still cannot be fixed fully, because it looks like the prettier plugin for svelte is not compatible with the eslint plugin for prettier. so, probably running prettier separately will still be needed for *.svelte files

[2022-03-15 07:09] #2069 closed

[2022-03-16 17:29] kantord opened #2074 "Verify that Basque course is being properly and automatically deployed"

[2022-03-18 05:20] szabgab opened #2075 "Make "New words" and "Phrases" optional"
I have "skills" that only have entries in the "Two-way-dictionary" . No "New words" and no "Phrases" ?
It makes it easy for me to create categories of words. (e.g. animals).
However now i need to include:
[code]
Would it be ok to make these fields optional, just as `Two-way-dictionary` and `Mini-dictionary` are optional?

[2022-03-18 05:24] szabgab opened #2076 "Test the "test course""
Create a test that will load the `courses/test` and compare the results with `apps/web/src/courses/test/`

[2022-03-18 15:56] szabgab opened #2078 "Make it easy to run tests locally"
In order to prevent to avoid making the CI fail I run some of the CI tests locally (when I don't forget it). For this I use the following script
that takes 30 seconds to run on my computer.

[code]

I call it `check.py`

IMHO it would be nice to add this script to the repo to make it easier to maintain.
What other tests could I run locally?
If you think it is a good idea to add it, where should I

[2022-03-20 16:44] #2076 closed

[2022-03-20 16:47] szabgab commented on #1803
All the courses are now in separate repos

[2022-03-20 16:47] #1803 closed

[2022-03-20 17:33] kantord commented on #2078
you run it every 30 seconds? that's a lot, no? isn't it enough to run them before you commit? we can add them in a pre-commit hook.

by the way, I think there's a simpler way to go. Right now in the CI we have 2 providers for running pipelines:

- GitHub Actions
- Semaphore CI

There's a tool for running GitHub actions locally using Docker: https://github.com/nektos/act

So, if we migrate everythi

[2022-03-20 17:36] kantord commented on #2075
hmm, there's a good reason to not let these to be empty and it is to force course authors to distribute content in their course more evenly (keep having some words even late in the course in order to tone the difficulty down a little bit)

Also, if you create these skills with no real content, they actually show up as (unusable) skills in your course, no?

I think a better solution would be to cre

[2022-03-20 17:40] szabgab commented on #2078
No, it takes 30 seconds :) I run it before I commit. If I don't forget.

[2022-03-20 20:25] #2018 closed

[2022-03-21 08:57] kantord opened #2079 "Add "go back" button to course introduction pages"
Modify this page: https://github.com/LibreLingo/LibreLingo/blob/eba232b43ab98606a71d9253024ab50ea8a26e5c/apps/web/src/routes/course/%5BcourseName%5D/skill/%5BskillName%5D/introduction.svelte

so that there's a way to go back to the main page of the same course. There's already a button that starts practicing the skill, so this button will be added in addition to that.

It should be very simple. Ju

[2022-03-21 21:38] kantord opened #2080 "user accounts: store what language the user is learning and what other languages they have started"
when the user logs in, they should be redirected to the same course that they have last learned

also, there should be a list of courses that the user is currently learning

this task is only about first implementing the data storage for those features

[2022-03-22 20:29] ebethwu commented on #2032
I am planning to work on this!

[2022-03-24 09:03] kantord commented on #2069
:tada: This issue has been resolved in version @librelingo/answer-corrector-v1.2.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@librelingo/answer-corrector/v/1.2.0)
- [GitHub release](https://github.com/LibreLingo/LibreLingo/releases/tag/%40librelingo/answer-corrector-v1.2.0)

Your **[semantic-release](https://github.com/semantic-release/se

[2022-03-27 06:00] szabgab opened #2104 "Allow for two sets of special characters"
For courses where both the source and the target language have special characters (Eg. Hungarian-Greek) we'll want to have two separate sets of special characters.

[2022-03-27 06:01] szabgab opened #2105 "Short input challenge in the target=>source direction?"
Are there "Short input challenges" in which the user needs to type in in the source language and not the target languages?
IMHO those could be also created. For that, however we'll need #2104

[2022-03-28 06:50] kantord commented on #2104
That's a very good point

[2022-03-29 16:42] cutthroat78 opened #2119 "Can't use unicode character U+0332 in my Oneida Course"
In the Oneida langauge, underlining a part of the word means to whisper that part of the word. Typically, on computers the unicode symbol [U+0332](https://unicode-table.com/en/0332/) is used for underlining and I would like to have this character as a special character in my course, however I can't specify it in the course.yaml because it modifies the character before it. (It ends up making "̲", w

[2022-03-29 17:04] kantord commented on #2119
Does this work?

[code]

according to the yaml specification, that's how it should work. (at least that's what I found here: https://stackoverflow.com/questions/35746109/how-to-do-unicode-escaping-in-yaml-multiline-string)

That being said, I'm wondering how this button will be rendered as this is not a conventional character by any means. Perhaps, we will need to find a way to specify a button la

[2022-03-29 17:50] cutthroat78 commented on #2119
Thank you, this works!
Here is what it looks like
![image](https://user-images.githubusercontent.com/55604778/160673672-1287f1a0-096a-492d-9275-e6654a994eaf.png)

I think the value and button label idea you have said there may be a good idea, as it looks strange

(I would rather the underline look like an underline (like in your first button label example) as this is just how the language is writt

[2022-04-02 00:44] mellishim opened #2124 "Different forms of the same morpheme/word"
Hi all, in the following example, both "elú-" and "elúh-" mean "we all" but the latter gets marked as incorrect. They're [both](https://github.com/LibreLingo/LibreLingo-Houma-from-EN/blob/main/course/07-ActiveMarkers/skills/07-activemarkers-2.yaml) accurately represented in the 'new words' section and the mini-dictionaries. How can I set up the module so that either one is accepted?

<img width="1

[2022-04-02 00:50] #2124 closed

[2022-04-02 00:50] mellishim commented on #2124
Nvm. Had a typo. Carry on!

[2022-04-07 22:38] rodrigo-pova commented on #2079
Hello @kantord! I'd like to handle this issue as my first contribution to an open source project 🤓.

[2022-04-08 07:27] kantord commented on #2079
Hi @rodrigo-pova perfect! :rocket:

let me know if you need any help

[2022-04-08 10:52] rodrigo-pova commented on #2079
I'm getting this error as I try to push my branch to the remote
<img width="817" alt="Screen Shot 37" src="https://user-images.githubusercontent.com/83843080/162421653-ef9175c9-1fe6-4baa-b708-7bf5f511c812.png">
I cloned the repo, checked out to a new branch, made the changes and tried to push 🤔. Am I doing something wrong?

[2022-04-08 13:54] kantord commented on #2079
you need to create your own fork of this repo, push the changes in your own fork and then create the pull request. You are able to create a pull request into the original repo by pushing the branch into your fork

[2022-04-12 18:07] #2079 closed

[2022-04-12 18:55] kantord commented on #2079
@rodrigo-pova would you be interested in doing another pull request? If so, please let me know. I'm happy to help you find the best issue to pick.

Another thing you could do is create a follow-up merge request for your contribution. Basically, you could add an end-to-end test using Cypress. To do that, you'd simply have to extend the following cucumber feature file:

https://github.com/LibreLingo

[2022-04-14 10:35] kantord commented on #2069
:tada: This issue has been resolved in version lluis-v1.8.1 :tada:

The release is available on [GitHub release](https://github.com/LibreLingo/LibreLingo/releases/tag/lluis-v1.8.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-02 16:11] nathancoooper opened #2190 "No images of phones"
There are currently no pictures of phones within the web/static/images folder.

[2022-05-15 10:39] kantord commented on #2190
Hi @nathancoooper in order to fix this you can choose images from unsplash and create a pull request like this: https://github.com/LibreLingo/LibreLingo/pull/2204

I'll then deal with fetching the images into the static folder

[2022-05-17 20:10] ajsultanov commented on #2011
This is an issue with **all** the links in the Navigation component. They work fine if you are viewing the [README page](https://github.com/LibreLingo/LibreLingo/blob/main/README.md) on GitHub, but the anchor text in the links replaces "/about" in the URL when viewed on the [web page](https://librelingo.app/about). You could append "about" to all the link URLs ("about#using-librelingo", "about#mil

[2022-06-16 18:50] kantord opened #2280 "LibreLingo logo should lead back to the course home page, not the main landing page"
On all pages that are associated with a course, the LibreLingo logo on the top left corner of the page should lead back to the main page of the course, rather than the main landing page. This is because most people are most likely to only study one language, so most likely they will want to go back to that page. Once the landing page is improved, we can add an alternative way to go back to that pa

[2022-06-26 20:38] vandersdg opened #2292 "I want to add a new course"
Hello, I just finished a pt-BR course for English speakers but I am not sure how can I add it to your repo. I am still a newbie using git but here it is: [https://github.com/vandersdg/LibreLingo-ptBR-from-EN](url)

[2022-06-26 23:10] cutthroat78 commented on #2292
I have made a [pull request](https://github.com/vandersdg/LibreLingo-ptBR-from-EN/pull/1) on [your repo](https://github.com/vandersdg/LibreLingo-ptBR-from-EN)

In the pull request, I added to your course.yaml a feature that has LibreLingo auto create and put audio into the lessons using Amazon Polly, when it is being deployed to librelingo.app.

For the course to be on librelingo.app, @kantord (or

[2022-06-27 18:10] vandersdg commented on #2292
Thank you very much!

[2022-06-28 10:21] tomkoid opened #2299 "Fix login system"
Hello,
I am having problem with registering on LibreLingo. It seems, that something is loading and it never loads.
![Screenshot_20220628-121718_Brave](https://user-images.githubusercontent.com/67477750/176155400-6ddcaedc-5bed-4fae-a144-ee33ef87ddb5.png)
I tried it on mobile, desktop (even on Firefox) and nothing seemed to work.

[2022-06-28 14:54] cutthroat78 commented on #2292
I have made another pull request on your repo, adding courses-ci and fixing some issues that courses-ci pointed out

[2022-06-28 17:52] vandersdg commented on #2292
On it!

[2022-07-01 14:51] kantord commented on #2292
@vandersdg let us know if you need some more help fixing the remaining issues!

[2022-07-07 12:23] dimkard opened #2314 "Improve course loading performance"
The load of large courses is a time-consuming process. My relatively old 4 x core workstation loads the basque course in ~ 34 seconds while on the pinephone the basque course loads after several minutes.

Using the cProfile profiling tool I get these results:

[code]

Regardless of the overhead that the profiler adds to the execution time, the root cause of the performance issues seems to be the `

[2022-07-09 11:11] kantord commented on #2314
even the 34 seconds is too long, but regarding the pinephone case, I would recommend you to generate static files instead of loading the course each time the app is loaded. Maybe pickling the loaded courses is an option?

[2022-07-09 11:16] kantord commented on #2314
why would it not provide the same results? :scream_cat:  did you see some documentation that points to this? or just a general suspicion?

Regarding it not being available, I suppose it's always possible to create a feedback version if it's not available, right?

[2022-07-09 12:20] dimkard commented on #2314
Well, investigating the issue I stumbled upon [this](https://github.com/emissary-ingress/emissary/issues/1294) comment. So, I gave it a try...

[2022-07-09 13:00] dimkard commented on #2314
Yes, pickling the objects and creating a cache of loaded courses is a nice idea!

[2022-07-12 00:44] vandersdg commented on #2292
@kantord I just fixed the issues :smile:

[2022-07-13 06:54] kantord commented on #2292
nice

[2022-07-13 07:01] kantord commented on #2292
@vandersdg I forked your repo into the LibreLingo organization in order to have it in the organization. The benefit of this is that it will be easy to find for anyone who is browsing the LibreLingo organization on github searching for courses.

[2022-07-13 07:19] kantord opened #2320 "Have an "owners" array in course.json"
course.json should be the single source of truth for the list of courses in LibreLingo. As such, it should have a list of contacts for the maintainers/owners of the course, for example in case they need to be contacted due to a technical issue.

The array should look like this:

[code]

the only thing I'm worried about is revealing emails to spammers. So it should be a masked email somehow, either

[2022-07-13 07:35] kantord commented on #2292
I have added a commit to enable this course: https://github.com/LibreLingo/LibreLingo/commit/a66c3cb9435fa19b29827cd6bcf3908375da4931

let's hope that everything will pass for the first try :smile:  I also had to fix some other things because the deployment was already failing for some reason

[2022-07-13 07:43] kantord opened #2321 "Add another layer for deployment to prevent issues"
I have noticed that despite the course ci being in place, it's still possible for course repos to fail the overall deployment. The reasons are:

- the course CI is only on GitHub
- manual changes to the tags in a repo could still break the "last passing"
- the repo could disappear due to various reasons, such as it being deleted, renamed or migrate to another github organization or out of github a

[2022-07-14 12:01] cutthroat78 commented on #2320
My idea is to encode the email address in something like rot13 and have librelingo display the information on the main page for the course under a button name authors or maintainers or owners. You could also have it, so that only users with an account can see the info to spammers from seeing the email (and have a captha on the sign up and log in page to stop bots making accounts)

[2022-07-15 07:27] kantord commented on #2320
hmm, is there a simple and effective way to have a captcha without relying on Google or a similar company? :thinking:

[2022-07-15 07:28] kantord commented on #2320
it has to be noted, that maintainers will expose their emails when they are pushing to git since git does not mask the emails. so perhaps as long as it's the same email, there's no point in actually masking it?

for example I use a separate email address for git, and I already get a bunch of spam on that one just by pushing code to github

[2022-07-15 17:19] cutthroat78 commented on #2320
I can't see any good open-source captcha or alternative non-company captchas.
I use a simplelogin.io email alias for git and GitHub and if I get spam I deleted the old alias and make a new one

[2022-07-18 06:47] #2292 closed

[2022-07-18 06:49] kantord commented on #2320
Perhaps it can be said that it's ok to ask the author to include the same email they include in their git commits to begin with. As this should not really cause any added exposure to spammers :thinking:  But I'm not sure, I'm still looking for some input on this one

[2022-07-19 02:35] vandersdg commented on #2292
Awesome mate! Thanks for your support, I will be contributing as much as I can :)

[2022-07-19 07:38] kantord commented on #2314
actually, in your case even the safety is a bigger concern, right? I mean, for the web deployment process we can isolate the course build process from other parts of the deployment and completely isolate it from the app itself (no python involved there)

but your app actually loads the yaml files directly into the app, right?

[2022-07-23 11:52] dimkard commented on #2314
Exactly.

In specific, yamls and exports of courses available in Glossaico are [packaged](https://codeberg.org/dimkard/glossaico-data/tags) independently to decouple course content updates and Glossaico code updates.

When Glossaico starts, it checks [here](https://dimkard.codeberg.page/glossaico/configuration.yaml) for course content updates.

If updates are found, it fetches the updated yaml+exp

[2022-08-02 10:15] spankyed commented on #753
For the love of god please mute sounds on headless tests.

[2022-08-04 10:21] yulyasystem commented on #2280
I'm happy to help with it :)

[2022-08-10 00:12] iopq opened #2362 "Too picky with articles in Spanish"
I think being too strict will confuse users

![Screenshot from 2022-08-10 08-10-18](https://user-images.githubusercontent.com/1817528/183782928-a38d6a2c-fa4e-4931-89fb-a695628c5c4d.png)

especially since I am clearly clicking on a cat

[2022-08-10 01:06] iopq commented on #2362
wrong repo

[2022-08-10 01:06] #2362 closed

[2022-08-21 13:57] kantord opened #2382 "Release redesign"
@sandraor

- [ ] Find solution for and implement tooltips (Daniel)
- [ ]

[2022-08-22 05:52] kantord commented on #2382
@allcontributors please add @sandraor for design and code

[2022-08-22 05:54] kantord commented on #2119
Hi @cutthroat78 if I understand correctly, there isn't anything left to do here right now. If I misunderstood, please re-open the issue and describe what else is needed

[2022-08-22 05:54] #2119 closed

[2022-08-22 05:55] kantord commented on #2280
this is fixed by @yulyasystem  in https://github.com/LibreLingo/LibreLingo/pull/2357

[2022-08-22 05:55] #2280 closed

[2022-08-22 06:11] kantord opened #2386 "Officially release Basque course"
Todo list:

- [ ] Find a list of places to announce the official release in in order to draw some initial attention to the course
- [ ] Link the Basque course on the home page
- [ ] Fix registration bug: https://github.com/LibreLingo/LibreLingo/issues/2299
- [ ] Create some community for the Basque course on Matrix or somewhere else

[2022-08-22 06:13] kantord commented on #2386
@RGBradley do you have some website or other contact link that you want to advertise in the places where we announce the launch? I think it could be useful

[2022-08-22 06:20] kantord commented on #2386
Here's a list of places where I think it would be a good idea to make an announcement:

## Reddit

- https://www.reddit.com/r/basque/
- https://www.reddit.com/r/basquecountry/
- https://www.reddit.com/r/spain/
- https://www.reddit.com/r/linguistics/ (not so sure about this one, but it's not among the list of not allowed content)
- https://www.reddit.com/r/languagelearning/
- https://www.reddit.com

[2022-08-22 06:51] kantord commented on #2386
@RGBradley do you perhaps know some more places where the announcement could be made? Perhaps there are some forums and websites for the Basque learning/teaching community?

[2022-08-23 01:49] cutthroat78 commented on #2119
Sorry, I forgot to close this issue, whoops

[2022-08-23 18:43] Lamdarer commented on #2386
There probably is some sort of (Inter-/National) Basque Community or some kind of "Central Council of Basque Speakers", a Basque university or Basque Country Government education institution which could be kindly informed about it.
If it hits a nerve there might even be some professional Basque speakers taking a look at the course and Basque ppl who find it useful might recommend it to their Basqu

[2022-08-23 19:41] kantord commented on #2386
yes, that's a good idea and I agree. I wonder if it's a good idea to release this thing in stages though. Perhaps release in stages? I'm thinking it's probably also not the best idea to post it all over reddit just in one day. What do you think?

[2022-08-23 23:35] RGBradley commented on #2386
As I mentioned in the email, the only place I can think of is https://buber.net/Basque/ which has a wide following. The main problem I see is getting feedback: suggestions, corrections, etc. I can also see if it gets a lot of users right off, I will be quickly overwhelmed, so probably better to let it grow slowly. As for the comment about the readme file  having links for contacts, would that be a

[2022-08-24 04:25] kantord commented on #2386
that's probably a good idea.

What would be your plan to release it then?

[2022-08-24 04:27] kantord commented on #2386
If you are comfortable to add your email, Twitter or some other way people can contact you personally that's great. Apart from that I would basically add links to the LibreLingo repo itself and some explanation on how to interact with the course and such.

[2022-08-25 19:50] allyson7 opened #2400 "Bug: in practices, when you rearrange some words, it doubles some words, causing to get the answer wrong"
On pratice that you have to rearrange the words to form the translate phrase, if you select the word and click to remove many times, it will cause to double the word, and even if you put the correct phrase, it will show an wrong answer warn.

https://imgur.com/a/u19WgmR

[2022-08-30 04:55] kantord commented on #2400
wow. how can I reproduce this issue?

[2022-08-30 05:02] kantord opened #2409 "Add instructions on how to install the development environment on Ubuntu"

[2022-08-30 12:16] allyson7 commented on #2400
On the "practice animals" from the Spanish course, on the step that you have to complete the phrase clicking on the words to form the sentence, if you click on one word, then click to remove, then click to add it again, it lock the word in the input, and if you click to remove it, it will create another word below.

https://imgur.com/a/SHsXTR0

[2022-09-04 03:34] RGBradley commented on #2386
I have an account DuoBasque@gmail.com which can be used for the course  to get feedback
maybe we could put in the introduction or if you could have messages sent to it from a comments section for the course

[2022-09-04 03:35] RGBradley commented on #2386
I don't have a reddit account, so could you do the announcement?

[2022-09-05 06:21] kantord commented on #2409
updated docs https://librelingo.app/docs

[2022-09-05 06:21] #2409 closed

[2022-09-06 18:43] WannaDonate opened #2420 "More donation options"
Hi,

After the horrendous update to Duolingo, I started looking around for alternatives and stumbled upon this project, which is not there yet. However, I would like to contribute to it and donate monthly. Paypal does not allow this.

Could you please provide other methods of donating?
Libera pay allows using Stripe to transfer to a bank account and credit card donations.

If you feel so inclined

[2022-09-07 07:13] kantord commented on #2420
Hi there @WannaDonate! :wave:

Do any of the payment options provided by GitHub Sponsors work for you? https://github.com/sponsors/kantord

[2022-09-07 17:47] WannaDonate commented on #2420
Unfortunately not and I have no idea why.

![image](https://user-images.githubusercontent.com/112977651/188943692-a510e78e-5bda-48cb-9ca8-6277e21b4091.png)

The message is just "it didn't work" :shrug: . Could you enable credit cards or "Stripe"  on liberapay?
![image](https://user-images.githubusercontent.com/112977651/188944868-65149add-11e9-4c5d-b58a-0a807d63ca9f.png)

Not sure what Microsoft's

[2022-09-10 09:10] WannaDonate commented on #2420
Looks like the problem is that Github only accepts donations in dollars and that costs quite a bit to exchange so I'd have to clear it with my bank first, which means sending them a physical mail + signing something or showing up there physically. I'd love to donate, but this is too much effort for a one time donation. I'll see if there's to contribute in another way.

Thanks for the project nonet

[2022-09-19 07:27] kantord commented on #2386
Yes of course, that's not a problem! :+1:

[2022-09-19 07:31] kantord commented on #2386
sure, I think that should work

[2022-09-20 16:37] #1816 closed

[2022-09-20 16:37] kantord commented on #1816
this is already implemented

[2022-09-25 07:27] kantord opened #2436 "Create convenient way to export just a single course"

[2022-09-25 07:33] kantord opened #2437 "When 'Phrase' is misspelled (for example 'Phase') a completely useless error message is reported"
Acceptance criteria:

- When such a spelling mistake is introduced, the error message is helpful in
  * Finding out where the error is
  * Figuring out how to fix it

Note: the error does not have to be so specific and say `You misspelled "Phrase" as "Phaser"` it's enough to say something like `Key "Phrase" not found. Keys found: "Phaser", "Translation"`

And ideally the solution to this would of

[2022-09-25 07:37] kantord opened #2438 "Add JSON schema validation for courses"

[2022-09-25 08:13] kantord opened #2439 "Simplify running the scripts"
Instead of having to do this in order to set up dependencies:

[code]

It would be nice to just do this:

[code]

and run all scripts directly from that environment

[2022-09-25 08:16] kantord opened #2440 "Run all poetry install scripts in the pipeline individually"
Apparently the fact hat

[code]

runs successfully does not imply that also

[code]

will also run successfully. In other words there can be dependency or configuration issues in those modules that don't fail the monorepo install, so in order to to make sure that all the packages are correctly configured, we need to run all of them individually

[2022-09-25 09:45] kantord opened #2441 ""eau, s" is detected to be one word"
For some reason, in the following phrase:

[code]

the phrase is split into words in a weird way, because the following is detected to be a word:

[code]

[2022-09-25 11:51] kantord opened #2442 "Virtual keyboard is cut in half (listening challenge, language with lot of characters)"
Reproduce;

- Navigate to https://librelingo.app/course/french-from-english/skill/animals/
- skip to a listening challenge

Screenshot:

![2022-09-25T13:49:17+02:00](https://user-images.githubusercontent.com/3704904/192141950-4fd7cf52-463a-484c-9d40-2239bf4c7b31.png)

[2022-10-05 21:45] DanielGall500 commented on #2442
Hi! I'd like to start working on this project and will take up this issue. :)

[2022-10-09 15:44] #2442 closed

[2022-10-09 20:50] kantord opened #2466 "Port Python code style checks (black, pylint) to GitHub Actions"
[Look at this commit](https://github.com/LibreLingo/LibreLingo/pull/2465/commits/a09e4899f55d7e53b17fb569197fc2f3cf676c45) that ports the `mypy` checks from Semaphore CI to GitHub Actions: https://github.com/LibreLingo/LibreLingo/pull/2465/commits/a09e4899f55d7e53b17fb569197fc2f3cf676c45

This task should be very simple, just repeat the same step for `black` and `pylint`, so that all of those chec

[2022-10-09 21:42] Frey0-0 commented on #2466
I would like to work on this issue. Can you please assign it to me?

[2022-10-10 06:08] kantord commented on #2466
sure @Frey0-0 ! :1st_place_medal:

[2022-10-10 17:39] Frey0-0 commented on #2466
@kantord I have completed this issue and also made a PR. Can you please assign this issue a hacktoberfest label as well?

[2022-10-10 21:05] kantord commented on #2466
I think it's not necessary to assign such a label to the issues itself, the label is already assigned to the project. If you log in into your hacktoberfest profile, you should be able to see your PR already. Do you see it?

[2022-10-10 21:05] #2466 closed

[2022-10-10 21:15] kantord opened #2479 "GitHub Actions: run Python checks on OS X"
In [a previous pull request](https://github.com/LibreLingo/LibreLingo/pull/2465/commits/cc1d5809d0bcc61d0c12077be00751fefcf6708e), I ported our Python checks to GitHub Actions.

In that pull request, I only made the tests work on Ubuntu, not on OS X or Windows. This is because, while not much should change between the platforms, due to some small differences the pipeline was failing.

**In this ta

[2022-10-10 21:15] kantord opened #2480 "GitHub Actions: run Python checks on Windows"
In [a previous pull request](https://github.com/LibreLingo/LibreLingo/pull/2465/commits/cc1d5809d0bcc61d0c12077be00751fefcf6708e), I ported our Python checks to GitHub Actions.

In that pull request, I only made the tests work on Ubuntu, not on OS X or Windows. This is because, while not much should change between the platforms, due to some small differences the pipeline was failing.

**In this ta

[2022-10-10 22:43] Frey0-0 commented on #2466
oh yes, I do see it thanks @kantord for the information :)

[2022-10-11 17:07] szabgab commented on #1928
@LokeshShelva , I am not the boss here, but unless @kantord  has anything else to say, you can

[2022-10-11 18:00] kantord commented on #1928
sure @LokeshShelva , go for it!

[2022-10-12 08:40] LokeshShelva commented on #1928
Ok, Thank you

[2022-10-19 19:09] kantord opened #2497 "Document how to handle names in the mini-dictionary"
Example error:

[code]

Acceptance criteria:
- The documentation should include information about how to handle names in the mini-dictionary

[2022-10-19 19:11] kantord opened #2498 "Document how to handle grammatical gender in the mini-dictionary"
Example error:

[code]

Acceptance criteria:
- The documentation should include information about how to handle gender in the mini-dictionary

[2022-10-19 19:16] kantord commented on #2441
Another example that fails:

[code]

it's because in French, `?` has a space before it

[2022-10-20 05:46] kantord opened #2499 "Code style: fix 2 instances of lines that are too long"
Earlier, pylint was set up to enforces that lines don't get too long. However, automatic formatting does not solve that issue in some cases, so 2 instances where this pylint rule is ignored were introduced. See this code for those 2 examples of `# pylint: disable=line-too-long` while also making sure that the tests no longer fail. So you need to manually edit the lines that create the problem.

ht

[2022-10-20 07:43] #1885 closed

[2022-10-20 08:15] dimkard opened #2501 "Upgrade pyyaml for librelingo-yaml-loader"
At the moment, the librelingo-yaml-loader application makes use of version 5 of pyyaml.
I have tested librelingo-yaml-loader and found no issues. I suggest that we upgrade to version 6.

[2022-10-20 08:25] rsk2 commented on #2499
@kantord, can I work on this?

[2022-10-23 18:01] kantord commented on #2499
of course @rsk2 go for it! :rocket:

[2022-10-24 07:05] vanshv commented on #2501
Hi, I've added a PR for this issue.  #2511

[2022-10-24 12:48] Harsh-Singh-Rajput commented on #2437
@kantord can you provide the source where and how to reproduce this error?

[2022-10-25 03:21] rsk2 commented on #2499
Hi @kantord, I have created a pull request for this issue.

[2022-10-25 04:43] kantord commented on #2437
Hi @Harsh-Singh-Rajput, I can't point you to the exact source locatoin

[2022-10-25 04:52] kantord commented on #2437
Hi @Harsh-Singh-Rajput, I cannot point you to the exact source location unfortunately, but it should be relatively easy to figure out after seeing the traceback from the error. You should be able to see the traceback if you reproduce the error.

To reproduce the error, you should

- [Set up your local development env](https://librelingo.app/docs/#setting-up-the-development-environment)
- Introduce

[2022-10-25 04:56] kantord commented on #2437
hi @Harsh-Singh-Rajput I also updated the description with some acceptance criteria in order to clarify the issue

[2022-10-25 04:59] Harsh-Singh-Rajput commented on #2437
@kantord ohk thanks I will try to solve it.

[2022-10-25 08:39] ztjhz commented on #2480
I can try this!

[2022-10-26 05:34] kantord commented on #2480
go for it @ztjhz ! :rocket:

[2022-10-26 07:25] kantord commented on #2479
for some reason I cannot assign you @vil02 :sweat_smile:

[2022-10-26 07:26] kantord commented on #2479
Maybe it's only possible if you comment on the issue

[2022-10-26 09:06] ztjhz commented on #2480
@kantord I added the github action for windows and encountered some [file path related problems](https://github.com/ztjhz/LibreLingo/actions/runs/3327166721/jobs/5501652417). Windows utilises `\` while Linux utlises `/`. Please advise on how you would like proceed.

[2022-10-26 12:13] imohib commented on #753
Any progress?

[2022-10-26 13:20] ztjhz commented on #2480
I have fixed this issue! 🎉

[2022-10-26 17:19] #2441 closed

[2022-10-27 17:19] #2480 closed

[2022-10-31 18:48] vil02 commented on #2479
@kantord I think that this issue can be closed because of #2518

[2022-10-31 19:00] vil02 commented on #2439
Is it still open? Note that
- the [`Python verifications`](https://github.com/LibreLingo/LibreLingo/blob/0673c9e66280faf11885cfdbaa28bff04480bd54/.github/workflows/python.yml#L24) simply use `poetry install`,
- it seems to me that this is already treated in [`pyproject.toml`](https://github.com/LibreLingo/LibreLingo/blob/0673c9e66280faf11885cfdbaa28bff04480bd54/pyproject.toml#L13).

Or do you refe

[2022-10-31 20:57] kantord opened #2531 "Enable TTS in French course"

[2022-11-05 09:30] #2479 closed

[2022-11-05 09:31] kantord commented on #2437
How's it going @Harsh-Singh-Rajput ? Need any help here?

[2022-11-05 09:32] kantord commented on #2439
It's still open but it's very well possible that the issue can no longer be reproduced. In that case the only thing to do here is to change the documentation to reflect this simpler way to install it.

[2022-11-07 06:46] #2499 closed

[2022-11-13 11:15] #1924 closed

[2022-11-13 17:09] djgoreli commented on #2437
Hi, could I take a look into solving this issue? Thanks!

[2022-11-13 17:18] djgoreli commented on #2438
Hi I would be interested in looking at this task!

[2022-11-13 17:34] djgoreli commented on #2075
I would be interested in taking a look at this task!

[2022-11-14 02:59] fitrahfm commented on #1663
I would like to do this and let you know my results.

[2022-11-14 06:12] kantord commented on #1663
ok @fitrahfm ! go for it! :rocket:

[2022-11-14 07:13] fitrahfm commented on #1663
@kantord according from ts-loader [changelog](https://github.com/TypeStrong/ts-loader/blob/main/CHANGELOG.md#v900) the minimum version of webpack is 5. Then I just found out that the current webpack version is 4

[code]

Should I go to upgrade the webpack?

[2022-11-14 07:38] kantord commented on #1663
sure, give it a try!

[2022-11-18 23:26] RGBradley commented on #2386
Hi Kantord
I see the registration is still not working. Hope it gets fixed soon so users can make comments.
Also see that Basque is still not public.
Has there been any work on using the Omnilingo speech system in LibreLingo? Spanish pronunciation is close enough that it could be used for Basque. Purists would complain, but most Basque speaker in Spain use Spanish pronunciation.
best wishes
rick

[2022-11-24 08:00] kantord commented on #2386
This is not related to users ability to make comments, right? I mean, for now, feedback is not a logged in feature

It is not, should I make it public immediately? That takes almost no work, I mean, I can just add a button for that

Omnilingo? That's not meant to be integrated into LibreLingo, but there is a similar system built in. However, in order to make it work for Basque we should do this ta