[2019-12-09 20:03] kantord opened #2 "Implement code coverage"
## Challenges

- We need to combine multiple test runner results (Django + Jest + Cypress)
- codecov.io would make that easy, but it seems like it doesn't work with Semaphore 2.0
- We want coverage for Cypress tests, but it isn't trivial to set up with Svelte yet (what I found: https://github.com/bahmutov/cypress-and-jest)

## Expected behavior

- We have a single combined coverage percentage for

[2019-12-09 22:00] kantord opened #3 "evaluate pouchdb for implementing syncronisation between backend and IndexedDB"
https://pouchdb.com/

[2019-12-17 21:28] #3 closed

[2019-12-20 12:45] kantord opened #7 "use custom events instead of passing down callbacks"

[2019-12-21 16:14] kantord opened #8 "on mobile, display 4 cards instead of 3"

[2019-12-27 00:07] kantord opened #12 "Display spelling errors when answer is accepted"

[2019-12-28 09:06] kantord opened #13 "Statically build all course material"

[2019-12-28 09:06] kantord opened #14 "Improve course page design"

[2019-12-28 09:06] kantord opened #15 "Improve navbar"

[2019-12-28 09:07] kantord opened #16 "Add listening exercises"

[2019-12-28 09:07] kantord opened #17 "Improve README"

[2019-12-28 09:07] kantord opened #18 "Add contribution notes"

[2019-12-28 09:07] kantord opened #19 "Take donations"

[2019-12-28 11:57] #15 closed

[2019-12-28 13:44] #12 closed

[2019-12-28 13:51] #13 closed

[2019-12-28 19:54] kantord opened #24 "Improve home page"

[2019-12-28 19:55] kantord opened #25 "Register finished skills"

[2019-12-29 20:56] #14 closed

[2019-12-29 20:58] kantord opened #26 "Sometimes submitting with return key doens't work with text input challenges"

[2019-12-29 21:45] kantord opened #27 "Fix page titles"

[2019-12-29 22:08] kantord opened #28 "Unlearned words should always show up as card challenges"

[2019-12-29 22:56] #27 closed

[2019-12-29 23:30] kantord opened #31 "Improve theme"

[2020-01-03 23:11] kantord opened #35 "Skill summary: display all new words or expressions"
Cut short with CSS ellipsis

[2020-01-03 23:33] kantord commented on #35
https://css-tricks.com/line-clampin/

[2020-01-03 23:44] kantord commented on #35
https://dev.to/temmietope/how-to-truncate-multi-line-string-with-pure-css-4fc9

[2020-01-03 23:48] kantord commented on #35
https://caniuse.com/#search=line%20clamp

[2020-01-09 11:29] #35 closed

[2020-01-09 21:02] kantord opened #39 "Correctly set spell checking language in input fields"

[2020-01-09 21:03] kantord commented on #39
actually, it should just be disabled

[2020-01-11 12:40] #26 closed

[2020-01-15 10:40] #39 closed

[2020-01-15 21:57] #8 closed

[2020-01-16 10:49] kantord opened #44 "Show picture when asking to type word in target language"
Picture should be optional. One image should be displayed randomly from the imageset if it's provided

[2020-01-16 15:26] kantord opened #45 "short text input challenge: case errors should not be considered spelling errors"

[2020-01-16 15:29] kantord opened #46 "iOS: keyboard doesn't pop up automatically"

[2020-01-16 19:58] #45 closed

[2020-01-17 17:25] #24 closed

[2020-01-17 17:25] #31 closed

[2020-01-17 19:25] kantord commented on #45
@all-contributors please add @kantord for code

[2020-01-19 10:17] #46 closed

[2020-01-19 17:40] #28 closed

[2020-01-22 17:32] kantord opened #51 "handle conflicts in the database"
https://github.com/redgeoff/delta-pouch

[2020-02-06 21:00] #44 closed

[2020-02-06 21:00] #17 closed

[2020-02-06 21:20] #16 closed

[2020-02-07 20:14] aha999 opened #56 "Translating platform"
I'd recommend [Weblate ](https://weblate.org/)as a translating platofrm for the community to translate any part of the platform / app, strings, words etc. Many opensource projects, apps etc. use it and Weblate itself is [opensource ](https://github.com/WeblateOrg)and you can host it yourself if you wanted to. For Opensource projects, the use of Weblate is completely free and hosted by them, you ju

[2020-02-07 20:25] aha999 commented on #19
Various donation platforms i see other open projects use:
- [LiberaPay](https://liberapay.com/)
- [PayPal](https://www.paypal.com/)
- [Github Sponsors](https://github.com/sponsors)
- [Ko-fi](https://ko-fi.com/)
- [OpenCollective](https://opencollective.com/)
- [Flattr](https://flattr.com/)

In my opinion, LiberaPay would be the first option for donations, as i saw a lot of opensource projects use

[2020-02-07 20:55] kantord commented on #56
Thanks! This will become relevant once another course is being developed, that has a different source language. (For example, English for Spanish speakers).

[2020-02-07 21:02] kantord opened #57 "Refactor: extract common parts of listening exercises and short text input exercises"

[2020-02-07 21:04] kantord commented on #19
Thanks for composing this list!

[2020-02-07 21:17] kantord opened #58 "Host course editor"

[2020-02-07 21:17] kantord opened #59 "Automatically export course editor database"

[2020-02-07 21:18] kantord opened #60 "Per-course access to course editor"

[2020-02-07 21:51] aha999 opened #61 "Pictures used for the platform"
For the pictures, i'd recommend also using a platform [Unsplash](https://unsplash.com/):

The photos are in my understanding free to download/use with no copyright. Check it out.

You could also add a readme with links for the sources of images that you use.

[2020-02-08 09:50] 12people opened #62 "AGPL?"
Since this is going to be a network app, it would be more suitable if it was licensed under the AGPL instead of the GPL. Otherwise, you're likely to run into problems in the future, if the project becomes successful – see https://www.quora.com/What-is-the-difference-between-GPL-AGPL-and-LGPL-licenses?share=1 or https://www.mongodb.com/blog/post/the-agpl .

[2020-02-08 12:30] kantord commented on #61
Thanks for the recommendation!

Actually, pictures are already fetched from Unsplash! Here's the image attribution file:
https://github.com/kantord/LibreLingo/blob/master/image_attributions.csv

There's a script that just fetches all the unsplash images in the image attribution file :wink: To guarantee that it's always up to date.

[2020-02-08 12:30] #61 closed

[2020-02-08 12:32] kantord commented on #61
@all-contributors please add @aha999 for ideas

[2020-02-08 13:52] kantord opened #64 "Add option selection challenge type"
The user should be able to select one of 3 options

[2020-02-08 20:46] wakest opened #65 "federation of social features through ActivityPub"
I just found out about this project through a [friend posting about it on the fediverse](https://chaos.social/@pinkprius/103618677259618401) and I also made a post [about it right after](https://social.wake.st/@liaizon/103624887716630030). I have a specific interest in building a language learning project that would federate its social aspects (like the shared leader board that duolingo has, and m

[2020-02-08 22:33] schmittlauch opened #66 "Add on-screen keys for special characters"
While going through the "animals" example course, I discovered that when *león* was asked the answer *leon* (without accent) is still accepted as correct.

Is this intended behaviour or are you normalising the string to heavily before comparison? IMHO learning where to set accents in words is an important part of learning a language.

Apart from that, keep up the nice work.

[2020-02-09 00:03] Nutomic opened #67 "How to deploy the website?"
I cant find any way to deploy this website on my own, eg for debugging. It might also be useful to create seperate instances run by different course creators.

So what exactly are the dependencies, and is there some command I can run in this repo to get the website running on localhost? And hopefully you have some nginx config and letsencrypt to handle tls.

[2020-02-09 00:32] swift2plunder commented on #65
The shortest path to sharing courseware would probably be to leverage an existing open source courseware server. There is a courseware server, based on a fork of Pleroma that (last I checked) had federation on its roadmap. I need to fact check myself on the status of federation in that project, but if you're open to leveraging an existing server application for the backend, I'll verify the details

[2020-02-09 04:01] roptat commented on #56
Please notify me when this is ready :). Note that you want to have a translation before course content: English learners who speak Spanish will need the website in Spanish so they understand how to start the English course for Spanish speakers for instance.

[2020-02-09 05:05] ryliejamesthomas commented on #66
For me it marks it as correct, but acknowledges that I left out the accent.

[2020-02-09 08:44] MarcusE1W opened #68 "[Suggestion] Consider a non latin alphabet language early"
Hi.

This is a great project.
I have one suggestion and maybe you have considered it already.

Consider a language very different to a european one like Chinese early on. Maybe create some small sample course fragments to test code against.

One big difference is that you have the chinese letters, which of course would be the answer to translation questions. However as a beginner you fist learn Pi

[2020-02-09 08:54] Deuchnord commented on #66
While I agree that accents are important when learning languages, they become a problem when you are using a keyboard that makes them inaccessible.

For instance: I'm using a [French keyboard](https://commons.wikimedia.org/wiki/File:KB_France.svg), which gives you (logically) an advantage to use accents in French (éèêëàôöùûü), but (still logically) does not provide an easy way to type the Spanish-

[2020-02-09 09:00] igalic commented on #68
another language or alphabet suggestion, in the same vein is a language with an RTL script such as Arabic, Hebrew or Farsi.
a lot of assumptions made in the frontend break, once the reading directing is reversed

[2020-02-09 09:19] igalic commented on #66
this is all considerably easier on a mobile platform where *adding* a new keyboard layout and *seeing* what keys you're typing on is all very easy

this is me assuming you **can** see.
i don't know which accessibility affordances android and iOS have for the actual keyboard.

[2020-02-09 10:25] aha999 commented on #56
Exactly, and so they can  navigate through it in their own language. I'd say it'd be best if he made a request now and have the platform ready to at least get the website specific translations.

[2020-02-09 16:58] kantord commented on #62
Good idea!

@all-contributors please add @12people for ideas

[2020-02-09 16:58] #62 closed

[2020-02-09 17:15] kantord commented on #65
This is definitely an idea that I would like to experiment with.

There's 2 things I would like to emphasize:

- LibreLingo should be safe for everyone, even small children for example. Social features should focus on things that don't need to be moderated and don't give a platform for cyber-bullying.
- I want LibreLingo to be very future-proof, so I'd try to avoid adding features that would requi

[2020-02-09 17:16] kantord commented on #65
@all-contributors please add @wakest for ideas
@all-contributors please add @swift2plunder for ideas

[2020-02-09 17:17] kantord commented on #65
@all-contributors please add @swift2plunder for ideas

[2020-02-09 17:18] kantord commented on #65
@all-contributors please add @wakest for ideas

[2020-02-09 17:28] kantord commented on #66
There is some normalization going on for answers, yes. The reason why it's accepted isn't the normalization though. Rather, a certain edit distance is allowed. See: https://github.com/kantord/LibreLingo/blob/master/src/components/ShortInputChallenge.svelte#L28

Small typos (and possibly even accent mark and punctuation mistakes) should be accepted, because it would be annoying to have to try again

[2020-02-09 17:32] kantord commented on #66
YES

[2020-02-09 17:36] kantord commented on #66
@all-contributors please add @schmittlauch for ideas

[2020-02-09 17:37] kantord commented on #66
@all-contributors please add @Deuchnord for ideas

[2020-02-09 17:46] kantord opened #74 "Automatically deploy preview app for pull requests"
It should be fairly easy & useful to set up automatically deployed preview apps for pull requests, since the site is static.

You can study the CI configuration to see how build is done: https://github.com/kantord/LibreLingo/blob/master/.gitlab-ci.yml

now could be a nice tool to do the deployment itself: https://github.com/zeit/now

[2020-02-09 18:14] 12people commented on #62
Awesome, thanks!

[2020-02-09 20:17] schmittlauch commented on #66
@kantord

Definitely, the current design is so subtle that I didn't notice at all, being just a small line of text at the bottom edge of a maximised window on a large screen.
I suggest using a separate design and not treat them as correct but corretctly-ish. So let them fall in a different category then correct or incorrect and maybe represent them in yellow. It should be clearly noticeable that t

[2020-02-09 22:23] airon90 commented on #56
I can translate the platform in Italian and Esperanto

[2020-02-09 22:24] aha999 commented on #56
I can translate to Slovenian.

[2020-02-10 09:01] kantord commented on #67
Sorry, I didn't have time to document that yet. :smile_cat:

It's actually quite easy to do, you won't need any nginx config and such.

I put some documentation in the readme: https://github.com/kantord/LibreLingo/blob/master/README.md#development

[2020-02-10 09:01] #67 closed

[2020-02-10 09:02] kantord commented on #67
@allcontributors please add @Nutomic for bug

[2020-02-10 09:35] sebilasse commented on #65
@redaktor is interested in helping. Talked to @wakest via ActivityPub before ;) :
What we would like to achieve is a safe collaborative translation UI.
I'd like to answer your two bullet points directly

I think "safe for everyone"  is the same for the ActivityPub projects which would help.
It should be pluggable and configurable.
That means the users should hand out keys just to the users they tr

[2020-02-10 10:39] pinkprius commented on #66
It's this way because that's how Duolingo does it (I think).
I think it works fine this way.

[2020-02-10 14:40] airon90 opened #76 "Consider using Wikidata lexemes"
Just a suggestion:  consider using [Wikidata lexemes](https://wikidata.org/wiki/Wikidata:Lexicographical_data) which are released under CC0 license, either in creating lessons (just a complex query and you have a list of element ready to be used) or in linking elements of lessons to the corresponding Wikidata item (so that people can learn more and improve items)

[2020-02-10 15:52] schmittlauch commented on #66
@pinkprius You already have to know *that* you are looking for a small correction notification, unless you won't notice it.
![Screenshot_20200210_164959](https://user-images.githubusercontent.com/1479555/74165623-ad1bc280-4c25-11ea-926a-4445a3c2af31.png)

[2020-02-10 22:00] pinkprius commented on #66
I agree, but I don't think that's necessarily bad. Maybe a system where you have stars depending how correct your answer is would make it clear?

[2020-02-11 04:02] swift2plunder commented on #65
First, nothing is safer than offline. As a homeschooling parent, there have been times in my child's life when that was very important to our family. We can definitely keep CouchDB as the local datastore and make replication over the internet optional, preserving that desirable feature. The moderation profile of the Fediverse provides a lot of latitude for expression on connected services and comp

[2020-02-11 04:34] navanchauhan commented on #74
I think this could be done using GitHub actions (?)

[2020-02-11 04:40] navanchauhan commented on #74
https://github.com/marketplace/actions/zeit-now-deployment

This automatically comments on the PR with a preview of the website

I’ll see if I can make a PR tonight

[2020-02-11 08:30] Deuchnord commented on #66
The alert is great, but not really adapted to wide screens. It might be better to move it closer to the form on these devices to make it more visible and thus, more accessible, mightn't it?

[2020-02-11 10:14] navanchauhan commented on #74
#77

[2020-02-11 15:36] navanchauhan commented on #74
I have left a few comments on #79 after you successfully add the token, we can close this issue

[2020-02-11 15:39] navanchauhan commented on #56
What about Transifex https://docs.transifex.com/projects/open-source-project

[2020-02-11 16:17] roptat commented on #56
Having tested both, weblate is handling the community aspect of translation better I think, but I would help on either platform (or any platform really, there are so many!). I also think it makes more sense for the project to use a free software, self-hostable solution that a plaftorm from a private company you have no way to change or influence.

[2020-02-11 16:53] navanchauhan commented on #74
I think we can close this 👍

[2020-02-11 17:22] kantord commented on #74
true, it's fixed now

[2020-02-11 17:22] #74 closed

[2020-02-11 17:27] kantord commented on #74
Thanks for the contribution!

[2020-02-11 19:08] kantord commented on #66
i don't know which accessibility affordances android and iOS have for the actual keyboard.

it's indeed an important point. Accessibility is very important. I hope someone with knowledge about it will take interest in contributing. I'll create a label for issues that are concerning accessibility

[2020-02-11 19:12] kantord opened #81 "Improve ChallengePanel layout on wide screens"
Looking for proposals/pull requests on how to improve the design.

As per @Deuchnord says:

see original thread: https://github.com/kantord/LibreLingo/issues/66#issuecomment-584524346

[2020-02-11 19:13] kantord commented on #66
I created a new issue regarding the layout issue on wide screens: https://github.com/kantord/LibreLingo/issues/81

cc. @Deuchnord

[2020-02-11 19:17] kantord commented on #66
@pinkprius

I don't think there would be many different levels of correctness, although a complicated system might be devised for letting the user know about different errors.

Still, differentiating between a wholly correct error and an almost correct makes sense.

Making the color yellow might makes sense, as @schmittlauch says, but I think a slightly milder solution would be preferred

[2020-02-11 19:22] kantord opened #82 "Make alert about spelling mistakes more noticeable"
This is the current solution we have:

![Screenshot_2020-02-09 LibreLingo - learn animals in Spanish for free](https://user-images.githubusercontent.com/3704904/74270701-f47c7e80-4d0b-11ea-8032-863c6c8e94f2.png)

However, people have complained that it's too subtle. Original thread: https://github.com/kantord/LibreLingo/issues/66

[2020-02-11 19:37] kantord opened #83 "Ideate about tracking"
*This issue only about designing/debating a solution. For the actual implementation, new issues can be created.*

In order to improve the application, some behavior tracking might be useful. This would include things like:

- acquisition sources
- time spent on site
- number of visitors (search engines excluded)
- activity on the site (events)

The following requirements should be met:

- For user

[2020-02-11 22:06] kantord opened #84 "DeckChallenge: play voice recording matching currently selected solution"
When the user selects a card in DeckChallenge, the voice recording matching the card should be played. ListeningChallenge can be studied for an example on how to play voice recordings

[2020-02-11 22:07] kantord opened #85 "Document setting up course editor"

[2020-02-11 22:07] kantord opened #86 "Store course editor database dump in repo"
Tables regarding user authentication shouldn't be stored

[2020-02-11 22:10] kantord opened #87 "ListeningChallenge: voice recording is unnnecessarily repeated"
Once the challenge is successfully completed, the voice recording is repeated. This is not as intended, since this is completely unnecessary. It's possibly a bug resulting from how and when the sound is played, maybe related to component life-cycle management

[2020-02-11 22:16] kantord opened #88 "Transitions between challenges within a lesson are a bit broken"
- Sometimes for a split second, the previous and current challenge are visible at the same time, which results in flickering
- When the lesson is finished, the transition looks weird

This should be a good first issue if you are experienced in implementing animations, especially if you are good with Svelte.

[2020-02-11 22:20] kantord opened #89 "Improve "fanfare screen" design"
This screen:

![Screenshot_2020-02-11 LibreLingo - learn food in Spanish for free](https://user-images.githubusercontent.com/3704904/74284859-e850eb00-4d24-11ea-9ea1-99179862a8f0.png)

is a little bit too bland to say the least. It would be nice to make it a bit more fun. Design suggestions are welcome (so are pull requests or implementation proposals!)

Check out Bulma's documentation for a galle

[2020-02-11 22:24] kantord opened #90 "Looking for a mascot"
This is not an urgent issue, but I think LibreLingo could do with a nice mascot animal :smile_cat:  I was thinking maybe of a turtle or a cat, with some nice personality, but I'm open to any suggestions.

Ideally we would have at least a few different SVG designs with the same mascot, or a mascot that could easily be customized for different purposes or re-created in different scenarios.

[2020-02-12 05:25] navanchauhan commented on #90
What about something containing Tux?

[2020-02-12 07:19] kantord commented on #90
This project isn't related to Linux in any way, so :penguin: would not be ideal I think

[2020-02-12 07:52] kantord opened #91 "Show meaning after successful ListeningChallenge"

[2020-02-12 17:39] kantord opened #92 "Display spelling mistakes in ListeningChallenge"

[2020-02-12 17:43] #92 closed

[2020-02-12 18:03] #91 closed

[2020-02-13 00:15] swift2plunder commented on #65
MoodleNet is currently testing federation. Moodle and CommonsPub use GraphQL for their client API

Currently, Pleroma and NextCloud expose ActivityPub C2S interfaces as servers. For the most part, AP C2S is just a set of JavaScript over http envelopes for getting messages from an inbox and posting to an outbox, but a lack of opinionated libraries has hurt development

I've written an AP library fo

[2020-02-13 00:59] swift2plunder commented on #65
Moodle (courseware) is currently testing federation. Moodle and CommonsPub use GraphQL for their client to server protocol and federate using ActivityPub

Servers offering ActivityPub C2S include NextCloud and Pleroma. I'm looking at writing a C2S client library just so JavaScript developers can find one on github, but it's scarcely necessary

AP is just a JSON envelope. It isn't complicated to im

[2020-02-13 04:01] cmhood commented on #76
I like how this resource is licensed under CC0 and designed to be machine-parseable, but would be nice if Wikidata were more comprehensive.  Wiktionary, on the other hand, has far more dictionary entries, typically containing more information, albeit in a format that's harder to parse.

I think a resource like this would be useful for later goals of this project, specifically the reading exercises

[2020-02-13 16:21] Roshanjossey commented on #90
There's a community of designers who can help with designing a mascot https://opensourcedesign.net/jobs/

We could try posting a job. I think it makes sense to have an idea of what we'd like as a mascot before posting though.

[2020-02-13 18:19] Roshanjossey opened #94 "About page: remove screenshot section"
![image](https://user-images.githubusercontent.com/8488446/74464928-bfe7fe80-4e94-11ea-93d4-d9d1b61e794a.png)

From what I understand, `remark2rehype` is dropping the HTML in the markdown. https://github.com/kantord/LibreLingo/blob/master/src/routes/about.svelte#L12

This can be worked around with [rehype-raw](https://github.com/rehypejs/rehype-raw). However, relative URLs for png images won't ren

[2020-02-13 18:28] Roshanjossey commented on #82
Giving a different formatting to the **misspellled** word could emphasize it effectively. Especially when pointing it out in a sentence.

Underline, font-weight etc could be used.

[2020-02-13 18:38] Roshanjossey opened #95 "Select options with keyboard"
![image](https://user-images.githubusercontent.com/8488446/74466633-e9eef000-4e97-11ea-8617-8e62336a69e3.png)

For challenges with options, use option number to select the option. For me, it was obvious when I saw numbers on options.

Optionally, remove submit step for these exercises (saves a click/ keystroke).

[2020-02-13 18:47] kantord commented on #95
This is already implemented. You can use the keys 1, 2, 3 to select an option :thinking:

[2020-02-13 19:14] Roshanjossey commented on #95
I see that now that I looked at the code. Closing.

[2020-02-13 19:14] #95 closed

[2020-02-13 19:16] kantord commented on #95
I hope you also managed to get it work in your browser! If no, feel free to re-open, because it would mean an actual issue :smile_cat:

[2020-02-13 19:19] kantord commented on #90
Thanks @Roshanjossey, that's a great idea!

I think so far a turtle or a cat are my favorite ideas. Ideally, it should also be an animal that doesn't have too strong negative connotations in any culture, since this project is very international in it's nature. :thinking:  Not sure where to look that up.

[2020-02-13 19:19] kantord commented on #90
@allcontributors please add @Roshanjossey for ideas

[2020-02-13 19:20] kantord commented on #94
OOpps! That's very true

I think the screenshot section isn't really necessary there at all though. Do you know of a good way to filter out just that section?

[2020-02-14 02:06] ledgelight commented on #90
I think a tortoise is a good idea. Tortoises are common symbols of wisdom across multiple cultures, and it emphasizes that learning languages is a slow and steady process. Maybe the shell's pattern could consist of characters from various scripts (Latin, Cyrillic, Ge'ez, etc.).

[2020-02-14 11:51] kantord commented on #90
@allcontributors please add @ledgelight for ideas

[2020-02-14 14:59] MBoogaard commented on #90
Hi, all

We are a group of university students interested in looking at the team dynamics of geographically dispersed work groups, and would like to interview you guys.

We also saw your request for a mascot design 😸 and would be happy to try and design one for you! Does this sound good to you guys?

[2020-02-15 06:20] kantord commented on #90
@MBoogaard we don't really have a formal team yet. In fact the project just started and I haven't met any of the people who have made the contributions that I've received :smile_cat: I don't know if there's enough material here for an interview. But if you can help building a team, that's very welcome :stuck_out_tongue_winking_eye: Of course you can interview any contributor who's down :man_shrugg

[2020-02-15 07:33] kantord opened #99 "Pick illustrations 1"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

## List of words

- [x]

[2020-02-15 07:34] kantord opened #100 "Pick illustrations 2"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 07:36] kantord opened #101 "Pick illustrations 3"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 07:40] kantord opened #102 "Pick illustrations 4"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 07:42] kantord opened #103 "Pick illustrations 5"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 07:44] kantord opened #104 "Pick illustrations 6"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 07:52] kantord opened #105 "Pick illustrations 8"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 07:52] kantord opened #106 "Pick illustrations 7"
Use https://unsplash.com/ to pick images to illustrate the following words. Each word required 3 *different* images.

Steps to solve this issue:

1. See the attached list of words
2. Pick 3 images for each of those words on unsplash
3. Edit `image_attributions.csv` to include the images you've chosen
4. Run `./fetchPhotos.sh` to fetch images. (Needs ImageMagick installed)

For an example MR of a s

[2020-02-15 09:24] #99 closed

[2020-02-15 10:11] #100 closed

[2020-02-15 10:44] #86 closed

[2020-02-17 14:55] Roshanjossey commented on #94
Easiest way would be to do a string replace to remove that part.

A hacky way would be to use HTML for that heading (as opposed to markdown)

The right way would be to understand how to remove certain nodes from the abstract syntax tree `remark-js` creates. This might take some time though. I spent 20 minutes on this and couldn't find the API.

[2020-02-17 16:03] ftyers opened #113 "Add instructions for connecting to the Matrix channel"
Should be able to just connect here:

https://riot.im/app/#/room/#librelingo:matrix.org

Or via weechat-matrix.

[2020-02-17 22:06] ftyers opened #114 "Separate course data from interface code"
At the moment all of the  course data is kept in a subdirectory of the main project. It might be better to have the linguistic/course data in a separate repository from the interface code.

[2020-02-18 10:13] kantord commented on #114
What are some of the arguments for that? How would you implement it.

Currently the entire site is statically built and this way it's really easy to build and host it. Having it in a separate repo would complicate things by a lot.

Your idea will make a lot of sense though, once the course editor is mature enough for a wide public to use it, since in that phase, building a separate backend to host

[2020-02-18 10:13] kantord commented on #113
Thanks, a lot, I'll look into this.

[2020-02-18 10:14] kantord commented on #113
@allcontributors please add @ftyers for ideas

[2020-02-18 15:24] ftyers commented on #114
I've worked on a lot of multilingual projects, Apertium, Universal Dependencies, Matxin, DeepSpeech. It's simple to start out by just bundling everything together, but once you get to >10 languages, it becomes increasingly challenging.

1. It's good software engineering practice to separate code from data. Example: Wikipedia, the site interface code is separated from the individual Wikipedias.
2.

[2020-02-18 19:40] Roshanjossey commented on #87
From what I understand, this was caused because the button was triggering form submit.

Opened #116 to address this.

[2020-02-19 08:45] titanix opened #117 "Skip button in quiz"
Hi,
in my opinion (partly based on similar systems I implemented in the past), there should to be "Skip" button in quizzes. Especially useful for questions like listening which one might not be able to do at the moment (for instance because using the app in transportation, during a meeting, etc.)

[2020-02-19 08:47] kantord commented on #117
Very good idea!

What do you think the Skip button should do exactly, in each challenge type? Maybe it should hint on the answer?

[2020-02-19 08:49] kantord commented on #117
@allcontributors please add @titanix for ideas

[2020-02-19 09:13] titanix commented on #117
I didn't read the code so I don't know what is the underlying data model. However, the general behavior is just to pass to the next question. In my previous app I kept tracked of skipped items separately from right/wrong questions not to skew the wrong answer ration (cf. yellow bar in image below).

<img width="376" alt="Screenshot 2020-02-19 at 18 09 09" src="https://user-images.githubusercontent

[2020-02-19 09:18] kantord commented on #117
That looks like a pretty neat app!

I'm thinking that I'd would be nice to give the users a chance to fix their mistake. That's what happens with incorrect answers: they are put back into the queue, however you are shown the correct answer, so you have a chance to learn from it.

I think skipping could work something like that.

Once there's some spaced repetition logic implemented, the skipped or

[2020-02-19 16:26] kantord commented on #114
I agree. The code is pretty much separated in terms of logic already though. It is true, that the course data is currently in the same repo, but almost none of it is hardcoded.

I assume that you are only referring to developers, not users. In the case of developers, you are kinda correct: I think it's possible to do partial pulls with git, but that would complicate things obviously. I don't inten

[2020-02-19 16:34] ftyers commented on #114
Good to hear!

Mostly developers, I guess most users will not be downloading the whole repo. But in any case it makes sense to try and keep the size down. I remember being in rural Mexico last year and trying to make an Android keyboard without having the Android SDK downloaded already. It was impossible to download 3G there given the connection quality/stability.

Sounds good to me.

That's great

[2020-02-19 21:21] nonetrix opened #121 "Japanese"
Japanese support would be awesome I could help but I don't know any code and I'm still learning Japanese

[2020-02-20 07:44] kantord opened #123 "Course editor: add "learn a new sentence" model"

[2020-02-20 07:45] kantord opened #124 "Add 'option selection' challenge type"
It should work the same as deck challenges, but instead of pictures and words, it should have sentences

[2020-02-20 07:48] kantord commented on #121
duplicate of: https://github.com/kantord/LibreLingo/issues/68

[2020-02-20 07:48] #121 closed

[2020-02-20 07:53] kantord commented on #68
I consider RTL only a small issue. Some CSS tweaks should help with that.

What is a bigger issue is that the course content will be structurally different and might require different challenge types.

- Would you start teaching the alphabet before heading to the basics of the language, or would you start with the basics in a Latin (source language) transcription and then slowly start adding the a

[2020-02-20 10:57] #87 closed

[2020-02-20 18:08] kantord commented on #113
I think we don't really need encryption for this (not just yet, at least). In the near future we will need to have different channels/subgroups, but for now, I guess the simplest option would be a telegram channel? What do you think? I created one: https://t.me/librelingo

Afterwards maybe I'd consider self-hosting Mattermost :thinking:

[2020-02-20 18:10] kantord commented on #113
Another solution might be simply to have telegram-sub-channels, for example, one for dev and one for each language-course

[2020-02-20 18:26] ftyers commented on #113
Me and @Roshanjossey are on the Matrix/IRC channel.

* Telegram: Closed back-end, not-federated, open front-end, "modern" features
* Mattermost: Open back-end, not-federated, open front-end, "modern" features
* Slack: Closed back-end, not-federated, closed front-end, "modern" features
* Matrix: Open back-end, federated, open front-ends, "modern" features
* IRC: Open back-end, federated, open front

[2020-02-21 10:45] #101 closed

[2020-02-21 10:57] #113 closed

[2020-02-21 12:21] #102 closed

[2020-02-22 18:01] navanchauhan commented on #19
@kantord do you have PayPal?

[2020-02-22 18:03] navanchauhan commented on #58
We could host it on Heroku, after which it would automatically open a PR and push the changes

[2020-02-24 18:59] kantord opened #134 "Document keyboard shortcuts to user"
There are convenient keyboard shortcuts in place, however it's not documented at all, so there's no way the user could know about it.

The task is to first design how it should be documented, and then implement the design.

Ideally, it should not be a separate page. Instead, it should be integrated into the pages the user already interacts with

[2020-02-24 21:18] kantord opened #135 "Now deployment seems to be broken"
Looks like it's stuck at a confirmation :crying_cat_face:

One example: https://github.com/kantord/LibreLingo/pull/132/checks?check_run_id=460073383

this might be an issue with the github action we're using, since it doesn't appear to be connected to _secrects_ configuration

[2020-02-24 21:53] kantord opened #136 "Use tatoeba.org for voice samples"
https://tatoeba.org/eng/

[2020-02-24 22:11] #124 closed

[2020-02-24 22:11] #123 closed

[2020-02-25 02:04] koyuawsmbrtn opened #137 "Simlish"
I don't know, but I think a Simlish course would be fun as an extra feature

[2020-02-25 06:16] navanchauhan commented on #135
I’ll look into it after my exam tomorrow

On Tue, 25 Feb 2020 at 2:48 AM, Daniel Kantor <notifications@github.com>
wrote:

[2020-02-25 08:07] kantord commented on #135
Amazing, thank you :-) Good luck on the exam!

[2020-02-25 10:17] kantord opened #138 "Add wiki-like pages about grammar"

[2020-02-25 10:18] kantord opened #139 "Add videos about grammar"

[2020-02-26 22:15] kantord opened #148 "Set up GitHub login for course editor"

[2020-02-28 17:32] navanchauhan commented on #135
This is finally reproducible on my repo as well

[2020-03-02 08:44] navanchauhan commented on #135
I am still actively trying to solve the problem. The builds are failing because the now-cli now wants approval to deploy first, for which it is asking for y or n

The problem is that the CLI is throwing error on passing `--yes` or `-y` which is unexpected behaviour itself

[2020-03-02 16:39] #58 closed

[2020-03-02 16:40] kantord commented on #135
Maybe it's an issue with the GitHub action itself?

[2020-03-02 16:56] kantord commented on #103
Skipping meat because I realized that it's difficult to find a meat picture that everyone would be ok with seeing

[2020-03-02 17:00] kantord commented on #103
Text also seemed difficult, because I didn't want to choose a picture that was distracting (legible text)

[2020-03-02 17:21] #103 closed

[2020-03-02 19:46] kantord commented on #135
Anyhow, I temporarily disabled this GitHub workflow to get rid of the check failures. Feel free to revert this commit to re-enable it: https://github.com/kantord/LibreLingo/commit/61a38b49bd74c56b94198add3632bb97495a9897

[2020-03-02 19:54] kantord commented on #56
An update here.

I set up translation and translated the landing page: https://github.com/kantord/LibreLingo/commit/aab34fbdcc5ed90c010262165247ac29e9036022

It cannot be considered fully done, since there are currently only courses for English and no way to change the interface language. That will come once there will actually be courses with source languages other than English.

I tried this pla

[2020-03-03 13:53] kantord commented on #19
@navanchauhan yep

[2020-03-03 18:46] airon90 commented on #56
Thank you very much for your work!
As I have spare time just now, I started translating in Italian #156 and in Esperanto #158 (and fixed a typo in English #159)
I'm looking forward to starting a non-English course (it ←→ eo) ;)

[2020-03-03 19:09] kantord commented on #56
Thank you! I merged them + added you to contributors + imported the translations to POEditor.

I also added you to POEditor as a contributor so that you can submit new translations without creating PRs.

_I am closing this this issue as there's not much that can be done at this point, the things that were priority are already done_

(Feel free to reopen with comments if you disagree. I'll think ab

[2020-03-03 19:11] roptat opened #161 "langauge typo"
For some reason, "langauge" is used instead of "language" in different places, including the website title.

[2020-03-03 19:13] kantord commented on #161
thanks for reporting!

apparently @airon90 was 29 minutes faster in reporting that: https://github.com/kantord/LibreLingo/pull/159 :smile_cat:  The fix should be deployed soon

[2020-03-03 19:13] #161 closed

[2020-03-03 19:14] kantord opened #162 "Add yarn script to fetch translations from POEditor"

[2020-03-03 19:38] roptat commented on #56
before closing, please add a link to the readme and website so we know where to contribute. By the way, poeditor doesn't seem to have a search field or anything like that. How do I contribute?

[2020-03-03 19:57] roptat commented on #117
Usually, if I want to skip one audio question, it means that I can't listen, so I'd like to skip future audio questions in that session too. Maybe the skip button could have that behaviour for audio questions: ask the user if they want to skip only this one or if they want to skip all audio questions for the current session.

Skipping an audio question for technical issues like not being able to l

[2020-03-04 18:59] kantord commented on #56
Fair enough! Here it is, @roptat: https://librelingo.readthedocs.io/en/latest/translation/

[2020-03-04 18:59] #56 closed

[2020-03-05 09:14] airon90 commented on #56
@kantord Info about LibreLingo are not translatable

[2020-03-05 16:38] kantord opened #166 "Landing page: replace README with fancier info page"
Instead of importing README.md into the landing page, it should have a way more concise, to the point, and more visual page. That page should be translatable, and README.md should stay English-only

[2020-03-05 16:38] kantord commented on #56
@airon90 are you referring to the markdown thing? The page that has the same text as README.md? That is not meant to be translatable. Instead, on the long term, it should be replaced with a fancier page built just for this purpose, and that should be translatable.

I created a new issue for that: https://github.com/kantord/LibreLingo/issues/166

[2020-03-06 11:57] kantord commented on #66
Solved in https://github.com/kantord/LibreLingo/pull/167

[2020-03-06 11:57] #66 closed

[2020-03-06 15:18] Roshanjossey opened #170 "theming / Dark UI"
Add preference to toggle to dark mode for the web app

[2020-03-06 15:25] kantord commented on #170
Cool idea!

[2020-03-06 15:44] kantord commented on #170
Actually, it would be nice to have whitelabel-style theming support.

The use case for that would be:

- school or government creates their own branded version
- employer with international employees or migrant workers
- NGO, etc..
- user just prefers a different theme
- and dark UI ofc :-)

Also, maybe if it's possible, dark UI could be detected on mobile devices :thinking:

[2020-03-06 15:50] kantord commented on #170
Different free themes already exist for Bulma: https://jenil.github.io/bulmaswatch/ so maybe it should be possible to re-use them along with the custom theme we already have.

Not sure what the ideal way of implementing them would be though, using static site generation

[2020-03-06 15:52] kantord opened #172 "Promoting project for developers"
This issue is to collect some ideas to promote the project among developers :-)

[2020-03-06 16:03] Roshanjossey commented on #170
I've seen a media query to check it https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

Haven't tried this though.

[2020-03-06 16:26] kantord commented on #170
We can try this one out: https://github.com/jloh/bulma-prefers-dark

[2020-03-06 16:32] kantord commented on #170
Although that doesn't solve the theming issue, only dark theming

[2020-03-06 17:57] navanchauhan commented on #135
I have tried all possible ways, I even created a custom GitHub action. Turns out now-cli 17 made some breaking changes, I am going to wait a few more days otherwise I will specify a lower now-lci version

[2020-03-06 17:58] navanchauhan commented on #172
I discovered this project on Reddit, so I think promoting there is a good idea

HackerNews should also be a good platform

[2020-03-07 06:17] navanchauhan opened #174 "Add "Agua, Por Favor" audio clip"
Current URL throws 404 error

`https://librelingo.app/voice/agua,_por_favor.mp3`

[2020-03-09 16:22] airon90 opened #175 "[Idea] Learn declensions"
I know you are thinking about creating a platform for learning words.
I would like to have the possibility to learn grammar skills.
Example, I'd like to learn declensions of words.
[I wrote](https://github.com/airon90/learnDecl) a script which works in terminal and gives me some exercises to test my Finnish skills.
If you want, you can use it somehow :)

[2020-03-09 17:48] kantord commented on #175
Actually no, my intention is to create a platform for complete language courses with grammar being included. I am actually actively working on an exercise type that is solely aimed at grammar practice: https://github.com/kantord/LibreLingo/pull/173 (word order/sentence structure in this case). What gave you the idea that it's only about vocabulary? Perhaps something in the documentation should be

[2020-03-10 10:46] Roshanjossey commented on #172
I maintain a project called [first contributions](https://github.com/firstcontributions/first-contributions) to help people to get started with contributing. We also have a slack community where we help to continue contributing. I could post about Librelingo there.

[2020-03-10 10:52] kantord commented on #172
@navanchauhan yeah! I think any reddit channel that is specifically open for such promotion would be nice! Feel free to post it! I already made a Hackernews post, and intend to make another one once Alpha is released!

@Roshanjossey that would be amazing!

[2020-03-11 23:55] kantord opened #177 "DeckChallenge: take alternative solutions from other lessons as well"
In order to make it possible for lessons to have between 1 and 3 deck challenges in a lesson

[2020-03-11 23:57] kantord opened #178 "Learning new words: support alternative forms"
At least 2 alternative forms should be supported per word.

[2020-03-12 17:51] kantord opened #179 "Implement a 404 page"
It should also work with GitHub pages :smile_cat:

[2020-03-12 18:08] kantord opened #180 "CI: add psi"

[2020-03-12 18:08] kantord opened #181 "CI: add size-limit"

[2020-03-12 21:04] Roshanjossey commented on #179
![7VE](https://user-images.githubusercontent.com/8488446/76566600-6253cb80-64ad-11ea-9bdd-0c45a8963e13.gif)

[2020-03-13 18:18] Roshanjossey opened #183 "Flash of style change"
![libre-visual](https://user-images.githubusercontent.com/8488446/76648148-668bf180-655e-11ea-82a4-c3997de8a8de.gif)

From what I understand, it takes time for the styles of the svelte component to be rendred.

[2020-03-13 22:37] kantord commented on #88
https://stackoverflow.com/questions/59882179/svelte-transition-between-two-elements-jumps

[2020-03-13 22:46] kantord commented on #183
Interesting, I thought those should be rendered immediately :thinking:  Do you know what might cause this? I assumed that it's because of Bulma being loaded later, but actually bulma is loaded in the header

[2020-03-13 22:48] kantord commented on #183
I think it only happens when first loading the page :thinking: so it's perhaps something about server side rendering. Maybe the style tags should precede the HTML or sth like that

[2020-03-14 07:41] navanchauhan opened #185 "Add meta description to LibreLingo"
Running Google Lighthouse on Librelingo

[code]

Adding the meta tag will help in search engine optimisation

[2020-03-14 07:51] navanchauhan commented on #179
I posted a request on open source designs for a mascot. After that I will create a simple 404 page with the mascot

[2020-03-14 07:54] navanchauhan commented on #174
`b2a1767e87e0a85d18fa06e8be9039fc9949f9fc71d873f64951fba5a0ea35b4`

The new URL still throws a 404 error

[2020-03-14 07:58] navanchauhan commented on #174
@kantord can you look into this

[2020-03-14 08:05] navanchauhan commented on #19
@kantord if you can just tell me your PayPal URL `https://www.paypal.me/octocat` I will create the `FUNDING.yml` file

[2020-03-14 08:14] navanchauhan commented on #104
skin and bank might be difficult to find on Unsplash

[2020-03-14 08:31] navanchauhan commented on #105
My installation is having problem therefore I cannot run the script, please add these to `image_attributions.csv` and run the script:

[code]

[2020-03-14 08:55] #88 closed

[2020-03-14 09:06] kantord commented on #105
Thanks!

[2020-03-14 09:06] kantord commented on #105
@allcontributions please add @navanchauhan for design

[2020-03-14 09:07] kantord commented on #104
Yeah, that's fine. Feel free to skip if the images available are not good matches. Some words will have to be taught without images

[2020-03-14 09:08] kantord commented on #105
@allcontributors please add @navanchauhan for design

[2020-03-14 09:09] #105 closed

[2020-03-14 09:19] kantord commented on #174
yup, I consider it a high prio issue

[2020-03-14 10:07] kantord commented on #179
thanks! I tried posting that request too, but their API was down or something :-)

[2020-03-15 12:00] #174 closed

[2020-03-15 18:55] kantord opened #203 "ChipsChallenge - include some incorrect words"

[2020-03-15 18:59] kantord opened #204 "ChipsChallenge - include word translations"
this component can be used to display word translations: https://wikiki.github.io/elements/tooltip/

The idea:

- Create a `<ForeignLanguageSentence />` component that displays a foreign language sentence that has translation tooltips for every word
- Build a database backend for this. Each word should have a separate JSON that's lazy loaded. It's best to export them statically along with everythi

[2020-03-15 19:04] kantord opened #205 "ChipsChallenge - make it possible to group words"
In certain languages it might be useful to have multi-word expressions that are on a single chip.

Idea: set up `*` as an optional separator character. In this case, chips would be separated based on the asterisks, not space

[2020-03-15 19:06] kantord opened #206 "ChipsChallenge - allow clicking chips instead of dragging them"

[2020-03-15 19:13] kantord opened #207 "ChipsChallenge - allow keyboard operation of chips"
This should work similarly to https://github.com/kantord/LibreLingo/issues/206, but with the keyboard. I imagine this as something similar to vim-easymotion: https://github.com/easymotion/vim-easymotion, but of course way simpler, since the whole interface is way simpler.

Essentially, there would be a keyboard shortcut to initiate dragging, and it would have to be followed by the number/letter id

[2020-03-15 19:16] kantord opened #208 "DeckChallenge and OptionChallenge - include "foreign" options"
In case the skill doesn't have at least 3 alternatives options of the same type, options from other skills should be used to fill the gap. This would give greater freedom to course designers

[2020-03-15 23:02] kantord opened #210 "ChipsChallenge - only use if the sentence has at least 3 words"

[2020-03-15 23:21] kantord opened #211 "Handle synonyms"
Create a many-to-many relationship table for learnword to add synonyms

[2020-03-15 23:34] kantord opened #212 "CI: Set up linting for python code"

[2020-03-16 08:33] kantord commented on #207
An alternative idea would be to simply let the user "type" the chips in. By that I mean, that you'd begin with simply typing the letters that the chip you want to move has. The issue with this would be when the alphabet is different, or has many accents

[2020-03-16 08:53] kantord opened #213 "Point out interesting short facts about the language"
Each short fun fact should only be displayed with a certain probability, to avoid boredom.

These should be fun facts that are somewhat related to the actual skill. They can be any fun grammar or etymology facts, or similarities and differences between the source language and the target language

[2020-03-16 23:31] kantord opened #217 "Use a more interesting layout for course overview page"
For example nintendo swich store UI https://dev.to/teklooncheah/how-i-developed-the-nintendo-switch-game-store-ui-using-css-grid-27lm

[2020-03-17 18:41] kantord commented on #178
fixed in https://github.com/kantord/LibreLingo/pull/216

[2020-03-17 18:41] #178 closed

[2020-03-18 21:08] kantord commented on #177
duplicate of https://github.com/kantord/LibreLingo/issues/208

[2020-03-18 21:08] #177 closed

[2020-03-18 21:09] #175 closed

[2020-03-18 21:10] kantord commented on #137
Thanks for the idea. I don't know how a simlish course would look? :thinking: nevertheless, it will be possible to add it once the course editor project is advanced enough :-) I'm working hard on that

[2020-03-18 21:10] #137 closed

[2020-03-18 21:54] kantord commented on #19
@navanchauhan would this work? https://www.paypal.com/pools/c/8np3GCVeiF

[2020-03-19 06:26] navanchauhan commented on #19
I made a preview on a test repository, try going to https://github.com/navanchauhan/Experiments/ and clicking on the Sponsor button

@kantord If this is fine then just tell me and I'll open a PR

[2020-03-19 15:52] kantord commented on #19
That looks good!

[2020-03-19 17:50] #183 closed

[2020-03-19 22:06] kantord opened #227 "Identify major issues that make contribution to code hard"

[2020-03-20 09:00] kantord opened #230 "Add page footer"
It should contain:

- License notice
- GitHub star badge
- Source code links
- Sign up for updates (GitHub watch? :thinking: )
- Sponsor link

[2020-03-20 10:38] navanchauhan commented on #19
Closing due to #228.

If someone wants more donation methods, feel free to reopen this issue.

[2020-03-20 10:38] #19 closed

[2020-03-20 21:08] ghost opened #234 "add liberapay account to FUNDING.yml"
liberapay is FOSS and many use it instead of paypal/patreon

you can simply add this entry to your FUNDING.yml file:

`liberapay: example-username`

[2020-03-20 22:09] kantord opened #236 "Set up Percy for Cypress in Semaphore CI"
https://docs.percy.io/docs/cypress

[2020-03-20 22:09] kantord opened #237 "Set up Storybook to document components"
https://storybook.js.org/

it could perhaps be hosted under another subdirectory under github pages? :thinking:

[2020-03-20 22:36] #230 closed

[2020-03-21 05:25] pssandhu commented on #81
I made a quick mock-up of some changes that I think will help. The biggest being pushing elements in the navbar and alert towards the centre of the screen making them more visible - essentially having a central column of content. I've lowered the challenge content to be more central vertically (I think this could be more consistent between different types of challenges). I've also increased the te

[2020-03-21 09:59] kantord opened #239 "Normalize unicode text input to support compose key"

[2020-03-21 10:13] kantord commented on #81
@pssandhu I think that's a great start, thanks! I think it should be easy to implement with bulma.

Do you want to try creating a pull request? :smile_cat:

[2020-03-21 10:13] kantord commented on #81
@allcontributors please add @pssandhu for design

[2020-03-21 13:49] #236 closed

[2020-03-21 16:31] Gusted commented on #135
What about changing the way of deployment like [Travis-ci](https://docs.travis-ci.com/user/languages/python/) I have some good experience with it for npm

[2020-03-21 20:22] kantord commented on #135
@Gusted I thought of that too. But it turns out, Zeit has a solution on it's website that does everything for you. It's much easier because it's independent of your CI/GitHub actions.

It seems to work fine now, see this MR for example: https://github.com/kantord/LibreLingo/pull/245

[2020-03-21 20:22] #135 closed

[2020-03-21 23:01] StefanLobbenmeier opened #247 "Having the first letter uppercase should not be corrected"
On iOS, by default the first letter in each sentence is uppercased. I think the warning that there is a spelling mistake should not appear:

![228040E5-575C-4BDA-8AC2-384D70CB5C95](https://user-images.githubusercontent.com/36509607/77238441-45677880-6bd0-11ea-8fe4-d981c17da5c2.png)

[2020-03-21 23:59] kantord commented on #247
:thinking:  I'm still thinking about this.

It's not trivial to solve it universally without complication, because in some languages, capitalization might be very important and emphasized.

For example, in German, you must capitalize every noun, so it's incorrect if you don't capitalize it.

Maybe case sensitivity could be configured based on language :thinking:

Looking for some more wisdom on th

[2020-03-22 00:02] kantord commented on #247
@allcontributors please add @StefanLobbenmeier for bug

[2020-03-22 06:41] navanchauhan commented on #247
This can be fixed by adding the attribute `autocapitalize="none"` in the input field

[Safari Reference](https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/Attributes.html#//apple_ref/doc/uid/TP40008058-autocapitalize)

[2020-03-22 07:08] navanchauhan commented on #247
#247 fixes this, commit will be merged as soon as pending checks are complete.

Tested on iOS 13.3 and iOS 13.4

Re-open issue if the problem still occurs

[2020-03-22 07:22] kantord commented on #247
I'm just reopening the issue to invite you to some thinking: is there any situation where this might go wrong?

Technically, this challenge should only be used for teaching words. For teaching sentences, there will be another challenge type, which won't have this setting.

Please give it a minute to think about it. I currently can't think of any more pitfalls, but I somehow feel suspicious :smile_

[2020-03-22 08:59] kantord opened #251 "Add speaking exercises"
The web speech API can be used for this purpose: https://developer.mozilla.org/en-US/docs/Web/API/Web_Speech_API

Unfortunately it doesn't work in Firefox by default, but support will hopefully be rolled out soon. In the meantime, it's already supported on many mobile devices, Safari and Chrome/Chromium

[2020-03-22 12:38] libsoc commented on #227
Contribution in what sense? Contributing to the code, to the learning material on the site, to the issues highlighted on Github? Please provide a description so we can understand the scope of this issue.

[2020-03-22 13:02] kantord commented on #227
@libsoc in this issue I'm referring to contributing to the code. There will later be another about contribution to the course material

[2020-03-22 15:43] #247 closed

[2020-03-22 23:14] kantord opened #254 "Percy snapshots - unique snapshot name is missing"

[2020-03-23 20:48] #254 closed

[2020-03-23 22:07] kantord opened #260 "Add unit tests for exportCourse"

[2020-03-23 22:28] kantord opened #261 "Add PEP8 enforcement to Semaphore CI"
PEP8 rules, including line length has to be enforced by the CI using pycodestyle. (formerly pep8)

There's already a pull request where the part about configuring pycodestyle is (basically) done: https://github.com/kantord/LibreLingo/pull/220

this MR is failing because there are lines that are too long.

I tried to automatically format the code using autopep8, which reduced the number of issues,

[2020-03-23 22:32] iasonasma commented on #260
I'd like to give a try.Please assign me if possible :)

[2020-03-23 23:11] kylepollina commented on #212
What kind of CI is being used? I've never used CI before on Github

[2020-03-23 23:17] kantord commented on #212
@kylepollina oops, I created duplicat issues. This one should have all the necessary information: https://github.com/kantord/LibreLingo/issues/261

[2020-03-23 23:17] #212 closed

[2020-03-24 09:00] kantord opened #264 "Ideate: module topics/story element"
In order to make the learning process more interesting long term, each module could have it's own topic.

Topic could change things like the visual appearance, different text, maybe some story elements, motivational messages.

For example, there could be a scoring system in each module, where you need a certain score to proceed to the next module. This score could be different in each story, for e

[2020-03-24 16:52] StCol commented on #227
I would say a major obstacle is lack of specificity. Maybe mentioning specific files/folders where help is needed related to specific functions can help other developers speed up the comprehensions of the overall project's structure

[2020-03-24 17:41] kantord commented on #227
@StCol do you have some suggestion how and where it would be ideal to specify that?

[2020-03-24 18:22] StCol commented on #227
@kantord For example, you have an open issue about 'fun/interesting facts about the language' however it does not specify where/when you want this to be displayed therefore even with ideas for the content it is difficult to know where to append it

[2020-03-28 02:51] kylepollina commented on #106
Created MR to close this [https://github.com/kantord/LibreLingo/pull/274](https://github.com/kantord/LibreLingo/pull/274)

[2020-03-28 11:27] slesingerm opened #278 "Teach words by association"
In some exercises, new words could be taught by association rather than displaying a translation.

For example, you have learned basic sentence structure and verbs, and in a previous lesson you learned the word "estudiar" (to study). In the next lesson, in the sentence
"El estudiante come"
the tooltip over 'estudiante' would display 'related to estudiar' rather than 'student'.

This idea is not ye

[2020-03-28 11:36] slesingerm opened #279 "Teach words from context"
Certain exercises could teach words from context, using previously learned words. For example, in Spanish:

El tomate es _rojo_.
La fresa es _roja_.
El tomate es _rojo_.
What does _rojo_ mean?

In earlier levels, this exercise type could be multiple choice, and in later exercises it could be open-ended.

[2020-03-28 12:09] kantord commented on #278
I think maybe we could display a simplified animated morpho-etymological graph for this one, with the common part and the meaning displayed, and the user would have to only type the ending.

Mockup on what I mean by that:

![mockup](https://user-images.githubusercontent.com/3704904/77822676-32373a00-70f5-11ea-90fa-a939e132688c.png)

I think it'd be nice to refine this which some user & involving a

[2020-03-28 12:09] kantord commented on #278
@allcontributors please add @slesingerm for ideas

[2020-03-28 12:16] kantord commented on #279
Let's ideate on this one :-)

I would maybe think of a concept that includes images

[2020-03-28 12:59] kantord opened #281 "Course editor: automatically check for spelling errors"
Set up django admin so that it enforces correct spelling for

- [ ] Words ...
- [ ] ... and their meaining
- [ ] Phrases ...
- [ ] ... and their meaning

These are the Django models that need this feature:
https://github.com/kantord/LibreLingo/blob/master/course/models.py#L52
https://github.com/kantord/LibreLingo/blob/master/course/models.py#L38
https://github.com/kantord/LibreLingo/blob/master/co

[2020-03-29 17:31] iasonasma commented on #281
Could you give an example ?

[2020-03-29 17:38] kantord commented on #281
The idea is that in the course editor (django admin) when you enter a text, it should be checked for spelling errors.

By that I mean that text that has spelling errors should be considered an invalid value by django

[2020-03-30 14:53] almostdesigner commented on #90
Hello all,
I saw your request on opensourcedesign.net, and I create a little tortoise... But, it's maybe too late to propose... Have you ever got your mascot ?

[2020-03-30 14:55] kantord commented on #90
@almostdesigner we haven't had any actual proposals/drafts for a mascot yet :smile_cat:  So I'm very open to see your idea!

[2020-03-30 14:59] almostdesigner commented on #90
I create 2 tortoises, what do you think about them ?

![turtle A](https://user-images.githubusercontent.com/19930411/77927618-b8937d80-72a7-11ea-89e6-6a0eb3149f9b.png)
![turtle B](https://user-images.githubusercontent.com/19930411/77927623-ba5d4100-72a7-11ea-878f-424b2f4c1acf.png)

See you

[2020-03-30 15:10] kantord commented on #90
OMG, they're so cute! 😻

[2020-03-30 15:17] kantord commented on #90
In the first design, I really like that it's simple and has very cute facial features.

The second one, maybe the texture of the shell is better :thinking: Also, the second design has the advantage that it could be dressed up in different clothes, which could be cool for telling stories

[2020-03-30 16:04] almostdesigner commented on #90
Thanks 😊

Yes, I would keep very simple for the the first one. Expressions & emotions would be seen only with the face.
And the second one is higher, so I could put some details on the shell. It's better to put some expressions with his face and body. But it takes more space...

[2020-03-30 16:42] navanchauhan commented on #90
@almostdesigner these are awesome, much love 💕 💖

What do you think if the shells had different letters in different scripts? Like you could put your initials in different scripts hmmmmm

Again, these are really well done!

[2020-03-30 16:44] navanchauhan commented on #94
@Roshanjossey @kantord I think for now, we can simply replace the screenshot heading with HTML as suggested

[2020-03-30 17:34] kantord commented on #90
@almostdesigner how would you start involving the mascot on the site?

[2020-03-30 18:16] almostdesigner commented on #90
Thanks 😊!

@navanchauhan : I don't put different letters in the shell, it's too small, and we don't read or recognize any letters...
I imagine use the mascot after the questions, with a "well done" or an encouragement to do better. What do you think ?

[2020-03-30 19:21] kantord commented on #90
Nice idea, @almostdesigner!

I would maybe also put it somewhere on the landing page :-)

Also, I think it would work well as an icon! Like ,favicon, iOS icon, etc.

BTW, it needs a name, OMG :flushed: :smile_cat:

[2020-03-31 08:22] almostdesigner commented on #90
Yes, I could put on the landing page ;-). I'll try to work on it this week or next week) !
And I'll work on different faces and postures !

[2020-03-31 13:37] kantord commented on #90
@allcontributors please add @almostdesigner for design

[2020-03-31 18:40] kantord commented on #90
Idea: maybe the tortoise could have a jetpack as a vehicle to symbolize that it can go fast?

[2020-04-02 08:17] kantord opened #304 "Give a chance to correct mistakes"
When a mistake is made, give a chance to correct the mistaken part of a sentence instead of having to type everything all over again.

Only possible to implement in certain cases, where the exact error can be pointed out.

[2020-04-05 08:01] kantord opened #311 "Idea: Color code words based on case/gender/number"
This would be more relevant for languages that have more complex gender/case/number systems

[2020-04-05 09:23] kantord opened #312 "Implement spaced repetition"

[2020-04-05 20:11] kantord opened #313 "Course editor: flip language order and display actual language name"
Instead of source language and target language, it should be "English" and "Spanish", and the target language should come first in forms

[2020-04-05 20:24] kantord opened #314 "Make pictures optional for lessons"

[2020-04-05 21:06] kantord opened #315 "Support gender-neutral pronouns"
- [ ] Include gender neutral pronouns in tips in lessons about pronouns
- [ ] Accept gender neutral pronouns where applicable (nosotres instead of nosotros)
- [ ] Add a separate lesson about pronouns, among with other queer topics

[2020-04-10 12:32] #314 closed

[2020-04-11 10:35] kantord opened #335 "Cypress: hide loading screen to make tests faster"

[2020-04-11 20:26] #312 closed

[2020-04-12 13:37] kantord opened #339 "Add correct translation table - similar to dictionary"
**Is your feature request related to a problem? Please describe.**
When translating a sentence, there are multiple possible translations, but the course editor only records one

**Describe the solution you'd like**
Each sentence should have zero or more correct translations separately recorded in the database.

LearnSentence sentence pairs should automatically be added as correct translations of e

[2020-04-12 15:31] slesingerm opened #341 "ChipsChallenge: Enter key not working with "submit" and "continue""
**Describe the bug**
In the chip challenge, pressing the enter key does nothing and the "submit" and "continue" buttons have to be operated by a left click.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Verbs, part 1'
2. Encounter a chip challenge
3. Drag chips to their correct places
4. Press enter
5. See error - no reaction

**Expected behavior**
Hitting the enter should press "co

[2020-04-12 15:38] kantord commented on #341
Ok, this probably has to do with the keyboard shortcuts or form field focus in ChipsChallenge.svelte

[2020-04-12 15:38] kantord commented on #341
Thanks for reporting!

[2020-04-12 15:38] kantord commented on #341
@allcontributors please add @slesingerm for bug

[2020-04-12 15:49] slesingerm opened #343 "ChipsChallenge: Gives incorrect answer when answer was correct, and doesn't give an option to continue"
In a ChipsChallenge, I got a "incorrect answer" message to a correct answer. After clicking "continue", there was no way to continue with the challenge.

**To Reproduce**
Not sure how this would be reproduced, as in another test run, the "I am a cat" chips challenge worked normally.

**Expected behavior**
The page should have marked my answer as correct, and there should have been a continue optio

[2020-04-12 15:58] kantord commented on #335
closing because it had no real effect on test performance

[2020-04-12 15:58] #335 closed

[2020-04-12 16:13] slesingerm opened #345 "Course Editor: Make editing dictionary easier"
I find the dictionary tedious to use, as you have to click on each item, edit it, and save.

I think it would be easier if there was a bulk option: i.e. an "edit all" option in the drop down, which would send me to a page that could look like the "learn a new word" interface.

Another option could be to make the dictionary editable straight from the main view, with empty boxes for undefined words

[2020-04-12 16:48] #345 closed

[2020-04-12 17:29] slesingerm opened #347 "Dictionary: Add "set phrases" functionality"
As it is now, the dictionary only has the option to edit vocabulary items. This causes an issue in set phrases. For example:
enjoy your meal = buen provecho
but, tooltips will show "disfrutar" "tu" comida" respectively

A solution could be to give a "set phrase" option in the "learn a new sentence" builder, and then the whole phrase would have only one tooltip.

[2020-04-12 20:15] slesingerm commented on #343
This has to do with reordering the chips once you've placed them into the sentence. I've managed to recreate this by placing the chips in the incorrect order, and then reordering them to be correct. This should give an "incorrect answer" message even if the reordered chips are in the correct order. I'm not entirely sure what specific circumstances have to be met, but I've generally made the "incor

[2020-04-12 20:44] kantord opened #348 "Skill IDs for skills with titles with special charcters are weird"
**Describe the bug**
This URL is rather weird: https://librelingo.app/course/spanish-from-english/skill/verbs,%20part%201

**Expected behavior**
URL has this format:
https://librelingo.app/course/spanish-from-english/skill/verbs-part-1\

Database (PouchDB) identifies those by ID, not title/URL

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete

[2020-04-12 20:51] slesingerm opened #349 "Don't count missing punctuation as "small mistakes""
Currently, if a sentence in "learn a new sentence" is written with punctuation marks, the app will show a "small mistake" message if the user writes the sentence without punctuation.

I'd suggest to remove this and not count punctuation as "mistakes" at all.

[2020-04-13 22:22] kantord opened #360 "Add Twitter & contribution links to webpage"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

- Add twitter link when completing course
- The same page should have a link to "more about this project"
- Also link to "contribute to this project"

**Describe alternatives you've considered**
A clea

[2020-04-14 07:21] kantord opened #362 "Save accuracy rate of practices"
**Is your feature request related to a problem? Please describe.**
Currently in the spaced repetition feature, a 100% correct practice is counted the same as a 10% correct. (Where 100% means getting everything correct the first time)

**Describe the solution you'd like**
Idea:

- record what the success percentage was
- in spaced repetition, practices that were more than 25% worse than the previou

[2020-04-14 18:48] kantord commented on #311
I don't like this idea anymore, so I'm closing this issue. Feel free to reopen

[2020-04-14 18:48] #311 closed

[2020-04-14 19:03] kantord commented on #261
ok, this is done now :-)

[2020-04-14 19:03] #261 closed

[2020-04-14 19:03] kantord commented on #260
we can consider this done for now, I might create more issues for each specific part

[2020-04-14 19:03] #260 closed

[2020-04-14 19:04] kantord commented on #239
First of all, it has to be verified that the issue actually exists

[2020-04-16 09:19] almostdesigner commented on #90
I've created some expressions, et a turtle with a jetpack ;)
![turtle expression](https://user-images.githubusercontent.com/19930411/79438652-19bf8e80-7fd4-11ea-8e35-b4c56985d00c.png)

![turtle expression bg LightGrey](https://user-images.githubusercontent.com/19930411/79438682-23e18d00-7fd4-11ea-9676-f84e53be8558.png)
![turtle expression bg Dark](https://user-images.githubusercontent.com/19930411

[2020-04-16 09:24] almostdesigner commented on #89
I've improve very quickly the screen, with the mascot.
![Fanfare Screen](https://user-images.githubusercontent.com/19930411/79439204-d0237380-7fd4-11ea-9380-5f12f41be331.png)

[2020-04-16 09:30] kantord commented on #90
@almostdesigner these are truly amazing!

[2020-04-16 09:31] almostdesigner commented on #90
Thank !
Where could I put the svg files ? (I'm really newbie with github...)

[2020-04-16 09:35] kantord commented on #90
would you mind licensing these for use by LibreLingo? Since it's your intellectual property, you are free to choose the license obviously. I don't have experience with licensing artwork, but I assume they can also be licensed with GPLv3 or maybe creative commons?

Would you like some attribution links somewhere? :-)

You can upload the SVG files in the branding directory: https://github.com/kantor

[2020-04-16 09:36] kantord commented on #89
That's amazing!

[2020-04-16 10:16] almostdesigner commented on #89
😊

[2020-04-16 10:32] almostdesigner commented on #90
Yes, I designed the mascot for LibreLingo, so you could use, of course ! It's perfect to be license with creative commons.
And, why not to put an attribution link, It' up to you ;-) !

I can't upload files...
"Uploads are disabled.
File uploads require push access to this repository."

So I email you to upload the files ;)
Thanks !

[2020-04-16 18:08] #90 closed

[2020-04-16 18:51] kantord opened #367 "Find a name for the mascot"
Now that we have [a mascot](https://github.com/kantord/LibreLingo/tree/master/branding/LibreLingo_Mascot), it would be nice to find a name for it! :tada:

This issue is about suggesting names and choosing one.

![Turtle1_jetPack](https://user-images.githubusercontent.com/3704904/79494886-0a683180-8024-11ea-84ea-dec3c77accc7.png)

[2020-04-16 18:54] kantord commented on #90
I added the files to the repo! And I put some attributions + license notice in README.md. I plan to add it to the site too :-)

Thank you very much again

[2020-04-17 13:51] navanchauhan commented on #179
Now that we finally have a mascot, I'll be sending a PR in a couple of days

[2020-04-17 16:14] #89 closed

[2020-04-18 16:10] kantord opened #371 "Skills without new words look weird"
**Describe the bug**
Skills that don't have any "Learn a new word" instances, look weird.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://librelingo.app/course/spanish-from-english

**Screenshots**
See picture:
![2020-04-18-175449_1001x803_scrot](https://user-images.githubusercontent.com/3704904/79642533-4fb06e80-819e-11ea-8544-13681dfede63.png)

**Expected behavior**
- "Learn

[2020-04-19 01:48] kantord opened #377 "Course editor - karma based approval system"
Implement a karma based approval system for the course editor:

- Only approved changes are exported into the course
- The latest approved version is exported
- The approval screen is listing the latest unapproved version for everything. When a change is explicitly unapproved, it's reverted to the previous version (approved or unapproved)
- you get karma for getting your changes approved
- after 5

[2020-04-19 22:19] #348 closed

[2020-04-20 19:34] aschrijver commented on #65
Heads up, as this is on the agenda of the next [SocialCG meeting](https://socialhub.activitypub.rocks/t/2020-04-25-socialcg-meeting/625).

[2020-04-21 09:53] borbota opened #388 "Typos in About"
Typos in About, the part in question are **highlighted** in the suggestions.

1)
Instead of:
"My goal is to start a community-driven language-learning platform that gives it's users and contributors a way to influence it's future and adapt it to special requirements."

I suggest:
"My goal is to start a community-driven language-learning platform that gives **its** users and contributors a way to i

[2020-04-21 16:06] kantord commented on #388
Thanks!

[2020-04-21 16:06] kantord commented on #388
@allcontributors please add @borbota for bug

[2020-04-21 23:19] monocongo opened #392 "Sentence marked as wrong when correct"
**Describe the bug**
I created a simple sentence with the word blocks provided, in the correct order, but still it was marked wrong. See screenshot.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Correct result

**Screenshots**
![Screenshot from 2020-04-21 19-15-41](https://user-images.githubusercont

[2020-04-22 15:22] iasonasma commented on #371
Hello!
I'm currently working on it !

[2020-04-22 19:35] #371 closed

[2020-04-23 11:07] navanchauhan commented on #179
LibreLingo is being hosted on GH Pages, right? According to GitHub Pages documentation, a simple 404.html in the root directory automatically becomes the 404 page without changing the code

[2020-04-23 11:28] kantord commented on #179
Yes. The task is about creating the 404 page using Svelte

[2020-04-23 15:58] #388 closed

[2020-04-23 17:19] hialvaro commented on #367
What about Shelldon

[2020-04-25 06:53] decentral1se commented on #83
Hi there :wave:

Could you please further define what "In order to improve the application" means?

I admit that from the general spirit of the project that I've seen so far, it is a bit strange to see an open issue about tracking users of the application. That doesn't speak much to values of user freedom to me personally.

[2020-04-25 09:41] kantord commented on #83
There are many ways the application could benefit from or even needs feedback from its users.

The simplest and probably most important example is alternative solutions. Since the courses have translation exercises, each sentence might have many different correct translations. In many cases, it's impossible for course authors to think of all the possibilities, so there has to be some feedback on w

[2020-04-25 14:06] kantord commented on #367
@hialvaro not bad for starters, I like the pun hehehehhe

[2020-04-25 15:28] slesingerm commented on #392
Hey there! Could you check this issue over here and see if it was the same? (i.e. reordering the chips after putting them into the sentence?

This is the issue:
https://github.com/kantord/LibreLingo/issues/343

[2020-04-25 15:32] monocongo commented on #392
Yes, I'm pretty sure I made a reorder before this happened, so most likely this is the same issue and can be marked as a duplicate. Thanks, and BTW great work on this project, it looks really good!

[2020-04-25 15:42] kantord commented on #392
Closing as duplicated of #343, thanks @monocongo and @slesingerm

[2020-04-25 15:42] #392 closed

[2020-04-25 15:43] kantord commented on #392
@allcontributors please add @monocongo for bugs

[2020-04-25 15:56] slesingerm opened #407 "Correct answer flagged as incorrect - course editor mismatch?"
The app flags a correct answer as a wrong answer. It might be because of the "alternative forms" in the course editor, but I'm not sure.

See screenshots:

![Screenshot from 2020-04-25 17-51-49](https://user-images.githubusercontent.com/62794315/80284279-eb515a00-871d-11ea-915b-bb5a2aa69240.png)

![Screenshot from 2020-04-25 17-52-02](https://user-images.githubusercontent.com/62794315/80284303-03c

[2020-04-25 21:37] jmbmkn commented on #367
Is 'Libby' already taken by another OSS mascot?

[2020-04-26 22:22] #407 closed

[2020-04-26 22:32] kantord opened #413 "Reduce length of skill exercises by requiring multiple practices to complete a skill"
**Is your feature request related to a problem? Please describe.**
Our skills are very long, however, a large amount of content is needed for each skill. It might be too exhausting to finish the entire skill in one go.

**Describe the solution you'd like**

- Introduce randomness to skill content
- Each time a skill is practiced, only one third of the content should be used
- A skill should be pra

[2020-04-28 16:30] #148 closed

[2020-04-28 17:53] decentral1se commented on #313
@kantord hey can you point me in the direction of where you mean here? I'm looking at http://127.0.0.1:8000/admin/course/course/1/change/ for example, and not quite getting it from the description. Or the UI related to the front-end? Thanks, first time digging in here :sweat_smile:

[2020-04-28 18:10] decentral1se opened #416 "Consider having a Fediverse presence"
RE: https://chaos.social/@pinkprius/103618677259618401

[2020-04-28 18:16] decentral1se commented on #83
Thanks for sharing thoughts.

Well, you only mentioned one? I appreciate the technical details but I guess I am looking for the _social_ justification on this ticket.

This can be done on a volunteer basis. If users want to share, they can click on some button to share it back.

I am not against tracking per-se, it has uses, but in the case of 1. "i choose to send this information back to the moth

[2020-04-28 18:46] decentral1se commented on #227
Yeah basically, I see no obstacles to contributing except what @StCol mentioned about not having tickets that are easy to follow. However, I suppose that is totally normally when all the ideas and concepts are trapped in your head in the early stages :) We will keep asking :)

Btw, I was able to setup a dev environment in 15 minutes. That is good.

[2020-04-28 18:48] decentral1se commented on #416
/cc @wakest

[2020-04-28 18:51] decentral1se commented on #234
You mean, consider using Liberapay or? I don't see an existing account. All I see available is a paypal account for support at the moment. I know a lot of people are using https://opencollective.com but it is VC backed but is perhaps more "seamless" if you want to get moving faster. I prefer Liberapay also and use it myself.

[2020-04-28 18:52] decentral1se commented on #172
I guess https://github.com/kantord/LibreLingo/issues/416 will help somewhat.

[2020-04-28 18:58] decentral1se commented on #65
Related: https://github.com/kantord/LibreLingo/issues/416.

Also, I guess, it is worth noting that projects like https://little-boxes.readthedocs.io give you the shell of what you need to communicate with the protocol and leave the back-end to you. That might be an approach to get __something__ on the fedi to start with without having to implement the full stack. I guess you'd just plug your data

[2020-04-28 19:17] kantord commented on #83
That's a fair point. I think the "volunteer basis" idea, where the user actively chooses to send that information can definitely be implemented, and it can even have UX benefits.

So even if other optional forms of tracking are implemented, it can remain an option to disable automatic tracking but send such information on a one-off, volunteer basis

[2020-04-28 19:24] kantord commented on #227
Yup, I was trying to make sure it's easy to set up the dev env! That would be the worst thing to lose contributors over :sweat_smile:

I am trying to define tasks better, but it actually takes a surprising amount of time.

Also, I want to properly document what's what in the project directory and where things should be put (it's also some refactoring work, because clearly it's not structured enoug

[2020-04-28 19:25] kantord commented on #416
Can you please describe in more detail what it would mean?

I am also considering creating some kind of blog published on various platforms. Is that related?

[2020-04-28 19:36] kantord commented on #313
The UI might be a little bit confusing right now.

You can edit modules by clicking this edit button:

![Screenshot_2020-04-28 Change Language course LibreLingo Course Editor](https://user-images.githubusercontent.com/3704904/80529228-712c0a00-8997-11ea-8587-f18c0df3a6c7.png)

You can then choose to edit either skill.

![Screenshot_2020-04-28 Change Module LibreLingo Course Editor](https://user-im

[2020-04-28 19:45] kantord commented on #313
The problem there is that it says

- Meaning in source language
- Meaning in target language

Instead of

- Meaning in English
- Meaning in Spanish

Obviously the real issue here is that the name of the language is dynamic based on the course :smile_cat:

For the dictionary, the same issue has already been somewhat resolved, so that might give you some hints on how to solve this one. Look at these

[2020-04-28 19:46] DontUseGithub commented on #234
yep and then add the account to FUNDING.yml

[2020-04-29 07:33] navanchauhan commented on #179
![image](https://user-images.githubusercontent.com/29234112/80571001-76319d80-8a19-11ea-829d-c5bf90d924d4.png)
![image](https://user-images.githubusercontent.com/29234112/80571008-79c52480-8a19-11ea-9475-10f43c5a1fc8.png)

I have tried to keep the same design style as the index page. GitHub pages requires a 404.html placed at the root of the deployment, I think we should create a static `404.html`

[2020-04-29 10:15] aschrijver commented on #416
Yes, it is related. Look at other blogging projects that are already federating with ActivityPub: https://git.feneas.org/feneas/fediverse/-/wikis/watchlist-for-activitypub-apps#blog-publishing-and-reading-apps

[2020-04-29 11:02] decentral1se commented on #416
Ah, I mean, create an account for LibreLingo on some Fediverse instance and publish your project updates there. If you're looking for a blog software that speaks Fediverse, you can try https://write.as or https://writefreely.org. Both work AFAIK. The point is to have people using Fediverse clients be able to see and consume your updates from their clients.

[2020-04-29 11:07] decentral1se commented on #227
Understandable. I suppose it's easier to discuss things on the IRC/Matrix side since there is so much info to be gotten through. Anyway, that's a good step! Thanks.

[2020-04-29 11:11] decentral1se commented on #313
Awesome, thank you! I will get to this later today and see what I can do with it.

"good first issue", "easy"

hehe

It's always the same :partying_face:

[2020-04-29 14:23] dwvisser opened #420 "Radio buttons don’t pull up “submit”"
**Describe the bug **

On multiple choice questions, if I tap on the radio button rather than the text of my choice, I am not provided with a button to submit my answer.

**To Reproduce**
Steps to reproduce the behavior:
1. On any multiple choice question, tap directly on the radio button, *not* the text, of your choice.
2. The item has been selected, but no Submit button appears.

**Expected beha

[2020-04-29 14:27] dwvisser commented on #420
I also reproduce this in Firefox 68.7.0esr on Windows 10.

[2020-04-30 07:16] kantord commented on #420
Thanks for reporting!

[2020-04-30 07:16] kantord commented on #420
@allcontributors please add @dwvisser for bugs

[2020-04-30 07:17] kantord commented on #416
@allcontributors please add @decentral1se for ideas

[2020-04-30 07:17] navanchauhan commented on #179
@kantord can you look at this, I'll make a PR if this is fine

[2020-04-30 07:17] kantord commented on #416
@allcontributors please add @aschrijver for ideas

[2020-04-30 07:59] kantord commented on #179
@navanchauhan we have a better fitting mascot too, can you please use that one :-) https://github.com/kantord/LibreLingo/blob/master/branding/LibreLingo_Mascot/GreyShadow/Turtle4.svg

Also, I would change the text a bit:

And then add a button that links back to the home page:

[2020-04-30 07:59] kantord commented on #179
Otherwise, looks good to me!

[2020-04-30 17:55] kantord commented on #416
@allcontributors please add @aschrijver for ideas

[2020-05-02 15:38] kantord commented on #82
This is the component that probably needs to be modified: https://github.com/kantord/LibreLingo/blob/master/src/components/ChallengePanel.svelte

cc. @iasonasma

[2020-05-07 21:56] kantord opened #442 "Course editor: add license"
**Is your feature request related to a problem? Please describe.**
Licensing of course content has to be clear

**Describe the solution you'd like**

1. Add a license field to Course model (name + link)
2. Display a note in the course editor: "By contributing to this course, you agree to license your contributions under XYZ"

**Describe alternatives you've considered**
A clear and concise descript

[2020-05-07 21:57] kantord opened #443 "Find license/data handling etc. templates for registered features"

[2020-05-10 15:20] #360 closed

[2020-05-11 18:51] #362 closed

[2020-05-11 21:57] kantord opened #452 "Add sibling exercises"
**Is your feature request related to a problem? Please describe.**
It might get overwhelming to practice a lot of old lessons very frequently. It might be nice to do some of the practice implicitly in order to reduce the time spent on that.

**Describe the solution you'd like**

- Extend skill model in course editor so that skills can be marked as siblings of each other.
- Each skill should have o

[2020-05-11 22:03] kantord opened #453 "Add image description exercises"
**Describe the solution you'd like**
Add a type of exercise where an image is presented, and the user has to describe what happens on the image.

A half-ready solution is presented along the image, and the user has to fill in the blank word(s).

Examples:
https://unsplash.com/photos/Zqy-x7K5Qcg El perro lee un libro
https://unsplash.com/photos/nA6Xhnq2Od8 "Juan come una hamburguesa"
Maria bebe caf

[2020-05-13 20:51] kantord opened #457 "Add "secret" edit mode"
Add a very simplified version of edit mode, that can be activated from the developer console for now.

It should have links/buttons/"ghost" cards integrated into the app. For now, those should just link to the appropriate places in the current course editor.

[2020-05-23 21:30] kantord opened #478 "Remove "alternative form" from course editor"
Remove alternative form from course editor in favor of having 2 separate entries.

[2020-05-24 20:15] #339 closed

[2020-05-25 07:06] #478 closed

[2020-05-25 10:02] SimpleBinary commented on #367
What about Lucio?

[2020-05-25 15:21] #7 closed

[2020-05-25 21:33] #343 closed

[2020-05-26 00:10] nfultz commented on #83
I think it's helpful to distinguish between web-tracking data collection (dropping a third party cookie on the client, comparing organic vs paid traffic,dwell times and click through rates, etc) and the necessary data collection for education (eg quiz results, task completion) - I *strongly* recommend using a synthetic ID (UUID would be fine) as a user ID for all the education data, and not their

[2020-06-01 18:11] douglasferlini commented on #181
Hi! I would like to start helping.
Could you assign me in this issue?

[2020-06-02 07:24] kantord commented on #181
Sure! Thank you!

[2020-06-02 07:49] kantord commented on #181
It might be challenging since it won't be super clear what to measure and how, since it's basically a static site

[2020-06-02 07:50] kantord commented on #181
So kinda coming up with an idea is part of the task

[2020-06-02 09:36] #18 closed

[2020-06-02 20:36] #25 closed

[2020-06-03 00:32] douglasferlini commented on #181
Thanks! I'll be working on it.

[2020-06-11 13:53] u451f commented on #367
I would also propose a name that fits with **Lib**re**Li**ngo such as Libby. There is already an app called like that (libbyapp.com).
So Libbi could work, or Libbo.
As well as Lily, Lilly, or Lilia (russian/bulgarian version of Lily).

[2020-06-11 14:20] kantord commented on #367
I kinda like Lily and Lilia!

Most ideally it would be a name that isn't necessarily associated with a gender or language

[2020-06-11 16:46] u451f commented on #367
- Lily is the name of a flower, but the name is mostly used as a feminine name.

I understand! :) So here are some ideas based on Lily:

- Lille - Danish for "small"
- Lindy - unisex name https://en.wikipedia.org/wiki/Lindy_(name)
- Lilian - unisex name https://en.wikipedia.org/wiki/Lillian_(name)

[2020-06-12 14:53] douglasferlini commented on #181
I've searched on docs and on source code and still not figured out what you mean  by "CI:".
Could you please clarify what it means?

[2020-06-15 16:13] kantord commented on #181
@douglasferlini sorry for the late reply!

Continous Integration, i. e. adding it to the semaphore configuration:
https://github.com/kantord/LibreLingo/tree/master/.semaphore

[2020-06-15 20:37] slesingerm opened #522 "Use softer sound effects in challenges"
As a personal preference, the sounds currently used in the challenges are somewhat harsh and distract from the challenges. "Softer" sound effects could make the user experience more friendly and welcoming.

[2020-06-27 18:52] #51 closed

[2020-07-07 14:54] douglasferlini commented on #181
I am trying to test your Semaphore configuration in my on fork, but I've got an error for some missing secrets.
Can you provide these secrets or help me customize mine?

[2020-07-08 19:43] kantord commented on #181
Hi @douglasferlini, I put up some documentation regarding this:

https://librelingo.readthedocs.io/en/latest/#setting-up-semaphore-ci-in-a-clone

[2020-07-10 20:43] Sinetsura commented on #367
Libro is Spanish for book, fitting the language, and it means “Knowledge”. Fits a lot and the phrase Libre.

[2020-07-11 11:10] kantord commented on #522
@slesingerm you can try this website: https://freesound.org/ to pick the sounds effects! They have licenses that we can work with

[2020-07-14 00:14] #57 closed

[2020-07-14 00:14] #59 closed

[2020-07-14 00:14] #60 closed

[2020-07-14 15:03] #64 closed

[2020-07-17 23:22] #84 closed

[2020-07-17 23:22] #85 closed

[2020-07-18 19:38] kantord opened #557 "Add "slow mode" / reimagine exercises"
Idea:

-  Instead of giving the user instant feedback, take an initial round of answers
- After the initial round, inform the user of their incorrect and correct answer
- Give the user a chance to answer their incorrect answers again

This might not be good for replacing the current structure altogether, but it might be useful for practicing stale skills

[2020-07-19 11:06] kantord opened #560 "Clear local database when user logs in"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-07-22 02:13] douglasferlini commented on #181
Thanks. I've managed to execute the semaphore workflow in my forked repository.
I will review the sources to identify where do a size limit apply.
If you have any hints on where you would like this limits, please tell me.

[2020-07-22 07:10] kantord commented on #181
I would probably do size limits somehow on binaries. As I said it's probably not trivial to do, but the point is to avoid too much data traffic slowing down the website, therefore what we want to measure would be actual bundles/binaries. For example initial bundles.

[2020-07-22 07:12] kantord commented on #181
Maybe Sapper has some sort of relevant documentation for this, or maybe you can get help at their GitHub page: https://github.com/sveltejs/sapper

[2020-07-22 10:39] douglasferlini commented on #181
Ok, I will start checking on Sapper.

Thanks

[2020-07-23 01:38] #76 closed

[2020-07-25 19:09] #114 closed

[2020-07-26 11:07] #68 closed

[2020-07-26 12:59] #560 closed

[2020-07-30 21:20] #134 closed

[2020-07-31 14:58] #138 closed

[2020-07-31 14:58] #139 closed

[2020-07-31 17:36] VoidNoire commented on #367
What about "Logo"? It's kind of a callback to an [educational programming language of the same name](https://en.wikipedia.org/wiki/Logo_(programming_language)) that was used to program "turtles" ([small robots](https://en.wikipedia.org/wiki/Turtle_(robot))) that can draw vector graphics. Coincidentally, "Logo" also somewhat sounds like "Lingo" and LibreLingo uses a turtle as its mascot. Or I guess

[2020-08-02 18:10] slesingerm opened #579 "Special characters don't switch to lowercase on mobile"
The specials characters don't switch to lowercase when you start writing, eg. you will have to write "la camisa es pequeÑa". This only seems to be an issue on mobile.

[2020-08-02 18:14] slesingerm opened #580 "Phrases with inverted punctuation are marked as incorrect if not using punctuation"
In phrases with inverted punctuation marks, the exercise is marked as wrong if the punctuation is not used. This is not in issue with full stops, for example. It would be good to remove the necessity of writing the full punctuation.

![WhatsApp Image 2020-08-02 at 19 58 13](https://user-images.githubusercontent.com/62794315/89129321-bd3d9c00-d4fc-11ea-9df8-3b5d182448c5.jpeg)

[2020-08-04 19:55] #341 closed

[2020-08-05 07:21] #580 closed

[2020-08-05 14:03] AndreVallestero opened #591 "Teaching pronounciation"
I feel like teaching pronunciation before beginning with words is very important, otherwise, people might begin with incorrect pronunciation and eventually learn it that way as it becomes habit. This is how DuoLingo teaches it's more foreign courses (Korean) and I think it's very effective. [StudySpanish](https://studyspanish.com/pronunciation) also does a great job of this and I hope something si

[2020-08-06 05:34] kantord commented on #591
Closing as duplicate of https://github.com/kantord/LibreLingo/issues/251

Thanks for reporting anyway, and if you have some more notes to add/alternative suggestion than what is laid out there, feel free to add it there :pray:

[2020-08-06 05:34] #591 closed

[2020-08-06 06:35] kantord opened #595 "Add email confirmation system"

[2020-08-06 06:35] kantord opened #596 "Add 'change password' form"

[2020-08-06 06:35] kantord opened #597 "Add 'forgot password' form"

[2020-08-06 06:55] #579 closed

[2020-08-06 07:00] kantord opened #598 "Add 'download your data' page"

[2020-08-06 07:00] kantord opened #599 "Add option to delete accounts"

[2020-08-07 21:09] #162 closed

[2020-08-07 21:09] #117 closed

[2020-08-09 17:29] #166 closed

[2020-08-09 21:42] kantord commented on #203
Ideas:
- Include and equal number of correct an incorrect words, but top it off at a certain number
- Course editor should generate a selection of incorrect words based on other words found in the course
- Words should be included based on similarity: the algorithm should try to include some words that are quire similar to the correct words, but are not in fact correct (based on edit distance)
- A

[2020-08-10 18:54] doamatto opened #608 "Tell Cypress to wait for fonts before taking screenshots"
**Is your feature request related to a problem? Please describe.**
Not an inheirt problem for the end-user, but makes CI checks fail

**Describe the solution you'd like**
Whenever a PR or commit is made and the star count has changed since the last time Percy has seen it, it'll fail CI because of a visual error. It would be nice for this not to happen so Percy reports are meaningful and not an iss

[2020-08-11 20:31] kantord commented on #608
I would say it's rather due to the fonts not being properly loaded.

To solve this we should ideally look for ways to wait for the fonts to be properly loaded before the screenshot is being taken.

If that doesn't work out, we should take inspiration here: https://github.com/palmerhq/cypress-image-snapshot/issues/18 i. e. basically forcing a locally available font in Cypress, instead of the correc

[2020-08-11 20:48] kantord commented on #608
@allcontributors please add @doamatto for bug

[2020-08-12 21:28] doamatto commented on #442
Personally, I feel having CC-BY-4.0 for all courses the best course of action as it would allow a lot of freedom for others to not only expand on courses, but also use these courses to make other amazing products.

[2020-08-12 21:31] doamatto commented on #170
Using the `@media (prefers-color-scheme: dark)` query, you can keep the existing stylesheet (that would be the light theme) and add inside the query the specific changes that would need to be made to adjust for dark theming.

Example:
[code]

[2020-08-12 21:38] doamatto commented on #2
Seems Semaphore is now supported by Codecov ([ref](https://docs.codecov.io/docs/supported-ci-providers#supported-ci-providers-list)).

[2020-08-12 22:00] doamatto commented on #522
[This](https://freesound.org/people/LittleRainySeasons/sounds/335908/) sounds pretty solid. Thoughts?

[2020-08-14 09:03] kantord commented on #522
Maybe! I don't have a clear preference. @slesingerm, do you think @doamatto's suggestion solve the issue?

[2020-08-14 09:05] kantord commented on #2
I wonder if that means Semaphore *2.0* support? Semaphore 1 was supported even when I created the issue

[2020-08-14 09:07] kantord commented on #170
@doamatto yes, that's roughly how I imagine it!

The theme is based on bulma, I wonder if they have some official support for this?

Ideally, instead of overrides, we'd use variables for this. Either build 2 versions of the CSS using SASS with different variables (this should be possible to implement using existing bulma I imagine).

Or the best version of implementation would be using CSS variabl

[2020-08-14 09:10] kantord commented on #442
Yeah, I think that sounds like a solid option at the very least for a default license

[2020-08-15 10:10] kivutar opened #613 "Switch to an open font"
**Is your feature request related to a problem? Please describe.**

The current font, Avenir, is copyrighted and does not include a lot of glyphs. Switching to an open source font that supports a lot of languages would make sense for a project like LibreLinguo.

**Describe the solution you'd like**

A switch to an open source font that has a lot of language support. For example:

 * Roboto + Noto

[2020-08-15 11:01] kantord commented on #613
Do you have some more information on how to do this correctly?

I think that could also solve this issue: https://github.com/kantord/LibreLingo/issues/608

[2020-08-15 11:02] kantord commented on #613
@allcontributors please add @kivutar for ideas

[2020-08-15 12:09] kivutar commented on #227
Setting up the frontend with `yarn` was very easy.

Customizing the CSS style of the course took me quite some time, I had to learn a bit of svelte and bulma, but even then, the styles are a little bit all over the place (which is the current trend is modern UI).

Changing the font and the color palette was super easy for instance. Making all the buttons rounded and flat took me more than 20min.

[2020-08-15 12:14] kivutar commented on #613
It's very simple in fact, make sure that no html element in the whole codebase have a font-family property.

However, on OSes like some linux distro, you may get missing glyphs on asian language courses with this strategy.

I think this trend of defaulting to system fonts works well on UI that display only 1 language at a time: the default language of the user. Not sure if it's gonna fly for a lan

[2020-08-15 12:24] kantord commented on #227
I am considering refactoring this. Essentially I want to put all the UI components into `lluis`, and each component would have it's own styles. Not sure what you think about this solution. The reason why I want this is this:

- We could retire bulma as a dependency
- We could use CSS variables for customization (dark mode for example)
- There would never be unused styles rendered on the page, beca

[2020-08-15 12:27] kantord commented on #227
There would probably always be one instance, although I can imagine companies orNGOs setting up their own instances for internal use. For example: training immigrant workers on language skills of daily importance at work. Or the same for refugees.

[2020-08-15 12:28] kantord commented on #227
Also people can set up their local instance if they want to avoid any network functionality. I'm planning to create a package for that that would be easy to install.

[2020-08-15 12:29] kantord commented on #227
Could you please create a separate issue for this one :pray:

[2020-08-15 12:29] kantord commented on #227
This is probably an issue with the documentation, I never tried but I think with pipenv it should work fine, no?

[2020-08-15 14:54] kivutar commented on #227
Having per component styles is the current good practice in the modern UI world, where apps are huge and modified by large teams. It avoids the problem of regressions across components.

Of course it has downsides, for example, themes. If you take this approach and want things to be customizable, you end up implementing a theming system in JS. CSS being itself already a good theming system, it's f

[2020-08-15 15:00] kivutar opened #615 "pg_config required"
**Describe the bug**

When setting up the course editor, pipenv did complain that pg_config wasn't there. I had to setup postgres. Even if I did set DATABASE_URL=sqlite:///db.sqlite3

**To Reproduce**

Steps to reproduce the behavior:

1. Setup the course editor in pipenv

**Expected behavior**

Since I'm only using sqlite, I don't expect to have to setup pg

**Desktop (please complete the followi

[2020-08-15 15:12] kivutar opened #617 "Voice samples for "Which of these is" exercices"
**Is your feature request related to a problem? Please describe.**

Duolinguo can play a voice sample when the user clicks on a card in the `Which of these is` exercice.
I find it useful for languages where the pronunciation is hard to get.

**Describe the solution you'd like**

In addition to images, we should be able to add voice samples for each options.

**Describe alternatives you've consider

[2020-08-15 15:30] #136 closed

[2020-08-16 04:29] kivutar opened #618 "Switch to a more gamy theme"
**Is your feature request related to a problem? Please describe.**

The current theme, with grey background, desaturated colors, and small elements, doesn't reflect the spirit of `learning while having fun`.

**Describe the solution you'd like**

I think we should adopt a new theme that adhere to the codes of casual gaming, mobile gaming:

 - bright color palette
 - high contrast
 - large clickabl

[2020-08-16 04:34] kivutar opened #619 "Shorter courses"
**Is your feature request related to a problem? Please describe.**

The example spanish course exercice session takes too long. A series of exercices shouldn't take more than 4min to complete. I think it should contain 5 to 10 questions, not 30.

**Describe the solution you'd like**

Break each skill in sublevels: Animals lvl 1, Animals lvl 2, Animals lvl3..

[2020-08-16 04:39] kivutar opened #620 "Allow skipping exercices"
**Is your feature request related to a problem? Please describe.**

There is currently no way to skip an exercice. Adding a skip button would allow users with muted audio to still use the app.

**Describe the solution you'd like**

Adding buttons in the footer like this:

<img width="1792" alt="Screen Shot 2020-08-16 at 11 36 18" src="https://user-images.githubusercontent.com/442722/90326641-f2de8

[2020-08-16 06:33] kivutar opened #621 "Pair matching challenge"
**Is your feature request related to a problem? Please describe.**

This is a kind of exercice that is particularly useful to learn a new alphabet. It is also used to train recognizing similar but different characters or sounds or words:

**Describe the solution you'd like**

<img width="1792" alt="Screen Shot 2020-08-16 at 13 30 24" src="https://user-images.githubusercontent.com/442722/90328218-f

[2020-08-16 06:42] kivutar opened #622 "Translate what you hear challenge"
**Is your feature request related to a problem? Please describe.**

In this kind of exercice, we ask the user to translate a word or sentence in his mother tongue.

**Describe the solution you'd like**

<img width="1792" alt="Screen Shot 2020-08-16 at 13 39 37" src="https://user-images.githubusercontent.com/442722/90328364-0d6d3180-dfc6-11ea-9600-5b5f4568eda8.png">

**Describe alternatives you've

[2020-08-16 06:50] kivutar commented on #522
To me the Success sound is already sweet. I find the Error sound too harsh however.

[2020-08-16 06:58] kivutar opened #623 "Less options displayed on large screen"
**Describe the bug**

On large screens, 2 options:

<img width="1792" alt="Screen Shot 2020-08-16 at 13 57 21" src="https://user-images.githubusercontent.com/442722/90328667-69d15080-dfc8-11ea-9c00-50c1cb02748b.png">

On small screens, 3 options:

<img width="1792" alt="Screen Shot 2020-08-16 at 13 57 56" src="https://user-images.githubusercontent.com/442722/90328677-7eade400-dfc8-11ea-9a51-4193fd

[2020-08-16 07:43] kivutar opened #625 "Make it clear how to export a course"
**Is your feature request related to a problem? Please describe.**

The documentation just state `Check out Django's documentation about database dumps` but I'm not able to execute that command. I have no idea of the name of the django app, or what to exclude:

[code]

**Describe the solution you'd like**

I'd like the doc to give an exact command to export the course.

[2020-08-16 14:39] doamatto commented on #522
I did also see [this](https://obsydianx.itch.io/interface-sfx-pack-1). I would recommend the second tone under the error tones. It's licensed as CC0.

[2020-08-18 01:37] douglasferlini commented on #181
After studying svelte and sapper a little bit an initial solution could be configure webpack to limit entry points's size and assets's size.
What do you think?

[2020-08-18 09:43] #104 closed

[2020-08-19 20:42] #206 closed

[2020-08-19 20:42] #208 closed

[2020-08-20 01:42] #210 closed

[2020-08-20 01:42] #211 closed

[2020-08-20 09:42] #207 closed

[2020-08-20 09:42] #213 closed

[2020-08-20 19:15] #620 closed

[2020-08-20 20:53] kantord commented on #618
@kivutar I love this idea! The images you attached look wonderful.

Would you want to create a pull request with this design?

[2020-08-20 20:56] kantord commented on #618
@allcontributors please add @kivutar for design

[2020-08-20 20:56] kantord commented on #618
By the way, do you have some suggestion for the landing page?

[2020-08-20 21:20] kantord commented on #623
I'd say this is because there are simply not enough "incorrect" answers in the skill that you opened. The solution would be to add some logic to the course editor that makes sure that there's always enough incorrect options by using cards from other skills as well.

[2020-08-20 21:21] kantord commented on #621
I think that's a nice idea

[2020-08-20 21:23] kantord commented on #613
I'd say, in that case maybe Ubuntu would be nice? It's a bit more playful, no?

[2020-08-21 03:28] piedoom commented on #613
I believe Noto is in a very wide variety of languages. https://www.google.com/get/noto/

[2020-08-22 04:26] kivutar opened #639 "Update bulma to use the new bulma helpers"
Bulma recently introduced some helpers that would be useful. For example: https://bulma.io/documentation/helpers/spacing-helpers/

Can we update Bulma to benefit of these?

[2020-08-23 17:14] kantord commented on #618
@kivutar thank you!

[2020-08-23 18:38] slesingerm commented on #522
I like both of @doamatto's suggestions! Especially for the error sound, I think it would just make a more pleasant experience. For the "success" one, I think both the current and the suggestion work, but I do slightly prefer the suggested one.

[2020-08-23 18:45] slesingerm commented on #621
I like this a lot! I'm wondering if it could also be used for some limited grammar teaching: I'm thinking things like, matching the correct plural form to a singular form, or even vocab - matching two "cut up" parts of a word to form a correct word (ex. the chips would give you "co" "ga" "che" "to" and you'd have to match to make "coche" and "gato"

[2020-08-23 18:48] doamatto commented on #522
I can make a PR with both new sounds if thats the mix people are liking :)

[2020-08-23 23:53] #204 closed

[2020-08-24 17:35] kantord commented on #522
@doamatto thanks! Feel free to prepare the MR

[2020-08-24 20:44] kantord commented on #367
I think Lili sounds amazing. Is everyone cool with that?

cc. @slesingerm

[2020-08-24 20:47] kantord commented on #83
For now I'm closing this issue: there are a lot more higher prio issues, and there would be no capacity to implement this or analyze the results anyway.

If you have some great ideas, feel free to re-open though

[2020-08-24 20:47] #83 closed

[2020-08-24 21:01] slesingerm commented on #367
I love Lili, it's cute, catchy, snappy and the **Li**bre **Li**ngo association is great too!

[2020-08-24 21:06] kantord commented on #617
Nice! This should be relatively easy, and borderline good first issue material, but also requires changing both JS and Python code.

## Frontend side

On the front-end side it's simple, you have to take this logic:
https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/components/ListeningChallenge.svelte#L59

And put in here: https://github.com/kantord/LibreLingo/blob/master/workspa

[2020-08-24 21:13] kantord commented on #619
This is actually a duplicate of this: https://github.com/kantord/LibreLingo/issues/413

I just set a very uninformative title for that issue, so it was difficult to find :smiley_cat:

I'll change the title there

[2020-08-24 21:13] #619 closed

[2020-08-24 21:18] kantord commented on #349
This has to be fixed in this file: https://github.com/kantord/LibreLingo/blob/master/workspaces/answer-corrector/index.js

However, I'd say that punctuation is important... I would maybe just rather be a little bit more tolerant with it: for example allow skipping a full stop at the end of the sentence. Or perhaps only warning about this when there is more than 1 punctuation missed in the sentence

[2020-08-24 21:22] kantord commented on #237
This issue only includes setting up Storybook with one component as an example. It doesn't include full documentation of all components

[2020-08-24 21:23] #106 closed

[2020-08-25 11:30] 12people opened #647 "Mention donations in Github repo"
While #19 adds donation links to the web app itself, it would also be very useful if there were donation links in the README in this repo and possibly on the official website as well.

[2020-08-25 11:36] 12people commented on #613
I want to comment on one thing:

That would actually be quite chaotic, as there would be no control over which font is being used — some browsers might use a sans-serif font, some a serif font, and some a different font altogether.

What's generally done if one wants to use system fonts is to specify them as fallbacks. For example, `font-family: 'Open Sans', Roboto, 'San Francisco', 'Segoe UI', sa

[2020-08-25 11:42] 12people commented on #442
CC BY 4.0 is okay with me, though I would personally prefer CC BY-SA 4.0, as it's a copyleft license. Perhaps the course author could choose between the two?

The reason why I'd opt for copyleft is that I personally wouldn't want anyone to take my work and make a proprietary course out of it — I'd want all derivative works to be open-source as well.

CC BY-SA has worked out really well for project

[2020-08-25 11:45] 12people opened #648 "Fix license in the README"
**Describe the bug**
The README cites the GPL as the license, but the actual license is now AGPL.

[2020-08-25 11:59] kivutar commented on #613
Sorry I made a mistake in my explanation. In fact, this technique requires to set either `font-family: serif` or `font-family: sans-serif`. Some others do `font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";`
So I was totally wrong with not specifying any font family, forget about that.

Yes ind

[2020-08-25 13:26] Sinetsura commented on #367
Im cool with Lili

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Daniel Kantor<mailto:notifications@github.com>
Sent: Monday, August 24, 2020 3:44 PM
To: kantord/LibreLingo<mailto:LibreLingo@noreply.github.com>
Cc: Sinetsura<mailto:oscampriede@hotmail.com>; Comment<mailto:comment@noreply.github.com>
Subject: Re: [kantord/LibreLingo] Find a name for the mascot

[2020-08-25 15:22] #180 closed

[2020-08-25 19:50] kantord commented on #647
Thanks!

It actually adds it to the GitHub page! It's the Funding feature in GitHub. But you are right that it's not part of README

[2020-08-25 19:50] kantord commented on #647
(It's actually not part of the app itself either)

[2020-08-30 14:37] kantord opened #661 "Make the user interface translatable"
**Is your feature request related to a problem? Please describe.**
Currently only the landing page is translated, meaning that it's not possible to release courses that are based on a language other than English, since the user interface would still be only in English.

**Due to the relatively limited amount of text found in the app, this issue should be quite short and easy**
 You don't need any

[2020-08-30 14:43] #522 closed

[2020-08-30 14:43] #647 closed

[2020-08-30 14:43] #648 closed

[2020-08-30 19:37] kantord commented on #608
fixed here https://github.com/kantord/LibreLingo/commit/5b5be67d660ffd4e55261822b7d9ce7ca01336bf

[2020-08-30 19:37] #608 closed

[2020-08-31 02:21] LucasCTN opened #665 "Create a lesson introduction page"
**Is your feature request related to a problem? Please describe.**
It could be useful to have Skills include an text introducing the concept to be learned and giving some context when needed.

**Describe the solution you'd like**
It could be made in two different ways:

Have an "Read" button besides the "Learn" button where you can read an text about this Skill, just like Duolingo's hint button:

[2020-08-31 20:16] #625 closed

[2020-08-31 21:01] doamatto opened #671 "Pagespeed badge broken"
The [repo for these badges](https://github.com/alexzaworski/PageSpeed-Badges) seems to be abandoned and the badges no longer display any content. We could remove this badge and consider replacing it with something else. I can make a PR to remove it, if that's the best route @kantord

[2020-08-31 21:16] kantord commented on #671
I guess that badge is not really necessary anyway, so feel free to remove it.

[2020-08-31 23:26] doamatto commented on #615
This should be resolved with #592. If not, I'll make a PR and ensure options for both using the prebuilt and source compile options are documentated properly.

[2020-08-31 23:29] doamatto commented on #613
This is resolved with #637. It switches to the usage of Roboto. This should be closed on the merge of that PR.

(This comment is mostly for future references)

[2020-08-31 23:35] doamatto commented on #2
Seems it's both; https://github.com/codecov/codecov-node/pull/145

[2020-08-31 23:39] doamatto commented on #179
@navanchauhan checking if you're still working on this

[2020-09-01 07:00] #671 closed

[2020-09-01 17:40] kantord commented on #179
@doamatto feel free to take over if you like: https://github.com/kantord/LibreLingo/pull/432#issuecomment-626219716

[2020-09-01 17:45] kantord commented on #665
Thanks @LucasCTN, I was also thinking about adding something similar.

Do you think maybe [django-wiki](https://github.com/django-wiki/django-wiki) would be a nice solution for an editor?

Once we have an editor, it should be relatively straightforward to be able to display it in the app

[2020-09-01 17:46] kantord commented on #665
@allcontributors please add @LucasCTN for ideas

[2020-09-02 00:43] LucasCTN commented on #665
This seems interesting, but this would make django a permanent part of the backend for managing the revisions. Is that correct?

[2020-09-02 02:07] david-code commented on #661
Hello, I would like to help with this.

[2020-09-02 02:18] doamatto commented on #179
Ah, gotcha. Regardless, this issue is blocked by #637/#618. Once some of [the issues](https://github.com/kantord/LibreLingo/pull/637#issuecomment-684036337) are resolved, I'll make a PR to keep compliant with the redesign.

[2020-09-02 05:47] kantord commented on #661
Amazing, @david-code! Feel free to start and let me know if you are stuck or have any question!

[2020-09-02 20:30] kantord commented on #179
@doamatto it doesn't have to be blocked by #637/#618. Since nobody is working full time on these things, PRs can move slowly, so in this case feel free to start working on the 404 page too, if you wish.

You can simply use the current designs, and we'll rebase the redesign PR. Or is there some pitfall that I'm not seeing?

[2020-09-02 20:36] kantord commented on #665
@LucasCTN django can be a permanent part of the backend (more accurately, the course editor), that's not an issue.

What we have now is a Django Admin page. In the future, we can remove Django Admin and build a custom frontend in its place. But the backend for the course editor can stay django-based.

I haven't verified how well django-wiki would work in that situation.

Maybe it's easier to just

[2020-09-02 23:30] doamatto commented on #179
It's mostly a matter on making sure we don't have to use the old design and just go straight to the new one.

[2020-09-03 01:10] david-code commented on #661
I have a question. For the `sign-up` route, I need to provide a translation string for the following:

    I agree to the
    <a href="/tos">Terms and Conditions</a>
    and the
    <a href="/license">GNU Affero General Public License</a>

I was thinking of doing the following:

                {@html $_('signup.license_agreement',
                {values: {
                    tos: `<a href="/tos

[2020-09-03 07:33] kantord commented on #661
@david-code that's a good question!

I think ideally it should be a single translation key, so that translators have good freedom, so maybe just

[code]

[2020-09-03 07:57] kantord commented on #661
svelte-i18n uses https://formatjs.io/ under the hood, maybe there's a better/standard way of doing it

[2020-09-03 17:25] #94 closed

[2020-09-04 13:04] david-code commented on #661
OK sounds good. I'll look into it a bit more and see if I can find a standard way of doing it. If not, I'll use your suggestion.

[2020-09-04 17:04] slesingerm opened #677 "Make Skip/Submit bar static"
When an exercise first shows up, only the "skip" button appears in the bottom bar. Once you make an action (click, start writing, etc) the bar does a little "jump" where it slides down and slides back up, now including the option to "submit". This is somewhat distracting as the bar keeps jumping up and down in your peripheral vision.

Since the skip/submit bar is already there, I would suggest for

[2020-09-04 17:41] kantord commented on #677
Nice! Interesting! I think this could indeed be an improvement

[2020-09-04 21:05] kantord commented on #677
This is a good first issue *for someone who is already a bit familiar with Svelte AND Gherkin *, as it doesn't require a complex understanding of the project structure.

That being said, expect this task to *take a non-trivial amount of time*, because you will be doing some refactoring and also update Gherkin feature files.

## Feature files

You will be changing the feature descriptions in Gherki

[2020-09-05 18:44] titanix commented on #117
I’m late to the party but I’m glad my suggestion was implemented ☺️ Thanks.

[2020-09-06 10:13] #413 closed

[2020-09-06 10:26] kantord commented on #619
This should be fixed now BTW!

[2020-09-06 13:46] #613 closed

[2020-09-11 20:55] kantord commented on #661
@david-code how is it going? Do you need some help?

[2020-09-11 20:55] #443 closed

[2020-09-14 09:40] SaanikaKulkarni commented on #281
Is it cool if i give this a go?

[2020-09-14 10:14] kantord commented on #281
@SaanikaKulkarni yes, absolutely!

To give you some more background, basically, [pyspellchecker](https://pypi.org/project/pyspellchecker/) didn't really work out.

[hunspell](https://pypi.org/project/hunspell/) seems amazing. It's the spell checking engine in Firefox, Google Chrome, LibreOffice, and pretty much one of the most popular engines overall.

The problem with hunspell is that it comes wi

[2020-09-14 15:39] poojadesur commented on #617
Has this issue been resolved? If not could I contribute regarding this?

[2020-09-14 15:43] kantord commented on #617
@poojadesur not yet, go for it! See my [comment](https://github.com/kantord/LibreLingo/issues/617#issuecomment-679366566) for ideas on implementation.

[2020-09-16 06:25] doamatto commented on #315
@kantord Make sure to remove the `wontfix` label when you get a chance as that isn't relevant afaik

[2020-09-16 10:09] Roshanjossey commented on #83
I'm getting help from Gnome.org to get access to a hosted version of https://matomo.org for my personal project.

Matomo has a docker image that you can self host if that's a possibility.

[2020-09-16 12:47] garrison commented on #83
We at https://wikiotics.org have been using https://plausible.io for our analytics lately.  If it would help, we might be able to add you to our account and thus have the Wikiotics Foundation cover the cost.  Would you be interested?  Our public dashboard is at https://plausible.io/wikiotics.org, if an example is helpful.

[2020-09-16 14:46] navanchauhan commented on #179
@doamatto oof, I haven't had anytime to contribute to open-source projects for a while.. If you want to pick it up, I have no problem because I might be a bit out of touch with the code now.

I think if you want, you can try salvaging some code and create a new PR and I'll close this one?

[2020-09-16 15:19] navanchauhan opened #701 "Dependencies badge inaccessible"
**Describe the bug**
'David' Dependencies badge shows inaccessible

**To Reproduce**
Does not show on either the README or the website

**Expected behavior**
Should show information about the dependencies

**Screenshots**
<img width="751" alt="image" src="https://user-images.githubusercontent.com/29234112/93356970-719d4280-f85d-11ea-912d-b2291ea8e1b8.png">

Related to badges/shields#5133 This has

[2020-09-17 14:04] doamatto commented on #701
It seems the main reason for that is because of David DM; I think (if we fix the demo), the best course of action is to replace it with a more stable badge.

[2020-09-17 14:05] doamatto commented on #179
I'll try to do one up in the near future. I'm a bit slammed with school right now, though.

[2020-09-18 13:16] kantord commented on #367
Lili it is then :heart_eyes_cat:

[2020-09-18 13:16] #367 closed

[2020-09-18 19:53] #347 closed

[2020-09-21 21:42] kantord opened #711 "Help: how to open course editor to more people?"
## Problem statement

While the course editor is fully functional and makes it easy to edit the course content, it does not facilitate collaboration sufficiently. It's not enough to draw in a wealth of contributions, it's also extremely important to maintain an efficient, sensible, and fun course structure. To do this, the course editor would probably need to enforce some sophisticated constraints

[2020-09-22 15:02] garrison commented on #711
Well said.

In all honesty, it will be very difficult for you to predict in advance what these "sophisticated constraints" ought to be.  The desired constraints will necessarily evolve and require iteration over time, as you learn what does and does not work for both enabling collaboration and keeping learners engaged.  I fear that coding these into the course editing system will create a high bar

[2020-09-22 21:11] kantord commented on #711
@garrison, thanks for you detailed comment, it's really helpful to read about your experience with Wikiotics.

I think that's a very valid concern. If we can build such constraints, we should strive to build them in a way that leaves us free to do changes to the constraints without having to do complicated database migrations.

I imagine, for example, creating constraints at form validations, or c

[2020-09-22 22:20] ftyers opened #714 "Import audio data from other free/open-source projects"
One of the issues with the "dictation" feature is that it isn't always easy to find data for it.

It would be great to be able to import data from either [Common Voice](https://commonvoice.mozilla.org/) or [Tatoeba](), or both.

[2020-09-22 23:48] wikey commented on #711
Let git worry about it. If the files are small enough, then the conflicts will be easy to resolve. And, if lots of people are simultaneously working on the same small part of the course, then the main problem is likely to be a collaboration/coordination one rather than something you can solve technically. Think about Wikipedia's WikiProjects, which are entirely focused on coordinating and consensu

[2020-09-23 16:54] kantord commented on #714
One possible challenge I see with importing audio from Tatoeba is that it has fixed audio recordings, instead of TTS.

With TTS, the person editing the course content has complete freedom in choosing the sentence, and the audio magically appears. In order to use Tatoeba, we'd have to come up with some solution for it also in the course editor. (Or maybe TTS could be used as a fallback when there's

[2020-09-23 16:58] kantord commented on #714
I think Common Voice might have the same problem, but I see that there's an existing TTS project for it: https://github.com/mozilla/TTS

Perhaps this could be used to replace Amazon Polly as a TTS engine.

Ideally we'd have support for a set of TTS engines in order to maximize the number of supported languages.

[2020-09-23 17:00] kantord commented on #714
There is also a browser API for speech synthesis: https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesis

I imagine in Firefox it will eventually use Common Voice

[2020-09-23 18:13] ftyers commented on #714
I don't think that using TTS is a good idea if it is going to be used for language learning. TTS, unless there is a carefully curated corpus is unlikely to produce good enough output. There would be issues with pronunciation, and especially with prosody and stress. I don't think it's a big problem that the sentences have to be selected from a pre-existing list of sentences. In fact, I think that t

[2020-09-23 20:39] kantord commented on #714
That's a good point, yeah. For sure there are few TTS options that are good enough. Amazon Polly is the one currently used, [it's actually the same one Duolingo uses](https://aws.amazon.com/blogs/machine-learning/powering-language-learning-on-duolingo-with-amazon-polly/).

For many languages however, TTS will be out of the question, because the quality will be nowhere near usable. Let alone endang

[2020-09-24 14:57] kantord commented on #714
This sounds like a wonderful idea

[2020-09-24 15:53] ftyers commented on #714
Yeah, unfortunately it isn't free/open-source either in terms of data or code, so isn't really usable or extensible to most languages. I would hesitate before introducing features that necessarily result in two-tiers of languages, the "with commercial support" and "without commercial support".

[2020-09-24 16:00] kantord commented on #711
@wikey thanks for you comment!

I *do* think that GitHub could partially be a platform. For example, we could use it to store the most basic meta data about each course, as those would rarely have to edited, and thus could be done by developers. It could initially also be used for discussions.

I am not a bit fan of the idea of using git for most of the actual course content though, and for these

[2020-09-24 16:00] kantord commented on #711
Some more details the explain why I don't think git is the ideal way.

I think an ideal system would

- Never "block" the system or accumulate conflicts
- Limit the number of edits that actually end up released
- Minimize the chance of 2 people making conflicting edits

## Never "block" the system or accumulate conflicts

This is because conflicts are not always trivial to resolve, and resolving t

[2020-09-24 16:06] kantord commented on #711
I have to look this up, but I do agree that we need some soft of system where the structural aspects of the course could be discussed and decided. This platform could be loosely coupled with the course editor, and could be a 3rd party solution

[2020-09-24 16:10] kantord commented on #711
The way I imagine it is that branching would not be allowed. Instead, there would be a single, linear "tape" of changes. 2 people would rarely edit at the same time, and if such edit happens, the issues could be still resolved by manually creating a 3rd edit that includes both changes.

[2020-09-24 16:12] kantord commented on #711
All that being said, I'm still flirting with the idea of just using git, because that solution would be delightfully simple.

[2020-09-24 16:20] wikey commented on #711
The [WikiHistory Project](https://en.wikipedia.org/wiki/Wikipedia:WikiProject_History) seems like a reasonably put together one.

My main suggestion is that your high-level goals can _either_ be addressed by an ideal technical solution or by general discussion/planning among the collaborators working on the project. For example, if you want to avoid conflicts, you could just say that the process f

[2020-09-24 18:26] kantord commented on #714
I would also say that our main focus should be supporting features that can be shipped for all languages.

But at the same time, if we are too selective, and really only support things that can provide equal quality for all languages, then we might severely limit the overall feature-set :thinking:

[2020-09-24 18:40] kantord commented on #711
@wikey can you tell me more about how Wikipedia projects are organized? Is there a hierarchical organizational structure, where there is a "boss" who can override individual decisions?

I would say if there's a team of motivated people with a hierarchical structure with a qualified person on the top, then even with the current course editor (which is fully featured in terms of editing the course d

[2020-09-24 18:45] kantord commented on #711
@wikey can you tell me more about how you imagine this?

This is roughly what I have in my head:

- Design a simple YAML schema for course content
- Write a simple script which can convert this human readable format into the format the frontend consumes
- Try running the frontend with it
- Invite people to edit the course and see what happens

[2020-09-24 19:00] ftyers commented on #714
I agree that is a concern, but I think it is ok if we ship free/open-source solutions for let's say "advanced" features, because in principle they can be extended to all languages, I just wouldn't want to rely on anything proprietary. And I would build on existing projects that are language-inclusive rather than rely on language-exclusive projects.

[2020-09-24 19:33] wikey commented on #711
Like basically everything on Wikipedia, the WikiProjects are self-organized and tend to use consensus-based decision making. Someone puts together some ideas, they all use the talk pages to discuss things, people debate back and forth if there are disagreements, and then everyone works on what they want to. If you want something a _little_ more managed, you can take a look at WikiBooks, which has

[2020-09-25 10:31] #304 closed

[2020-09-25 14:23] doamatto commented on #304
This should be re-opened as it was closed in, with lack of better wording, "bad faith."

[2020-09-25 14:35] kantord commented on #304
We can keep it closed, as it is difficult to solve and not a current priority. It could be a year or more before anyone has a chance to look at it

[2020-09-26 05:01] aschrijver commented on #65
Looks like there is a lot of interest for ActivityPub support. Is there any chance that this becomes part of the roadmap? Are contributors wanted/required for this (I can do a shout out on [Humane Tech Community](https://community.humanetech.com) channels)?

[2020-09-26 08:08] kantord commented on #65
@aschrijver based on the little I know about ActivityPub, I really like the idea! My biggest priority right now is the course editor, but it could definitely become part of the roadmap. Also, you are free to submit PRs any time :-)

I know very little about ActivityPub, so I'm not completely aware of how this would work. I think what we'd need:

- A rough outline of the technical implementation
-

[2020-09-26 17:28] kantord commented on #661
@david-code do you have some partially finished work we could merge, so that someone else can continue? :pray:

[2020-09-26 21:47] kantord commented on #416
This could now probably be tackled easily, right? I could just create some account and reblog this article: https://dev.to/kantord/why-i-built-librelingo-280o

[2020-09-27 07:44] davidak commented on #416
@kantord sure. just ask if you need more detailed help like what platform to choose...

[2020-09-27 07:59] kantord commented on #711
That looks like a wonderful resource! I like the license too, it's I think what would be ideal for LibreLingo courses anyway.

I think the fact that we're not supporting everything that they have is also ok, it might be still possible to import at least the vocabulary sections, which would at least give us a framework.

I noticed that the vocabulary sections have examples like this:

[code]

We wo

[2020-09-27 08:01] kantord commented on #416
@davidak if you could suggest a platform, that would be great!

[2020-09-27 08:14] davidak commented on #714
https://www.dict.cc/ has recordings, but they are not open.

Maybe you can convince Paul to publish them under an open license. It is made by the community after all.

[2020-09-27 08:30] kantord opened #719 "update svelte-i18n to v3.1.0"
There is a breaking change: https://github.com/kantord/LibreLingo/pull/708

It's probably a small thing to fix, so it should be straight forward.

[2020-09-27 09:22] kantord opened #721 "update svelte to v3.28.0"
This wasn't automatically updated because the Cypress tests are failing. It's probably an easy fix.

This is the failing MR: https://github.com/kantord/LibreLingo/pull/717

[2020-09-27 12:43] aschrijver commented on #65
Thanks for the info (started with this [toot](https://mastodon.social/web/statuses/104936763523217909). And adding pointers to [Guide for new AP implementeres](https://socialhub.activitypub.rocks/t/guide-for-new-activitypub-implementers/479) on SocialHub, and Feneas [AP watchlist](https://git.feneas.org/feneas/fediverse/-/wikis/watchlist-for-activitypub-apps) and [AP developer watchlist](https://g

[2020-09-27 13:13] joshyide commented on #185
@kantord I'd be happy to take this for Hacktoberfest!

[2020-09-27 14:18] kantord commented on #185
@joshyide cool!

[2020-09-27 15:08] davidak commented on #416
@kantord do you want a microblogging platform like twitter or a blog like medium?

[2020-09-27 18:56] kantord commented on #416
I feel like microblogging makes more sense, blogging seems to require a lot more commitment. If there's a lot of people who'd write articles we can still consider opening a blog like medium

[2020-09-27 21:22] kantord opened #722 "Set up TypeScript"
## What is required
- set up typescript support for all packages under `workspaces/`
- existing JavaScript/Svelte code should work, but adding type annotations optionally should also work

## What is not required
- No need to add type annotation to the entire project, just prove that it works

## Almost good first issue, BUT
This task doesn't require you to know the project structure, but it might

[2020-09-27 22:51] LucasCTN commented on #711
Just to keep note because it seems relevant to the conversation: there is a extension to collect structured data on MediaWiki that maybe could work in this kind of project. [Wikibase](https://www.mediawiki.org/wiki/Wikibase), that powers [Wikidata](https://www.wikidata.org/wiki/Wikidata:Main_Page) (see an example of an structured object [here](https://www.wikidata.org/wiki/Q2)).

I don't know if i

[2020-09-28 06:16] kantord commented on #711
@LucasCTN I like the idea of using Wikimedia, because it's an established platform and also free software. But I wonder if it would have issues? What happens when a broken structure is submitted? With the git idea, it's possible to set up a continuous integration system that would not let a change be merged if it's invalid or doesn't meet certain constraints.

[2020-09-28 07:19] davidak commented on #416
Then a Mastodon instance is the obvious choice. Since this is a free software project, [Fosstodon](https://fosstodon.org/about) is a good community. The instance is community funded, so it will not go away so fast and you can make sure it stays. They have a code of conduct and banned right wing instances and "Adult content that contravenes our CoC".

You can find other communities here: https://jo

[2020-09-28 12:24] wesleymutwiri commented on #420
I'd like to challenge myself and try to fix this issue.

[2020-09-28 12:32] kantord commented on #420
@wesleymutwiri amazing! Let me know if you need help!

[2020-09-28 13:02] LucasCTN commented on #711
MediaWiki comes with a patrolling system in which people that has patrolling rights can mark certain edits as reviewed and keeps a log with who patrolled which edit. Maybe only previously patrolled edits can be deployed to the website?

It also has filtering system in which you put some rules (I think it's regex) and the system can block an edit and keeps a log of what happened.

The extension Fla

[2020-09-28 13:04] wesleymutwiri commented on #420
Just a quick question, should the radio button be present or is it okay for it not to be shown?

[2020-09-28 13:20] kantord commented on #420
![2020-09-28-151959_984x301_scrot](https://user-images.githubusercontent.com/3704904/94437487-18f37100-019e-11eb-8576-f17e75904627.png)

It should look like it does now

[2020-09-28 14:59] wikey commented on #711
Re MediaWiki: You could have your CI infrastructure treat patrolled or FlaggedRev MediaWiki changes as PRs, test them normally, and then flag on the Wiki page any edits that fail. MediaWiki is bot-friendly and there are additional resources for formal testing if you go with one of the structured data elements (see for instance this document on developing integrations/plugins for Semantic MediaWiki

[2020-09-28 15:05] LucasCTN commented on #711
I thought about creating a self-hosted instance of a LibreLingo wiki and installing those same extensions from WikiBooks and Wikiversity on it. Or maybe use the Miraheze wiki farm as a host for the wiki (it comes with a panel to auto-install those two extensions (FlaggedRevs and Wikibase) completely painless. But then you lose a bit of the control of the settings of the wiki to a third party.

[2020-09-28 15:39] kantord commented on #711
If we don't really need access to those settings, that could be OK, no?

But we do need a way to create regular backups of the content, in a format that we can host in a git repo. This would be necessary for 2 reasons:

- In case Miraheze goes offline, we still need to be able to set up the self-hosted instance and not start from 0
- We don't want to create unnecessary hurdles to forking the proje

[2020-09-28 16:12] LucasCTN commented on #711
At the very least, MediaWiki offers a way to [import and export](https://www.mediawiki.org/wiki/Manual:Importing_XML_dumps) individual or group of pages as XML, with their history and authors. It won't export site-related settings though, so that would require a database dump and would need some communication with Miraheze.

But I completely agree that regular backup is very important to keep the

[2020-09-28 16:21] wesleymutwiri commented on #420
Thank you. Already done, committed and currently waiting to merge and close the issue

[2020-09-28 17:00] kantord commented on #420
It was fixed in https://github.com/kantord/LibreLingo/pull/724, thanks again @wesleymutwiri

BTW if you [link](https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue#linking-a-pull-request-to-an-issue-using-a-keyword) a pull request to an issue using a keyword (like `fixes #420`) in your commit messages or PR description, then the iss

[2020-09-28 17:00] #420 closed

[2020-09-29 06:10] wesleymutwiri commented on #420
Oh. Thank you very much for the advice. Will do so in the next issue

[2020-09-29 06:23] kantord opened #729 "update bulma to v0.9.1"
The automatic update failed: https://github.com/kantord/LibreLingo/pull/727 probably due to some breaking changes that require minor modifications in our code to fix.

[2020-09-29 06:57] wesleymutwiri commented on #719
Would like to ask if it's okay if I fix this issue as well? @kantord

[2020-09-29 07:12] kantord commented on #719
@wesleymutwiri, definitely!

Sidenote, Hacktoberfest begins on Thursday, if I understand correctly, in order for your PRs to count towards your Hactoberfest 4, they should be created after October 1. Just as a warning in case you were interested in Hacktoberfest :-) Obviously if you submit the PR before Thursday, I'll gladly accept it too

[2020-09-29 07:25] wesleymutwiri commented on #719
I was actually just doing it for fun. But I guess I'll just continuously change things and wait for Thursday then, considering now there's Hacktoberfest to think about.

[2020-09-29 07:34] kantord commented on #719
@wesleymutwiri great! Up to you!

In case you are interested, you can [register for the Hacktoberfest event on their website.](https://hacktoberfest.digitalocean.com/)

In a nutshell, if 4 of your PRs are merged in the month of October, they will give you a reward. Either plant a tree in your name, or send you a T-shirt.

[2020-09-30 14:23] doamatto commented on #721
This issues may be blocked by #732 or will resolve #732.

[2020-09-30 16:10] sesam opened #733 "Create 'Skip all listening exercises' button"
I'm hacking on this in a public space, with no headphones, so I'd to be able to do exercises without having to press SKIP on every second screen or so.

This feature could probably disable listening until the end of the current lesson (or session) as a first step.

Stretch goals would be to show some notification about these exercises being filtered out. There might be more exercise types like spe

[2020-09-30 16:15] sesam commented on #82
How about distinguishing "Correct" from "Accepted"? As-is, the headline and the color are all the same. I think it would be worth checking if people make a bigger effort / feel greater satisfaction with making an effort with the spelling and accents if there's at least some visual difference.
The other aspect is if the coloring should be a 1:1 match to the scoring, or if there's a need to keep thi

[2020-09-30 16:19] sesam opened #734 "Allow ending a lesson early"
This feature would be like the ultimate SKIP, that takes the user back to the course screen, and probably shows the stats of completed items to not miss out on the feel good effect from completing some questions.

[2020-09-30 16:30] kantord commented on #733
Thanks @sesam!

Absolutely! This would be an amazing feature. I think all exercise types should be configurable, so that the user can customize their experience. I think beyond just on/off switches, perhaps the user should have a way to specify that they want *less* or *more* than usual of a certain exercise type.

However, as a start, I think an on/off switch for listening exercises would be the

[2020-09-30 16:31] kantord commented on #733
@allcontributors please add @sesam for ideas

[2020-09-30 16:39] kantord commented on #734
Amazing idea!

MVP: I think this button should appear after the first successful answer, right? Otherwise the success screen would show zero progress when clicking it. The button could say sth like `Finish early`

[2020-09-30 16:44] kantord commented on #82
since [we lack AB tests or any tracking,](https://github.com/kantord/LibreLingo/issues/83) there's no easy way to do that

I think there's no reason why it has to be a 1:1 match, I love the idea of introducing a third color! To be on the safe side, I think color should not be the only thing telling these apart. Perhaps we could even [include versions of Lili](https://github.com/kantord/LibreLingo/

[2020-09-30 19:05] karthikshetty03 commented on #729
Can I work on this issue ?

[2020-09-30 19:33] kantord commented on #729
@karthikshetty03 hi, yes!!! Absolutely! :smile_cat:

[2020-09-30 19:33] kantord commented on #721
You are right! Closing. Thanks!

[2020-09-30 19:33] #721 closed

[2020-09-30 22:26] #264 closed

[2020-09-30 22:26] #205 closed

[2020-10-01 07:14] pr4n4v69 commented on #729
can i work on this issue?

[2020-10-01 07:26] karthikshetty03 commented on #729
@pr4n4v69  I am currently working on this

[2020-10-01 08:02] karthikshetty03 commented on #729
@kantord , these changes have to be made in master branch right ?

[2020-10-01 10:05] karthikshetty03 commented on #729
I have update the versions of bulma at :

- workspaces/lluis/package.json

- workspaces/web/package.json

There are no errors on the console after this. Anything specific to be done other than this ?

[2020-10-01 18:03] kantord commented on #729
@karthikshetty03, nice, does everything work well?

you can submit the pull request, then everyone can check it out on the preview app

[2020-10-02 08:17] karthikshetty03 commented on #729
Yes
I have created a pull request #737

[2020-10-02 17:12] kantord commented on #729
tip, if you include `fixes #729` in your PR description or your commit message (second line of commit message for example) then the issue will be linked to the PR, and the issue is automatically fixed upon merge

[2020-10-02 17:12] #729 closed

[2020-10-02 18:32] kantord opened #741 "Rename 'master' branch to 'main'"
Guide from GitHub https://github.com/github/renaming

[2020-10-02 18:41] kantord opened #742 "Set up SonarCloud using GitHub Actions"
Info https://github.com/marketplace/actions/sonarcloud-scan

[2020-10-02 19:39] kantord opened #743 "Create a page for the visual regression testing of fonts"
After this MR, the custom font loading is not tested by visual regression tests: https://github.com/kantord/LibreLingo/pull/740

To still tests font styles, create a special test:

- The page should be tested using Percy, the[ same way the other pages are](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/cypress/integration/listening.feature#L7)
- Create a page, which has example t

[2020-10-02 19:47] jobedylbas commented on #734
Can I work on this issue?

[2020-10-02 20:37] kantord commented on #734
@jobedylbas yes absolutely!!!

[2020-10-02 21:45] #172 closed

[2020-10-02 22:31] doamatto commented on #742
It may be more efficient to use the normal marketplace app ([It's free for oss like librelingo](https://sonarcloud.io/pricing)). It would act the same way as the other tests and appear like so (for example):
![image](https://user-images.githubusercontent.com/30969346/94974731-4b65dc80-04c4-11eb-8a36-1659492ec6c0.png)

[2020-10-02 22:49] kantord commented on #742
Thanks for the suggestion! That worked. Amazing.

[2020-10-02 22:49] #742 closed

[2020-10-02 23:00] doamatto commented on #742
No problem lad!

[2020-10-03 07:52] joshyide commented on #185
Hi @kantord you'll see I've raised a PR for this one which added meta description to the head of the index, about, development and sign-up routes. Also fixed a very small typo on sign-up-success.

I added the meta descriptions to the i18n en.json file as I assume there would be a need for translations of these later, which I have not done.

Let me know if any issues!

[2020-10-03 07:55] #185 closed

[2020-10-03 13:48] #313 closed

[2020-10-03 19:29] barrotsteindev commented on #2
I'd like to tackle this one :)

[2020-10-03 19:57] panditita commented on #743
Hey @kantord I would like to give it a try to fix this but I'm not sure I understand what I need to do, would you mind walking me through it?🙊🙈

[2020-10-03 20:51] kantord commented on #743
@panditita sure!!!! :cat: Here's a longer explanation.

We need a page with example of the typography that we use. This would pretty much consist of something like the code examples [on this page](https://bulma.io/documentation/elements/title/).

The purpose of this, so that Percy can verify that the typography on our pages looks *visually* correct, i. .e. matches the existing screenshot in their

[2020-10-04 06:42] HelioStrike commented on #722
@kantord I don't have experience working with svelte projects, but I'd like to give this a peek.

[2020-10-04 07:32] kantord commented on #722
Sure, @HelioStrike sure, go for it!

[2020-10-04 10:30] #734 closed

[2020-10-04 11:28] kantord commented on #733
Ok, I found the simplest solution for now. It doesn't need saving any configuration, not even to cookies. We'll later implement that as well, but as a simple start, here's what to do:

- Add a "Can't listen now" button ChallengePanel only to listening exercises
- This button should just skip the current exercises *and* all remaining listening exercises

To make it easier, here's an earlier PR that

[2020-10-04 16:22] kantord opened #753 "Cypress: disable sounds effects"
Cypress tests interact with parts of the application where sounds effects are made. This is distracting when working with the tests locally. (i. e. `yarn web cy:open` or `yarn web cy:run`)

`howler` is used project-wide to implement sound effects, here's **one example**:

https://github.com/kantord/LibreLingo/blob/c89466d7560eb3338b95d4c2cdb7fe02d1b51af4/workspaces/web/src/media/voice.js#L1-L9

Th

[2020-10-04 16:37] DavidLuterancik commented on #753
I am looking for my first contribution and would like to try implementing a solution for this issue.

[2020-10-04 16:37] kantord opened #754 "Help: Looking for an "owner" of design"
There is an initiative to improve the design: https://github.com/kantord/LibreLingo/pull/637

It seems to be a little bit stuck, and in need of attention. I will not really be focusing on this though, so I'm looking for a person who'd "own" design, i. e.:

- focus on design, make sure it's going forward, remove obstacles etc.
- have some form of vision, ideas on new design features/improvements we

[2020-10-04 16:40] luthrap commented on #753
I would like to participate as well.

[2020-10-04 16:47] kantord commented on #753
@DavidLuterancik awesome, go for it!! If you have any questions, feel free to ask

@luthrap let's give this one to @DavidLuterancik. Of course if you agree to, you can cooperate/do pair programming etc :wink: Otherwise, there's some more[ good first issues](https://github.com/kantord/LibreLingo/issues?q=is%3Aopen+is%3Aissue+label%3AHacktoberfest+no%3Aassignee) that you can check out:/

[2020-10-05 16:13] DavidLuterancik commented on #733
If possible, I'd like to try to help with this

[2020-10-05 16:19] kantord commented on #733
@DavidLuterancik amazing!! :smile_cat:

[2020-10-05 16:19] DavidLuterancik opened #759 "Double clicking the words in sentence builder"
**Is your feature request related to a problem? Please describe.**
With translate sentence, only drag&drop is available. To improve user experience I suggest adding double click.

**Describe the solution you'd like**
Double clicking :
- adds the word at the end of the sentence
- removes the word from sentence into the word pool

**Additional context**
![image](https://user-images.githubusercontent

[2020-10-05 16:24] kantord commented on #759
Great idea! Maybe it could even just be single clicking?

[2020-10-05 16:25] kantord commented on #759
@allcontributors please add @DavidLuterancik for ideas

[2020-10-05 18:04] wesleymutwiri commented on #719
@kantord I'm getting a few merge errors when I try to create a PR. Should I continue with creating a PR or try and pull the whole project again and redoing the changes with the new code?

[2020-10-05 20:22] #279 closed

[2020-10-05 20:22] #278 closed

[2020-10-05 20:56] kantord commented on #719
Depends. If the conflicts are easy to resolve, than perhaps you could rebase to get rid of the conflicts. On the other hand if your changes were very easy to do, then perhaps it's easiest to just pull the whole thing again and redo the changes. git cherry-pick is also an option, but you might still have conflicts with cherry-pick

[2020-10-05 23:13] HugoLiconV commented on #759
I could take a look at this. Could someone help me to find the code for this part?

[2020-10-06 05:41] kantord commented on #759
@HugoLiconV amazing!!! it's this file: https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/components/ChipsChallenge/index.svelte

let me know if you have any more questions

[2020-10-06 05:43] kantord commented on #181
Hi @douglasferlini, sorry for the late reply. If I ever ignore an issue for this long a time, feel free to ping me please :-)

yes I think limiting the webpack entry size could be a good start indeed!

[2020-10-06 07:03] kantord opened #767 "Report typescript errors in CI"
Now that [we have TypeScript in our repo](https://github.com/kantord/LibreLingo/pull/757), it would be very useful to have our CI validate it.

This might involve a little bit of research or previous experience with TypeScript, but it doesn't require previous knowledge of our source code. If you feel confident about your knowledge of TypeScript, this should be a great first issue for you.

These a

[2020-10-06 07:06] ArturBa commented on #767
I would love to try to implement this

[2020-10-06 07:08] kantord commented on #767
Amazing!!!! Go for it, @ArturBa!

[2020-10-06 17:53] kantord opened #770 "CI: make sure semaphore can run in forks"
*Problem*: we don't have Cypress tests in forks, because the knapsack pro token cannot be shared with forks due to security reasons
*Expected behavior*: Cypress tests are executed in forks, even if they are not very optimized

You'll have to change this CI job in the Semaphore config:

https://github.com/kantord/LibreLingo/blob/f634aafd1da88ac1be46276ec496a17c95dcb0ee/.semaphore/semaphore.yml#L41-

[2020-10-06 19:42] kylemumma commented on #82
I'd love to take on this issue as my first PR

[2020-10-06 19:47] kantord commented on #82
@kylemumma amazing!! Go for it! Let me know if you have any questions

[2020-10-06 21:22] kantord commented on #711
I created a draft for a proposed yaml format for writing courses: https://github.com/kantord/LibreLingo/pull/755

I'd appreciate some early feedback :pray: If the format is considered viable, I'll proceed by adding some minimal tooling so that we can actually load the courses in the frontend.

The idea is that this format would permit both humans and computers to work with it. There could be git b

[2020-10-07 05:25] kantord commented on #2
@barrotsteindev sure! Go for it!! Sorry for the late reply, I had a very dirty email inbox :facepalm:

[2020-10-07 05:28] kantord commented on #2
By the way, here's an article about this: https://lacourt.dev/2020/07/05

They are using Rollup instead of webpack, but I think that it could work even with webpack, since other plugins for[ instrumentation with istanbul ](https://github.com/JS-DevTools/coverage-istanbul-loader)are available

[2020-10-07 09:16] ArturBa commented on #767
@kantord
Please take a look at #772

[2020-10-07 09:43] ArturBa commented on #770
Interested ;)

[2020-10-07 10:51] ArturBa commented on #770
How should I solve problem with PERCY_TOKEN?

[2020-10-07 18:49] kylemumma commented on #82
@kantord I was able to get the typo message changed for ListeningChallenge.svelte, I also noticed that ShortInputChallenge.svelte contained spellingSuggestions as well but couldn't find anywhere that this component was used in the lessons. I went ahead and changed it for that component too but haven't been able to test that its working properly since I couldn't find anywhere that component was use

[2020-10-07 20:57] kantord commented on #770
@ArturBa, this is what I saw in the CI output:

Based on that, CI should be passing, even though Percy won't work. I'm not sure what to do with it yet, I contacted Percy's customer support. Regardless, as long as it's not failing the CI, you don't need to worry about that.

[2020-10-08 01:21] HugoLiconV commented on #759
Hi @kantord. I started working with this and I was able to finish the feature, but now I'm having some bugs while changing the position of the chips.
![bug](http://g.recordit.co/ML2sflJOEK.gif) [video](https://recordit.co/ML2sflJOEK)

And the value of the variables I'm using to hold the answers and the options are being updated but the view is not.
![bug](http://g.recordit.co/OoKhixAunC.gif) [vide

[2020-10-08 06:03] kantord commented on #759
Without seeing the code, I'm not sure why the issues might be, but here's one idea.

SortableJS has it's own internal state management, and perhaps the changes that you are making are not propagated to this internal store.

Probably there's some API in SortableJS that you need to call to make this update externally (best case) or you need to re-create sortable every time this happens (worse case).

[2020-10-08 06:09] kantord commented on #82
Hi, @kylemumma, if you have the server running locally, there is this URL that you can open (not documented yet, sorry :facepalm: ). http://localhost:3000/devtools

There you should see links to examples of each challenge type used.

[2020-10-08 06:11] DavidLuterancik commented on #733
I've got the button in place. Can you explain the logic behind when it should display ? Right now it won't appear unless you make a correct answer first. This is how the 'Finish early' button is displayed too. Skipping a task increases the progress bar, wrong answer doesn't. Is this by the design?

[2020-10-08 06:14] kantord commented on #82
BTW feel free to submit the PR!

[2020-10-08 13:59] taylor-abbas commented on #639
I am interested in contributing to this as my first issue. Could you guide me please.

[2020-10-08 14:03] taylor-abbas commented on #239
I am interested in contributing to this as my first issue. Could you guide me please.

[2020-10-08 19:45] ArturBa commented on #770
Fixed by running simple cypress test

[2020-10-08 21:19] kantord commented on #733
I would say it should be displayed only for listening exercises. That's enough, because if we skip all following listening exercises, then this button will already never appear again. No need to get the first answer correct.

The skipping logic should work very similarly as the "finish early", but it should only skip listening exercises

Yes, that's how it should behave now. Do you think that's a

[2020-10-09 01:01] HugoLiconV commented on #759
I think the bug was created when I removed `get`.
[code]

The problem now is that if I add `get` again the on click event doesn't work because it updates the values of the variables but it doesn't update the view.

I created this [codesandbox](https://codesandbox.io/s/sortable-bug-0lmd8?file=/App.svelte) where is easier to check the bug.

This is the first time I use svelte so I don't know what th

[2020-10-09 05:55] kantord commented on #759
So If I understand correctly, what you did was probably a good idea:

[code]

But probably the store inside Sortable is outdated, and it's messing up the indices of the elements, right?

Maybe there's a better way, but I was thinking that this could be fixed by re-creating sortable every time when the store is updated from the svelte side.

[2020-10-09 06:11] kantord commented on #759
I unfortunately don't have more time time, but I think the problem is that the update feature here:

[code]

Doesn't get called when it should be. Perhaps you could try asking at the [Svetle community](https://github.com/sveltejs/svelte)?

[2020-10-11 06:03] kantord commented on #457
We can revive this after this: https://github.com/kantord/LibreLingo/pull/755 is merged, as it will be very easy to do simply by linking to the file on GitHub

[2020-10-11 06:27] kantord opened #787 "Update to webpack 5"
The automatic upgrade failed: https://github.com/kantord/LibreLingo/pull/786

The task is to fix the issues and make the upgrade pass.

This should be a good first issue as it will not require deep knowledge of the project, but keep in mind that there's no guarantees that updating webpack will immediately work, because it's a fresh release.

Official blog on version 5: https://webpack.js.org/blog/

[2020-10-11 06:36] kantord commented on #639
Hi! Sorry, I didn't have time to get to this issue until today.

I just checked and I realized that this issue is definitely outdated. We already have the newest version of bulma.

[2020-10-11 06:36] #639 closed

[2020-10-11 07:02] kantord commented on #239
Hi @taylor-abbas, here's some more info regarding this:

There are sometimes multiple ways of typing the same character in unicode. For example, you can type an `Á` character as a single character, or as an `A` character, plus an accent. Often what happens is that people use a compose key to type such a character, and thus end up creating the 2-character version. [Both versions should be considere

[2020-10-11 12:55] kantord commented on #2
hi @barrotsteindev, how is it going?

[2020-10-11 20:57] mooncakes-dev commented on #237
Hi! I am going to try and tackle this issue and wonder where you wanted storybook directory to live?

[2020-10-11 21:03] chernykhal commented on #787
Hello! Can I try do it?
I'm new at working with webpack and have never worked with svelte projects at all, but I would like to give it a try. I think it will be interesting :smile:

[2020-10-11 21:12] kantord commented on #237
@mooncakes-dev amazing!!!

I think it would make sense to put it under `workspaces/`.

Here's where our yarn workspaces configuration is, in case sth goes wrong: https://github.com/kantord/LibreLingo/blob/master/package.json#L14

Let me know if you have any questions!

[2020-10-11 21:13] kantord commented on #787
Sure, feel free to give it a try!

[2020-10-12 02:56] douglasferlini commented on #181
No problem @kantord , so I will start this issue's implementation like we discussed up to this point.

[2020-10-12 08:18] kantord opened #789 "Clean up documentation"
We currently have our documentation scattered in different places:

- https://github.com/kantord/LibreLingo#become-a-contributor
- https://github.com/kantord/LibreLingo/blob/master/docs/CONTRIBUTING.md
- https://librelingo.readthedocs.io/en/latest/

And perhaps even somewhere else :-)

The goal is to move all important information into well organized sections under https://librelingo.readthedocs.i

[2020-10-12 09:21] yash2189 commented on #789
Hi! Can I work on this? Although I need some time to explore more regarding LibreLingo.

[2020-10-12 11:05] kantord opened #790 "Convert `answer-corrector` to TypeScript"
Answer corrector is a small package in this repo. It implement a function for deciding whether an answer was correct.

The task is to convert this tiny package into TypeScript, and add correct type annotations.

Here are the files that you have to change: https://github.com/kantord/LibreLingo/tree/master/workspaces/answer-corrector

You can create a specific type for normalizer functions, meaning

[2020-10-12 18:25] zinovik commented on #790
Could you check my PR: https://github.com/kantord/LibreLingo/pull/792?

[2020-10-12 21:01] yash2189 commented on #789
sure @kantord I'll definitely ask questions

[2020-10-13 12:34] yash2189 commented on #789
@kantord If I'm not wrong all the contents should be placed inside a single `README.md` file right?

[2020-10-13 19:06] kantord commented on #789
@yash2189, not really. The goal is to organize everything under `/docs`, and modify `README.md` so that it serves as an entry point to the documentation.

[2020-10-13 19:09] kantord commented on #719
Hi @wesleymutwiri, how is it going? Can I help?

[2020-10-13 19:10] kantord commented on #733
Hi @DavidLuterancik, how is it going? Can I help?

[2020-10-13 19:11] kantord commented on #759
@HugoLiconV how is it going? Can I help?

[2020-10-13 22:05] DavidLuterancik commented on #733
Sorry, I've been busy these past days and stuck at this : commit 5df024bc8f550f204a8efdb4c25ecaa5c477ef26

[2020-10-14 05:12] kantord commented on #733
@DavidLuterancik

[2020-10-14 05:12] kantord commented on #733
@DavidLuterancik

[code]

I would say it's a good way, but I wouldn't mutate the array in place. Instead
I would just assign a new, filtered array:

[code]

That way, also your condition will be simplified:

[code]

You can even use a ternary operator to replace the `if` if you want to.

[2020-10-14 05:17] kantord commented on #733
There shouldn't be much of a condition.

Instead, it should only be displayed for listening challenges, and only if they
aren't successfully completed. This is probably a matter of passing down `skipAllVoiceChallengesFunc`
to ChallengePanel only in ListeningChallenge, and only displaying this button
when the function is passed down.

[2020-10-14 06:49] kantord opened #798 "Get rid of console warnings"
**Describe the bug**
If you run the development server (`yarn web dev`), and run the Cypress tests,
(`yarn web cy:run`), you'll see that there are several console warnings.

**To Reproduce**
Steps to reproduce the behavior:

1. `yarn web dev`
2. `yarn web cy:run`

**Expected behavior**
There should be no console errors, the dev server output should be clean

**Screenshots**
![2020-10-14-084744_571

[2020-10-14 06:51] vivek32ta commented on #798
Hi @kantord

I'd love to take this up

[2020-10-14 06:52] kantord commented on #798
@vivek32ta amazing! Go for it!!

[2020-10-14 08:10] vivek32ta commented on #798
Hey @kantord

So after I installed all dependencies and I used `yarn web dev`

I get this error

[code]

I tried adding `__dirname` to the paths as referenced [here](https://stackoverflow.com/questions/42940050/configuration-output-path-the-provided-value-public-is-not-an-absolute-path) as well, but of no luck.

[2020-10-14 08:39] DavidLuterancik commented on #733
Trying to assign filtered array inside func would throw and error.

Had to use `remainingChallenges.splice(0, remainingChallenges.length, ...r2)` instead

[2020-10-14 15:14] yash2189 commented on #789
@kantord I'm quite confused . You have mentioned this "The goal is to move all important information into well organized sections under `https://librelingo.readthedocs.io/en/latest/` (generated based on the files here: `https://github.com/kantord/LibreLingo/tree/master/docs`)".
Could you please explain this so that I'll start working further?

[2020-10-15 18:53] kantord commented on #733
Anyway, if your way *works*, it is fine. I can see now that the other function also modify it in place.

If it still doesn't work, please ping me for help

[2020-10-15 18:56] kantord opened #806 "Add sponsor button to the page"
**Is your feature request related to a problem? Please describe.**
The sponsoring information is only present on the GitHub page for now. It would be better if it was also linked in the app itself

**Describe the solution you'd like**
Please add a sponsor button on the web page, next to the github stars button on the navbar.

The sponsor button should lead to this link: https://github.com/sponsors

[2020-10-15 19:14] gkydev commented on #806
Hi can you assign this to me

[2020-10-15 19:46] kantord commented on #806
Sure @gkydev !

[2020-10-15 21:02] gkydev commented on #806
Thank you @kantord !

It supposed to look like this right ?

![image](https://user-images.githubusercontent.com/26537245/96185593-cdcdb200-0f42-11eb-8e63-d887554f1c7c.png)

[2020-10-16 00:14] dimlaksana commented on #741
Hi, can I work on this?

[2020-10-16 00:59] #453 closed

[2020-10-16 05:24] kantord commented on #741
Hi! Sure!

Keep in mind, I have no idea how to do this and it is probably not a change that can be done in a pull request. Also you will probably need my help. So the task is more about doing the research. And possibly just make me do the necessary actions then :-D

[2020-10-16 05:32] kantord commented on #237
Hi @mooncakes-dev :wave:

How is it going? Let me know if you need help

[2020-10-16 05:48] kantord commented on #806
@gkydev yes, that looks perfect!

[2020-10-16 05:50] kantord commented on #789
Yes, I think you are on the right way!

No need, feel free to make small fixes like that as you go!

[2020-10-16 05:56] yash2189 commented on #789
Thank you @kantord I'll surely update you regarding the progress. Apologies I'm taking a lot of time to solve the issue.

[2020-10-16 06:05] kantord commented on #789
It's ok, I apologize that I take so much time responding to your question :-)

[2020-10-16 07:04] dimlaksana commented on #741
Oh I see. I found this article maybe it can help
[]()https://www.git-tower.com/learn/git/faq/git-rename-master-to-main/.

I think it's a little bit complicated.

[2020-10-16 17:38] kantord commented on #741
Thanks, that a useful link! Looks like its actually fairly simple. I think I'll do it once hacktoberfest is over.

If you are looking for more tasks: when I have time I will create new ones. Also, feel free to come up with feature requests and such, if you come up with any ideas. I'll help with breaking them down

[2020-10-16 17:39] kylemumma opened #813 "Add ability to send multiple message details to challenge panel"
When users enter a typo, the current challenge panel only has the ability to show them the correct spelling, but it would be important for user to be able to see the correct spelling and the translation.

This can be solved by adding the option to send the property ‘messageDetail’ as a string OR an array. This will make it so all the components that send as a string still works, but can be modifie

[2020-10-16 17:43] kylemumma opened #814 "add underlining to misspelled word in typo submission feedback"
When you submit a typo it tells you that you made a typo and displays the correct spelling, but it would also be a nice feature to have the words you misspelled to be underlined in the correct spelling. This would make the feedback more clear and readable.

[2020-10-16 17:46] kylemumma commented on #813
@kantord can I be assigned to this

[2020-10-16 17:46] kylemumma commented on #814
@kantord and this as well

[2020-10-16 17:52] kantord opened #816 "Make <SkillCard /> lazy-load"
**Is your feature request related to a problem? Please describe.**
As the number of features is increasing, our bundles also increase and the user interface is getting slower. In order to improve user experience, it would be nice to decrease the size of initial bundles.

**Describe the solution you'd like**
- Please create a [skeleton loader](https://www.google.com/search?q=skeleton+loader) for [S

[2020-10-16 17:53] kantord commented on #813
@kylemumma sure thing!

[2020-10-16 17:53] kantord commented on #813
@allcontributors please add @kylemumma for ideas

[2020-10-16 17:55] kantord commented on #661
I am closing this issue due to inactivity, and planned changes that would make this easier in the future. Once the changes are planned, I'll create new issues separately for each part of the app

[2020-10-17 14:18] himankpathak commented on #81
Hey @kantord,
I would like to work on this issue.

[2020-10-17 15:40] kantord commented on #81
Hi @himankpathak, amazing!! Go for it!!

[2020-10-18 04:07] nihithreddy commented on #237
Hey @kantord  can i work on this?

[2020-10-18 07:23] kantord commented on #237
Hi @nihithreddy , it's still assigned to @mooncakes-dev

[2020-10-18 08:28] nihithreddy commented on #237
Ok @kantord .Can you assign me any other issues so that i can work in them.

[2020-10-18 08:45] kantord commented on #237
@nihithreddy sure! As soon as I have time, I'll create some more issues. In the meantime: you are not limited to contributions I ask for: if you can think of a feature request, feel free to create the issue. I'll help you to break it down in steps that you can do.

[2020-10-18 09:22] nihithreddy commented on #237
Yeah definitely @kantord

[2020-10-18 13:40] mooncakes-dev commented on #237
@kantord hi, sorry classes got super busy! I will be putting a PR out tonight though!

[2020-10-19 15:37] DavidLuterancik commented on #733
https://github.com/kantord/LibreLingo/pull/825

[2020-10-19 15:41] DavidLuterancik commented on #733
Should be all good now

[2020-10-19 20:18] Lamdarer opened #828 "Show translation for "Type what you hear" lessons"
Currently it looks like this:
![type_what_you_hear](https://user-images.githubusercontent.com/50927784/96506635-4476f200-1258-11eb-8332-d4a4b765738b.png)
When I saw and heard this lesson I was able to write it but I couldn't remember what "gato" means.
So in my opinion it would be nice if the translation would be provided directly on the solution or somewhere else at the page.
Like this for instan

[2020-10-21 02:56] HugoLiconV commented on #759
Hi, @kantord I just want it to give you an update. I've been working on this but I haven't been able to solve it, and I'm out of ideas now. I asked in stack overflow and I created an issue on SortableJS but I haven't received an answer yet.

[2020-10-21 11:59] ArturBa commented on #770
Can you close issue?

[2020-10-21 12:56] #770 closed

[2020-10-21 15:22] kantord commented on #813
Hi @kylemumma, how is it going? Do you need some help?

[2020-10-21 15:22] kantord commented on #814
Hi @kylemumma, how is it going? Do you need some help?

[2020-10-21 15:22] kantord commented on #789
Hi @yash2189 , how is it going, do you need some help?

[2020-10-21 15:23] kantord commented on #787
Hi @chernykhal, how is it going? do you need some help?

[2020-10-21 15:23] kantord commented on #239
Hi @taylor-abbas, how is it going? Do you need some help?

[2020-10-21 15:24] kantord commented on #719
Hi @wesleymutwiri I'll unassign you for now, since you seem to be busy. In case you want to continue, let me know any time!

[2020-10-21 15:25] yash2189 commented on #789
Hello @kantord sorry for not updating I'll be completing this issue till Friday if it's fine.

[2020-10-21 15:26] kantord commented on #2
Hi @barrotsteindev, I'll unassign you for now, since you seem to be busy. If you want to continue working on this, feel free to let me know anytime!

[2020-10-21 15:28] kantord commented on #181
Hi @douglasferlini, how is it going? Do you need some help?

[2020-10-21 15:30] kantord commented on #789
:+1: sure!

[2020-10-21 20:37] kylemumma commented on #814
Hi @kantord sorry I've been a bit busy with classes this week so I haven't been able to work on these much. I should be able to have both done by this weekend though!

[2020-10-21 21:50] douglasferlini commented on #181
Hi @kantord , I am updating my fork, because it is outdated. I will create a merge request as soon as I can.

Thanks

[2020-10-22 02:59] HugoLiconV commented on #759
Well, someone answered on the issue I created on SortableJS. https://github.com/SortableJS/sortablejs/issues/1946

[2020-10-22 05:52] kantord commented on #828
Nice. I think this might be a bit trickier to implement, because it probably requires changes in the Python code as well as the JavaScript code. I'll probably make the changes in the Python code and then update this issue so that someone can tackle it.

[2020-10-22 16:19] Lamdarer opened #832 "Asking other developers for help or use code of other open-source projects"
Since LibreLingo is on its way to become a language learning platform and there are already much/some similar projects out there(even if most of them are more focused on one specific language or detail) it could more efficient to use those open-source projects or even their experiences.

For instance there is a "Kakugo" which is a application for learning Japanese it includes a nice drawing lesson

[2020-10-22 19:48] kantord commented on #832
Absolutely! If the license permits

[2020-10-24 09:26] himankpathak opened #841 "Update layout in ChallengePanel to use Flexbox or Grid layout"
**Is your feature request related to a problem? Please describe.**
The current layout on [challenge panel](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/components/ChallengePanel.svelte) uses CSS without a proper layout system.
CSS property `float` should be avoided as the same design can be achieved by Flexbox.
The UI should look the same for mobile, tablet, and desktop scr

[2020-10-24 13:13] #81 closed

[2020-10-24 13:16] kantord commented on #841
@allcontributors please add @himankpathak for bug

[2020-10-24 14:05] kantord opened #844 "Turn sass/components/navbar.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:08] kantord opened #845 "Turn sass/components/media.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and insteadimplement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:08] kantord opened #846 "Turn sass/components/panel.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:09] kantord opened #847 "Turn sass/layout/hero.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:10] kantord opened #848 "Turn sass/layout/footer.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and insteadimplement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:10] kantord opened #849 "Turn sass/layout/section.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:11] kantord opened #850 "Turn sass/elements/tag.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:11] kantord opened #851 "Turn sass/elements/container.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:11] kantord opened #852 "Turn sass/elements/title.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:12] kantord opened #853 "Turn sass/elements/content.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:12] kantord opened #854 "Turn sass/elements/image.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:13] kantord opened #855 "Turn sass/elements/progress.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 14:13] kantord opened #856 "Turn sass/form/input-textarea.sass into a component"
This file is currently imported in [mystyles.scss](https://github.com/kantord/LibreLingo/blob/master/workspaces/web/src/mystyles.scss). It corresponds to a [bulma feature](https://bulma.io/documentation/).

This is all and well, but long term we want to avoid using bulma, and instead implement the styles within each component. The advantage of that is that we don't have to put unused CSS on pages,

[2020-10-24 15:32] kantord commented on #798
Unfortunately @vivek32ta cannot continue working on this issue, so this is up for grabs again.

Feel free to either pick it up where they left off: https://github.com/kantord/LibreLingo/pull/803

Or start over :-)

[2020-10-25 07:12] mkamranhamid commented on #850
Hi @kantord, are we using any CSS-in-JS package(like emotion) or I'd need to integrate that?

[2020-10-25 08:55] Sheitak commented on #841
Hello, I can take care of this if you agree,

[2020-10-25 15:19] kantord commented on #850
Hi, no, you can just follow the same implementation pattern as used elsewhere, just the built in solution from svelte

[2020-10-25 15:20] kantord commented on #850
on second though, I wonder if that really counts as CSS-in-JS :thinking:

[2020-10-25 15:26] kantord commented on #841
Sure @Sheitak , go for it!!!

[2020-10-25 16:12] mkamranhamid commented on #850
you mean emotions?

[2020-10-25 16:16] kantord commented on #850
Nope, Svelte's built in styling solution. I changed the description of the task. Now it doesn't say you need to do CSS-in-JS.

Do you think emotions (or any CSS-in-JS) solution would have some advantage over just using Svelte's built in styling solution?

[2020-10-25 16:17] kantord commented on #850
Here's an example of a component that uses the desired solution https://github.com/kantord/LibreLingo/blob/master/workspaces/lluis/Columns.svelte

[2020-10-25 16:45] Sheitak commented on #841
OK great, i write you very soon

[2020-10-25 19:07] kantord commented on #853
@x4th has a PR for this already: https://github.com/kantord/LibreLingo/pull/859

[2020-10-25 20:30] yash2189 commented on #789
@kantord Completed the work , will be raising the PR tomorrow. Also I have created some sections so that the ( https://github.com/kantord/LibreLingo/tree/master/docs )[ https://github.com/kantord/LibreLingo/tree/master/docs ]
is organized in a proper way.

[2020-10-26 05:18] kantord commented on #789
Thank you, @yash2189! I'll review it ASAP once you submit the PR :wink:

[2020-10-26 07:41] Sheitak commented on #841
Excuse me but I'm not very familiar with python, can you tell me how to compile the repo on my install please ? Should I use this link as well ? https://danielkantor196881.typeform.com/to/V00Paz

I leave it to you to tell me more precisely the procedure to follow to be able to optimize this CSS @kantord

[2020-10-26 09:35] chernykhal commented on #787
@kantord Hey, i'm in progress, but it really looks harder, than i thought
I'm just update webpack package to v5 and it instantly doesn't work
<details>
  <summary>Console output</summary>
`
alexander@alexander:~/sites/forks/LibreLingo/workspaces/web$ yarn dev
yarn run v1.22.5
warning package.json: No license field
$ sapper dev --no-hot
✗ server
resolve 'internal' in '/home/alexander/sites/forks/Li

[2020-10-26 10:18] chernykhal commented on #787
Okey, this [solution](https://github.com/sveltejs/svelte/issues/4806#issuecomment-709642726) worked for me partly
<details>
  <summary>Console output</summary>

`warning package.json: No license field`
`$ sapper dev --no-hot`
`(node:11144) [DEP_WEBPACK_TEMPLATE_PATH_PLUGIN_REPLACE_PATH_VARIABLES_HASH] DeprecationWarning: [hash] is now [fullhash] (also consider using [chunkhash] or [contenthash], s

[2020-10-26 17:49] yash2189 commented on #789
@kantord Can you please review my PR #861?
Thanks.

[2020-10-27 07:38] kantord commented on #841
@Sheitak you don't need to deal with the Python part of the project, the frontend will work without Python. Feel free to skip dealing with Python at all :)

I don't want to tell you what exactly do to with the CSS, as figuring that out is basically the task itself. What I can tell you is that we don't want to use `float` for layout in ChallengePanel, so you have to replace that with a simple flexb

[2020-10-28 14:02] Sheitak commented on #841
@kantord It is very difficult for me to integrate flex-box well without viewing the application, but I have modified this, do not hesitate to tell me #867

[2020-10-28 16:19] kenanchristian commented on #852
Hi, @kantord I just give this a shot and requested a pull request at #868 Currently it only takes sizes for props. I'm not sure how to handle font-weight and alignment, please let me know if this good enough or do you have any feedbacks

Thanks!

[2020-10-29 05:50] #853 closed

[2020-10-31 09:24] kantord opened #874 "Design "opt-in for anonymous data collection" feature"
Currently we don't collect any data, except the bare minimum for the logged in features. I intend to keep it that way: I think it would be a huge mistake to collect usage data without the users explicit consent.

That being said, I think it would be nice if we could have an opt-in program where we'd track usage data and errors with the users consent.

I don't think this should really work as a coo

[2020-11-06 06:27] #852 closed

[2020-11-13 11:39] Lamdarer commented on #828
I think this is related:
https://github.com/kantord/LibreLingo/issues/814
https://github.com/kantord/LibreLingo/issues/813
Depending on how it is solved.

[2020-12-03 10:19] ciampix opened #920 "Documentation lacks a lot of intros for new devs etc."
It's missing an introduction to devs or wannebe:
1) the "why the project" ... I discovered of this article: https://dev.to/kantord/why-i-built-librelingo-280o via matrix... well at least put a link in the docs
2) which technology was used and why
3) Starting point to the development tools used (links to help new developers or wannabes become used to the tools / languages / libraries / etc.)
4) exa

[2020-12-08 08:25] kantord commented on #920
Thanks @ciampix

@allcontributors please add @ciampix for bug

[2020-12-13 14:55] kantord opened #940 "Collect statistics about courses"
**Is your feature request related to a problem? Please describe.**
Once course contribution is open to everyone on GitHub, it will be nice to establish some best practices.
While not all (or maybe only a few) of those best practices can be quantified, it's good to have some reference.

**Describe the solution you'd like**
Create a page with the following information

- Number of words in the cours

[2020-12-22 23:12] #557 closed

[2020-12-24 19:14] slesingerm opened #951 "Answer marked as incorrect in chips challenge if chips are reordered"
In the chips challenge, if you put the chips in the wrong order and then reorder so they are correct, you will still get an "incorrect answer" response. This seems to happen if chips are reordered after they were already placed into the sentence.

To reproduce: go to chips challenge, place chips into the sentence in random order, and then reorder so the sentence is correct. (Occasionally, it will

[2020-12-24 19:17] slesingerm opened #952 ""Continue/Submit" button disappears and chips stop reacting in Chips Challenge"
After reordering the chips and submitting an incorrect solution, the bottom bar disappeared. Afterwards, the chips stopped reacting to clicks as well. I had to reload/abandon and restart the course.

Not sure how exactly to emulate this error since it seems to happen only sometimes in the chips challenge.

![Screenshot from 2020-12-24 19-59-51](https://user-images.githubusercontent.com/62794315/10

[2020-12-25 08:37] kantord commented on #952
Thanks for reporting, @slesingerm !

[2020-12-25 08:39] kantord commented on #951
Thanks for reporting!

[2020-12-25 08:59] kantord commented on #920
As per:

I tackled that in this MR today: https://github.com/kantord/LibreLingo/pull/953

So I think it shouldnt' be an issue anymore :-)

[2020-12-25 09:00] kantord commented on #920
What do you exactly mean by that, @ciampix? Issues that would be easy to resolve?

[2020-12-25 09:01] kantord commented on #920
This should be probably a required part of code reviews, right? I also wonder if there are some automated ways of making sure that the docs don't get outdated? :thinking:

[2020-12-25 14:05] ciampix commented on #920
Exactly!

[2020-12-25 14:18] ciampix commented on #920
There are two types of docs generally: code/dev docs and user docs. The best place for code/dev docs is inside code itself so code is auto-documented (as it is with Python, Perl, Java etc. all these high level languages define some kind of embedded documentation directives - see Pods for Perl, autodocs for Python etc.). Instead user docs are meant for users. These docs should:
1) follow the same v

[2020-12-29 16:25] kantord opened #959 "Use Snowpack with Svelte"
**Is your feature request related to a problem? Please describe.**
Snowpack is available as a much faster alternative to Webpack.

**Describe the solution you'd like**
Adopt Snowpack for the local development environment of LibreLingo.
Everything should work as before. A couple things to check:

- yarn scripts (such as `yarn web dev`) work as expected
- running cypress locally works as expected
-

[2021-01-10 08:09] #251 closed

[2021-01-10 09:09] #595 closed

[2021-01-10 09:09] #596 closed

[2021-01-10 09:09] #597 closed

[2021-01-10 09:09] #598 closed

[2021-01-10 09:09] #599 closed

[2021-01-11 14:40] doamatto commented on #170
With the media query (I'm not sure how else you could do it), it will detect on any browser that declares the prefered theme (between the choices of `light` and `dark`).

From my quick and dirty research, it seems this may be the best course of action (although the last tagged release is pretty old; 2 years old).  In other news, there is [this PR](https://github.com/jgthms/bulma/pull/2425) for Bul

[2021-01-13 06:03] kantord commented on #170
Hi @doamatto ,

I just created a project where the CSS-in-JS thing can be tracked: https://github.com/kantord/LibreLingo/projects/11?add_cards_query=is%3Aopen

It doesn't (yet) have all the issues that we're going to need, because after those are going to be revising all the components in `lluis` and make sure that they don't depend on external CSS + that they use CSS variables. Once that's done,

[2021-01-13 06:17] doamatto commented on #170
Hey!

I'll try to resolve some issues in my free time. I completely understand the focus on course content. In the future, I may be able to contribute to French and Japanese courses.

Cheers
\- Matt ^-^